@media (max-width: 1400px) {
  .header .header_bottom .search .search_bar {
    width: 545px !important;
  }
}
@media (max-width: 1200px) {
  .header .header_bottom {
    padding-right: 0 !important;
  }
  .header .header_bottom .search {
    align-self: flex-end;
  }
  .header .header_bottom .search .search_bar {
    width: 500px !important;
  }
  .header .header_bottom .address {
    display: none;
  }
  .header .header_bottom .notification {
    display: none;
  }
  .header .header_bottom .message {
    display: none;
  }
}
@media (max-width: 992px) {
  .header .container-xxl {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header .header_bottom .search {
    display: none;
  }
  .header .header_bottom .logo {
    order: 2;
  }
  .header .header_bottom .user {
    order: 1;
  }
  .header .header_bottom .cart {
    order: 3;
  }
  .header .header_bottom .user .user_btn-dropdown {
    margin-right: unset;
  }
  .header .header_bottom .user .user_btn-dropdown img {
    margin-right: unset !important;
  }
  .footer {
    padding-top: unset;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: unset;
    padding-bottom: 12px;
    height: fit-content;
  }
  .header .header_bottom {
    min-height: 42px;
  }
  .header .header_bottom .search {
    display: none;
  }
  .header .header_bottom .logo {
    order: 2;
  }
  .header .header_bottom .logo img {
    width: 106px !important;
  }
  .header .header_bottom .user {
    order: 1;
  }
  .header .header_bottom .user img {
    width: 24px !important;
    height: 24px !important;
  }
  .header .header_bottom .cart {
    order: 3;
  }
  .header .header_bottom .cart button img {
    width: 24px !important;
  }
  .header .header_bottom .logo,
  .header .header_bottom .user,
  .header .header_bottom .cart {
    padding-bottom: 0;
    height: 42px;
  }
}