@import "./style.scss";

.home.container-xxl {
  background-color: transparent;
  .banner {
    .btn-switch-carousel {
      width: 16px !important;
      height: 16px !important;
      background-color: transparent !important;
      border-radius: 50% !important;
      border: 1px solid #ffffff !important;
      outline: none;
      background-clip: unset !important;
      box-sizing: border-box !important;
      opacity: 1 !important;
    }
    .btn-switch-carousel.active {
      background-color: #ffffff !important;
    }
  }
  .market-place {
    align-self: center;
    padding: 16px 51px 29px 51px;
    background-color: $white;
    display: flex;
    align-items: center;
    gap: 88px;
    width: fit-content;
    justify-content: center;
    text-wrap: nowrap;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 47px;
        height: 47px;
        object-fit: contain;
      }
      span {
        @extend .Roboto14;
        color: $black2;
      }
    }
  }
  .agri-solutions {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    a {
      flex: 1;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      span:first-of-type {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 101px;
        transform: rotate(180deg);
        background: linear-gradient(
          177.64deg,
          rgba(255, 255, 255, 0) 5.76%,
          #007b2b 69.18%,
          rgba(255, 255, 255, 0) 183.72%
        );
        z-index: 1;
      }
      span:last-of-type {
        position: absolute;
        top: 16px;
        text-transform: uppercase;
        @extend .Roboto20;
        font-weight: 600;
        color: $white;
        z-index: 2;
        background-color: transparent;
      }
      img {
        position: relative;
        width: 100%;
        object-fit: contain;
        box-shadow: 0px 1px 8px 0px #00000008;
      }
    }
  }
  .top-store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 14px 29px 14px;
    gap: 19px;
    margin-bottom: 24px;
    @extend .common-box-white;
    .top-store_title {
      align-self: start;
      @extend .Roboto22;
      font-weight: 500;
      color: $black1;
    }
    .top-store_list {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .item {
        flex: 1;
        border: 1px solid $gray3;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        .item_avatar {
          width: 100%;
          object-fit: contain;
        }
        .item_info {
          flex: 1;
          width: 100%;
          padding: 0px 8px;
          padding-bottom: 12px;
          .name {
            @extend .Roboto14;
            font-weight: 700;
            color: $black1;
            margin-bottom: 6px;
          }
          .stars {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            span {
              @extend .Roboto12;
              color: $gray0;
              font-weight: 500;
            }
          }
          .certification {
            padding: 3.5px 10px;
            border-radius: 3px;
            background-color: $blue1;
            text-align: center;
            align-content: center;
            @extend .Roboto12;
            font-weight: 500;
            color: $blue0;
          }
        }
      }
    }
  }
  .common-category {
    height: auto;
    padding: 58px 47px 46px 52px;
    position: relative;
    @extend .common-box-white;
    .common-category_title {
      position: absolute;
      top: 12px;
      left: 14px;
      @extend .Roboto22;
      font-weight: 500;
      color: $black1;
    }
    .common-category_list {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-column-gap: 41px;
      grid-row-gap: 32px;
      .item {
        width: 90px;
        height: 120px;
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        span {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.06px;
          text-align: center;
          text-wrap: nowrap;
        }
      }
    }
  }
  .common-group-product {
    margin-top: 24px;
    .common-group-product_title {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 11px;
      margin-bottom: 10px;
      width: 100%;
      font-weight: 500;
      color: $black1;
      @extend .Roboto22;
      @extend .common-box-white;
    }
    .common-group-product_list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      row-gap: 10px;
      .item {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @extend .common-box-white;
        .item_header {
          width: 100%;
          display: flex;
          gap: 12px;
          .logo {
            height: 100%;
            object-fit: contain;
          }
          .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            .title {
              @extend .Roboto14;
              font-weight: 700;
              color: $black1;
            }
            .follow {
              @extend .Roboto14;
              font-weight: 400;
              color: $gray0;
            }
            .address {
              @extend .Roboto14;
              font-weight: 400;
              color: $baseColor3;
            }
            .certificate {
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }
        }
        .item_products {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 10px;
          row-gap: 10px;
          .product {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 100%;
            min-height: 30px;
            img {
              width: 100%;
              object-fit: contain;
            }
            .info {
              display: flex;
              flex-direction: column;
              gap: 6px;
              .name {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                max-height: 3em; /* Chiều cao tối đa của span */
                line-height: 1.5em;
                @extend .Roboto14;
                font-weight: 400;
                color: $black1;
              }
              .sold {
                @extend .Roboto14;
                color: $gray1;
              }
              .cost {
                @extend .Roboto16;
                font-weight: 400;
              }
            }
          }
          .product:first-of-type {
            .info {
              .cost {
                color: $red0;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    .common-group-product_see-more {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 241px;
        height: 41px;
        border: 1px solid $blue0;
        border-radius: 6px;
        margin-top: 24px;
        margin-bottom: 32px;
        text-align: center;
        align-content: center;
        @extend .Roboto16;
        font-weight: 500;
        color: $blue0;
        text-transform: uppercase;
        &:hover {
          background-color: $blue0;
          color: $white;
        }
      }
    }
  }
}
