@import "./style.scss";
@media (max-width: 1400px) {
  .detail-product {
    .product-briefing {
      .product-briefing_left,
      .product-briefing_right {
        width: unset;
      }
    }
  }
  .detail-product
    .product-briefing
    .product-briefing_right
    .product-briefing_content
    .row:nth-of-type(3)
    .freeship {
    display: none;
  }
}
@media (max-width: 1200px) {
  .detail-product {
    .product-briefing {
      .product-briefing_left,
      .product-briefing_right {
        width: unset;
      }
      .product-briefing_right {
        .product-briefing_content {
          .row:nth-of-type(3) {
            .freeship {
              display: none;
            }
          }
          .row:nth-of-type(1) {
            .col {
              table,
              td,
              th {
                padding: 5px 10px;
              }
            }
          }
          .product-briefing_options {
            margin-left: 0;
          }
          .dambao {
            margin-left: 0;
          }
        }
      }
    }
    .related-product {
      .list-product {
        grid-template-columns: repeat(5, 1fr);
        .item-product:nth-of-type(n + 6) {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .detail-product
    .product-briefing
    .product-briefing_right
    .product-briefing_header
    .main-header
    h3 {
    font-size: 18px;
  }
  .detail-product
    .product-briefing
    .product-briefing_right
    .product-briefing_content
    .product-briefing_options {
    button {
      max-width: 230px;
    }
  }

  .detail-product
    .product-briefing
    .product-briefing_right
    .product-briefing_header
    .main-header
    .qrcode {
    display: none;
  }
  .detail-product .shop-info .shop-info_right {
    display: none;
  }
  .detail-product .product-briefing .product-briefing_left .img-other .list {
    @include scroll-custom();
  }
  .detail-product .related-product .list-product {
    grid-template-columns: repeat(6, 1fr);
    @include scroll-custom();
    .item-product {
      min-width: 185px;
    }
    .item-product:nth-of-type(n + 5) {
      display: flex;
    }
  }
}
@media (max-width: 768px) {
  .detail-product {
    .product-briefing {
      padding-bottom: 0;
    }
    .related-product {
      display: none;
    }
  }

  .detail-product .product-info #product-info_evaluation .post-list .post-item {
    .post-item_user {
      .l1 {
        span:first-of-type {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 18.2px;
          text-align: left;
        }
      }
    }
    .post-item_admin {
      gap: 6px;
      padding: 10px;
      .l1 {
        span:first-of-type {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 16.2px;
          text-align: left;
        }
      }
      .l2 {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    display: none;
  }
  .filter-container {
    display: none;
  }
  .breadcrumb-container {
    display: none;
  }
  .container-xxl {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .detail-product {
    .product-briefing {
      padding: 0;
      margin-bottom: 10px;

      .row {
        --bs-gutter-x: 0px !important;
      }
      .product-briefing_left {
        position: relative;
        width: 100%;
        .img-container {
          margin: unset;
          position: relative;
          .img-zoom-review {
            display: none !important;
          }
          .img-zoom-area {
            display: none !important;
          }
          .btn-return {
            width: 30px;
            height: 30px;
            padding: 6px 4px;
            border-radius: 50%;
            background-color: #d9d9d9;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 16px;
            left: 16px;
            img {
              width: 100%;
              object-fit: contain;
            }
          }
          .btn-cart {
            padding: auto;
            @extend .btn-return;
            left: auto;
            right: 16px;
          }
        }
      }
      .product-briefing_right {
        .product-briefing_header {
          width: 100%;
          .main-header {
            padding-left: 20px;
            padding-right: 20px;
            gap: 8px;
            width: 100%;
            padding-top: 16px;
            .title {
              order: 1;
              margin-bottom: unset;
              h3 {
                @include ellipsis-2-line();
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                margin-bottom: 0;
              }
            }
            .product-cost {
              order: 2;
              font-family: Roboto;
              font-size: 18px;
              font-weight: 700;
              line-height: 21.09px;
              text-align: left;
              color: #00bc3c;
            }
            .preview {
              order: 3;
              margin-bottom: unset;
              .common {
                .text {
                  text-decoration: none;
                }
                .stars {
                  img:nth-of-type(n + 2) {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .product-briefing_content {
          display: none;
        }
      }
    }
    .shop-info {
      padding-left: 20px;
      padding-right: 20px;
      justify-content: start;
      border-radius: 0;
      margin-bottom: 10px;
      .shop-info_right {
        display: none;
      }
    }
    .product-info {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 12px;
      margin-bottom: 10px;
      border-radius: 0;
      margin-bottom: 0;
      padding: 0;

      .nav.nav-tabs {
        display: none;
      }
      #product-info_description {
        padding: 0;
        padding: 12px 16px;
        margin-bottom: unset;
        .description-first {
          .description-first_main {
            .row {
              .col:nth-of-type(1) {
                max-width: 150px;
              }
            }
          }
        }
      }
      .divideH.tabs-separate {
        width: 100%;
        min-height: 8px;
        background-color: #f0f0f0;
      }
      #product-info_evaluation {
        padding: 12px 16px;
        .evaluation-header {
          .stars {
            width: 100%;
            .top {
              span:nth-of-type(2) {
                text-wrap: nowrap;
              }
            }
            .list {
              width: 100%;
              .item {
                .progress {
                  width: 100%;
                  max-width: 170px;
                  height: 5px;
                }
              }
            }
          }
        }
        .post-list {
          .post-item {
            .post-item_user {
              width: 100%;
              .l1 {
                gap: unset;
                justify-content: space-between;
                .user_avatar {
                  width: 40px;
                  height: 40px;
                  object-fit: contain;
                }
              }
            }
            .post-item_admin {
              border-radius: 4px;
              .l1 {
                span:first-of-type::after {
                  content: "Phản hồi của người bán:";
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .detail-product .shop-info .shop-info_left {
    .main-info {
      .i3 {
        display: none;
      }
    }
  }
}
