// Color
$color1: #22ed74;
$color2: #1ed166;
$color3: #12803f;
$color4: #073419;
$color5: #29ab56;
$color6: #62cd71;
$color7: #1ab357;
$color8: #22af5b;
$color9: #22aa00;
$color10: #29ab56;
$colorText: #1a1a1a;
$colorText2: #007b2b;

// Font-size
$fontsize_light: 12px;
$fontsize_medium: 14px;
$fontsize_large: 20px;

// BREAKPOINTS
$breakpointSmall: 576px;
$breakpointMedium: 768px;
$breakpointLarge: 992px;
$breakpointExtraLarge: 1200px;
$breakpointEELarge: 1400px;
