@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "variable";
* {
  font-family: "Roboto", sans-serif;
}
ul,
li {
  list-style-type: none;
}
body {
  background-color: #f5f5f7;
}
a {
  text-decoration: none;
}

.modal-scroll-lock {
  overflow: hidden;
}

.active-modal-filter {
  transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 40 !important;
  transition: 0.3s ease-in-out !important;
}

.headerMb-Fixed {
  position: fixed;
  top: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 22;
  background-color: #ffff;
}

.filter-categories {
  width: 100%;
  &__container {
    .row {
      .custom-col {
        &:first-child {
          overflow: hidden;
          .title-filter {
            p {
              padding-top: 10px;
              margin-bottom: 20px;
              padding-left: 0;
              .text {
                font-weight: 700;
                font-size: 20px;
                cursor: pointer;
                padding-left: 10px;
              }
            }
          }

          .filter-section {
            padding-bottom: 20px;
            border-bottom: 1px solid #cccccc;
            p {
              margin-bottom: 20px;
              padding-left: 0;
            }
            ul {
              margin-bottom: 0;
              padding-left: 0;
              gap: 10px;
              li {
                color: #333333;
                font-size: 13px;
                font-weight: 400;
                a {
                  color: #333333;
                  font-size: 13px;
                }
              }
            }
          }

          .category {
            padding-bottom: 20px;
            border-bottom: 1px solid #cccccc;
            p {
              margin-bottom: 20px;
              padding-left: 0;
            }
            ul {
              margin-bottom: 0;
              padding-left: 0;
              gap: 10px;
              li {
                color: #333333;
                label {
                  font-size: 13px;
                }
                font-weight: 400;
              }
            }
          }

          .transportation {
            padding-top: 20px;
            ul {
              li {
                input {
                  width: 15px;
                  height: 15px;
                }
                label {
                  padding-left: 10px;
                }
              }
            }
          }

          .price-range {
            padding-top: 20px;
            ul {
              width: 100%;
              padding-bottom: 20px;
              li {
                width: 45%;
                input {
                  width: 100%;
                  border: none;
                  outline: none;
                  padding: 4px 8px;
                  background-color: transparent;
                  border: 1px solid #cccccc;
                  border-radius: 4px;
                }
              }
            }
            button {
              border: none;
              outline: none;
              width: 100%;
              padding: 6px 0;
              font-size: $fontsize_light;
              font-weight: 700;
              color: #ffff;
              border: 1px solid #00bc3c;
              background-color: #00bc3c;
              border-radius: 4px;
              transition: 0.3s ease-in-out;
              &:hover {
                background-color: #ffff;
                border: 1px solid #00bc3c;
                color: #00bc3c;
              }
            }
          }

          .rating {
            padding-top: 20px;
            ul {
              li a {
                span {
                  &:first-child {
                    margin-right: 10px;
                  }
                }
              }
            }
          }

          .trademark {
            padding-top: 20px;
            ul {
              li a {
                input {
                  width: 15px;
                  height: 15px;
                }
                label {
                  padding-left: 10px;
                }
              }
            }
          }

          .delete {
            padding-top: 20px;
            p {
              margin-bottom: 0;
              padding-left: 0;
            }
          }
        }

        &:last-child {
          overflow: hidden;
          .sorted-by {
            background-color: #e3e3e3;
            padding: 8px;
            border-radius: 4px;
            .left {
              p {
                margin-bottom: 0;
                padding-left: 0;
              }
              ul {
                margin-left: 48px;
                margin-bottom: 0;
                padding-left: 0;
                gap: 14px;
                li {
                  padding: 5px 16px;
                  background-color: #ffff;
                  cursor: pointer;
                  a {
                    color: #000000;
                  }
                  &:first-child {
                    background-color: $color10;
                    a {
                      color: #ffff;
                    }
                  }
                  &:last-child {
                    width: 139px;
                    padding: 5px 10px;
                  }
                }
              }
            }

            .right {
              span {
                &:first-child {
                  line-height: 100%;
                  margin-right: 9px;
                }
              }
            }
          }

          .categories-items {
            margin-top: 17px;
            width: 100%;
            .grid-items {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              grid-template-rows: repeat(5, 1fr);
              gap: 12px;
              .card {
                cursor: pointer;

                .img {
                  position: relative;
                  .mall {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    margin-bottom: 0;
                    padding-left: 0;
                    padding: 0 3px;
                    border-radius: 4px;
                    background-color: #ffff;
                    li {
                      img {
                        width: 30px;
                      }
                      &:first-child {
                        span {
                          background-color: $color10;
                          padding: 2px 8px;
                          border-radius: 3px;
                        }
                      }
                    }
                  }

                  .sale {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    background-color: #f69320;
                    border-radius: 0 4px 0 0;
                    font-size: $fontsize_light;
                    padding: 4px;
                    color: #ffff;
                    &::before {
                      position: absolute;
                      content: "";
                      top: 100%;
                      right: 0;
                      width: 0;
                      height: 0;
                      border-right: 16px solid #f69320;
                      border-bottom: 8px solid transparent;
                    }

                    &::after {
                      position: absolute;
                      content: "";
                      top: 100%;
                      left: 0;
                      width: 0;
                      height: 0;
                      border-left: 16px solid #f69320;
                      border-bottom: 8px solid transparent;
                    }
                  }

                  .freeship {
                    position: absolute;
                    bottom: 0;
                    background-color: #008129;
                    span {
                      color: #ffff;
                      font-weight: 700;
                      font-size: $fontsize_light;
                      padding: 4px 6px;
                      &:first-child {
                        background-color: #00bc3c;
                      }
                      &:last-child {
                        padding-left: 12px;
                        padding-right: 12px;
                      }
                    }
                  }
                }

                .card-body {
                  padding: 10px;
                  .card-title {
                    font-size: $fontsize_medium;
                    font-weight: 400;
                    margin-bottom: 0;
                  }
                  .card-text {
                    margin-bottom: 0;
                    &:nth-child(2) {
                      padding-top: 10px;
                    }
                    &:nth-child(3) {
                      padding-bottom: 10px;
                    }
                  }
                }
              }
            }
          }

          .pagination {
            width: 100%;
            margin-top: 24px;
            padding-bottom: 42px;
            ul {
              margin-bottom: 0;
              padding-left: 0;
              margin: 0 auto;
              gap: 5px;
              li {
                padding: 0 10px;
                cursor: pointer;
                background-color: #ffff;
                a {
                  color: #4f4f4f;
                }
              }
              .active-pagi {
                background-color: #29ab56;
                a {
                  color: #ffff;
                }
              }
            }
          }
        }
      }
      &:first-child {
        .header-filterMb {
          .back,
          .search-form,
          .filterPopup {
            display: none !important;
          }
        }
        .sort-filterMb {
          ul {
            display: none;
          }
        }
      }
    }
  }
}
