@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "variable";
* {
  font-family: "Roboto", sans-serif;
}
ul,
li {
  list-style-type: none;
}
body {
  background-color: #f5f5f7;
}
a {
  text-decoration: none;
}
.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .show {
//   display: flex !important;
//   align-items: center !important;
//   justify-content: center !important;
//   flex-direction: column !important;
// }
.modal {
  margin: 0 !important;
  overflow: hidden;
  .modal-dialog {
    width: 100%;
    height: 100%;
  }
}
.modal-content {
  border-radius: 2px;
  border-radius: 4px;
  .modal-header {
    border: none;
    p {
      margin-bottom: 0;
      padding-left: 0;
      font-size: 24px;
      font-weight: 400;
    }
  }
  .modal-body {
    padding-top: 0;
    gap: 8px;
    input,
    button {
      border: none;
      outline: none;
      width: 100%;
      padding: 12px 16px;
      border-radius: 4px;
    }
    input {
      border: 1px solid rgba(0, 24, 107, 0.5);
    }
    button {
      background-color: $color9;
      color: #ffff;
    }
    a {
      color: $color10;
    }
  }
  .modal-footer {
    border-top: 1px solid #0000;
    ul {
      margin-bottom: 0;
      padding-left: 0;
      li {
        padding: 0 12px;
        margin-top: 26px;
        margin-bottom: 0;
        cursor: pointer;
      }
      &:first-child {
        width: 100%;
        li {
          &:first-child {
            width: 30%;
            height: 0.5px;
            background-color: #000000;
          }
          &:nth-child(2) {
            flex: 1;
            text-align: center;
            color: #427920;
          }
          &:last-child {
            width: 30%;
            height: 0.5px;
            background-color: #393939;
          }
        }
      }
    }
    a {
      font-size: 12px;
      font-weight: 400;
      color: #393939;
      span {
        text-decoration: underline;
      }
    }
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}
