//Css Header
header {
  background: #1ab357;
  .container {
    padding: 0;
    .Ommani-Header {
      .Nav-Header {
        padding: 0;
        margin: 0;

        &_Left {
          padding: 0;
          list-style-type: none;
          gap: 12px;
          .nav-item {
            &:not(:last-child):after {
              content: '';
              border-left: 1px solid white;
              margin-left: 12px;
            }
            a {
              font-size: 12px;
              font-weight: 400;
              line-height: 14.06px;
              text-decoration: none;
              color: white;
            }
          }
        }
        &_Right {
          list-style-type: none;
          gap: 12px;
          .nav-item {
            a {
              font-size: 12px;
              font-weight: 400;
              line-height: 14.06px;
              text-align: left;
              text-decoration: none;
              color: white;
            }
          }
        }
      }
      .Header-Content {
        gap: 40px;
        .Map-Header {
          padding-top: 8px;
          .dropdown {
            padding: 0;
            border-color: #1ab357;

            a {
              border-color: #1ab357;
              padding: 0;
              color: white;
            }
            .dropdown-menu {
              a {
                color: black;
              }
            }
          }
        }
        .Search-Header {
          .Search-Block {
            .dropdown {
              width: 40%;
              background-color: white;
            }
            background-color: white;
            gap: 10px;
            border-radius: 8px 8px 8px 8px;
            // .select-value {
            // }
            input {
              width: 50%;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.41px;
              border: none;
              border-left: 1px solid #9794a6;
              padding-left: 10px;
            }
            .span {
              .img-btnFind {
                padding: 0;
              }
            }
          }
          .Search-Fast {
            ul.list-search {
              padding: 0;
              margin: 0;
              list-style-type: none;
              li {
                padding: 0;
                a {
                  text-decoration: none;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 14.06px;
                  color: white;
                  padding-left: 10px;
                  margin: 0;
                }
              }
            }
          }
        }
        .Icon-Header {
          .img-icon {
            gap: 26px;
            .img-iconchuong {
              padding-top: 8px;
            }
          }
          .link_DangNhap {
            padding-top: 8px;
            align-items: self-start;
            .btn {
              margin-left: 8px;
              padding: 0;
              color: white;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.41px;
            }
          }
        }
        .GioHang-none {
          display: none;
        }
      }
    }
  }
}
