<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm ABC XYZ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/screen-responsive.css">
    <link rel="stylesheet" href="/styles/product-detail/product-style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes">
</head>
<body>
    <header>
        <div class="mt-5 mb-3">
            <img class="d-block mx-auto" src="/resources/img/system/company/Logo-Farm.png" alt="">
        </div>
        <h1 class="bg-green text-white text-uppercase text-center py-2">Truy Xuất nguồn gốc</h1>
    </header>
    <div class="body">
        <div class="text-green text-center h1 py-2 fw-bold">Công ty TNHH Thành Công</div>
    </div>
    <footer class="footer-lite bg-green container-fluid text-white text-center py-4 h5">©2022 Bản quyền của Công ty TNHH Ommani Farm</footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <script src="/js/product-detail/product-detail.js"></script>
</body>
</html>