<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm ABC XYZ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/screen-responsive.css">
    <link rel="stylesheet" href="/styles/product-detail/product-style.css">
    <link rel="stylesheet" href="/styles/product-detail/product-responsive.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
</head>
<body>
    <header class="wide-screen-header bg-green text-white d-flex flex-column align-items-center">
        <div class="helper mb-3 container py-1">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="helper-left d-flex">
                    <a href="#" class="text-decoration-none text-white"><small class="px-2">Kênh người bán</small></a>
                    <div class="vr rounded my-1"></div>
                    <a href="#" class="text-decoration-none text-white"><small class="px-2 border-white">Trở thành người bán</small></a>
                    <div class="vr rounded my-1"></div>
                    <a href="#" class="text-decoration-none text-white"><small class="px-2 border-white">Download App</small></a>
                    <div class="vr rounded my-1"></div>
                    <a href="#" class="text-decoration-none text-white"><small class="px-2 border-white">Kết nối</small></a>
                </div>
                <div class="helper-right d-flex">
                    <a href="#" class="text-decoration-none text-white"><small class="px-2">OCOP</small></a>
                    <a href="#" class="text-decoration-none text-white"><small class="px-2">Hỗ trợ thông tin</small></a>
                    <a href="#" class="text-decoration-none text-white"><small class="px-2">Vận chuyển</small></a>
                    
                </div>
            </div>
        </div>
        <div class="toolbar d-flex justify-content-between container flex-wrap">
            <a href="#" class="text-white text-decoration-none brand">
                <div class="h3 mb-0 text-upperCase text-center lh-1">Ommanilife</div>
                <small class="text-center text-nowrap lh-1">Năng lượng cuộc sống</small>
            </a>
            <div class="location px-3 align-items-center">
                <a href="#" class=" text-decoration-none text-white d-flex align-items-center">
                    <img src="/resources/img/icons/location-pin.svg" class="size-47px py-2" alt="" srcset="">
                    <div class="text-nowrap">Thanh Xuân</div>
                    <small><i class="fas fa-chevron-down px-2"></i></small>
                </a>
            </div>
            <div class="ms-2 searchbar flex-fill">
                <div class="input-group rounded bg-white p-1 btn-group">
                    <div class="btn-group">
                        <button id="btn-category" class="border-0 btn text-black text-light-green" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Sản phẩm<i class="px-1 fas fa-chevron-down text-light-green"></i></button>
                        <ul class="dropdown-menu rounded-0">
                            <a href="#" class="py-2 dropdown-item bg-white-to-green-hover">Shop</a>
                            <a href="#" class="py-2 dropdown-item bg-white-to-green-hover">Cửa hàng</a>
                            <a href="#" class="py-2 dropdown-item bg-white-to-green-hover">Store</a>
                        </ul>
                    </div>
                    <input type="text" class="no-focus-ring border-0 form-control" placeholder="Nhập sản phẩm cần tìm kiếm"  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <button class="rounded-end border-0 btn-success size-47px"><img class="p-1 w-100 text-white" src="/resources/img/icons/search.svg"/></button>
                    <ul class="start-25 translate-middle-bottom bottom-100 dropdown-menu w-100">
                        <a href="#" class="py-3 dropdown-item bg-white bg-white-to-green-hover">Bông cải Hường</a>
                        <a href="#" class="py-3 dropdown-item bg-white bg-white-to-green-hover">Cửa hàng</a>
                        <a href="#" class="py-3 dropdown-item bg-white bg-white-to-green-hover">Store</a>
                    </ul>
                </div>
                <div class="pt-1 d-flex recommendation flex-wrap overflow-hidden">
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">Trái cây</a></span>
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">trứng sữa</a></span>
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">thịt boà</a></span>
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">thịt choá</a></span>
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">sữa bột, sữa tươi</a></span>
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">gạo, mì ăn liền</a></span>
                    <span class="pe-3 text-nowrap"><a href="#" class="text-decoration-none text-white">bánh, kẹo</a></span>
                </div>
            </div>
            <div class="right d-flex">
                <div class="tools d-flex px-2 gap-2">
                    <div class="position-relative tool-noti">
                        <div class="noti-sign">
                            <a href="#"><i class="far fa-bell text-white h3 p-2"></i></a>
                        </div>
                    </div>
                    <div class="position-relative tool-comment">
                        <a href="#" class="noti-sign"><i class="far fa-comment text-white h3 p-2"></i>
                        </a>
                    </div>
                    <div class="position-relative">
                        <div class="dropdown">
                            <a href="123" class="noti-sign">
                                <img src="/resources/img/icons/cart.svg" class="size-47px py-2"></img>
                            </a>
                            <ul class="dropdown-menu rounded-0 top-100 end-0 bg-transparent">
                                <li class="arrow-up-shape-right"></li>
                                <div class="text-muted small bg-white p-2">Sản phẩm mới thêm</div>
                                <li class="bg-white py-1">
                                    <a href="#" class="dropdown-item">
                                        <div class="cart-product d-flex">
                                            <div class="cart-product-info d-flex gap-4 text-green-to-white-hover">
                                                <div class="img overflow-hidden">
                                                    <img src="/resources/img/products/products-images/236699cc738a5aec082af43498cd728a.png" class="size-47px" alt="">
                                                </div>
                                                <div class="name maxw-250px overflow-dot-1">Bông cải xanh 100g nội địa Nhật Bản hàng tươi 100%</div>
                                            </div>
                                            <div class="cart-product-price text-green-to-white-hover text-green">₫ 59.000</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="bg-white py-1">
                                    <a href="#" class="dropdown-item">
                                        <div class="cart-product d-flex">
                                            <div class="cart-product-info d-flex gap-4 text-green-to-white-hover">
                                                <div class="img overflow-hidden">
                                                    <img src="/resources/img/products/products-images/b37a8ebbd8545a0bfd53afc0c0ee7ef4.png" class="size-47px" alt="">
                                                </div>
                                                <div class="name maxw-250px overflow-dot-1">Bông cải xanh 100g nội địa Nhật Bản hàng tươi 100%</div>
                                            </div>
                                            <div class="cart-product-price text-green-to-white-hover text-green">₫ 59.000</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="bg-white py-1">
                                    <a href="#" class="dropdown-item">
                                        <div class="cart-product d-flex">
                                            <div class="cart-product-info d-flex gap-4 text-green-to-white-hover">
                                                <div class="img overflow-hidden">
                                                    <img src="/resources/img/products/products-images/dc59629c69a4812772932558a725b25f.png" class="size-47px" alt="">
                                                </div>
                                                <div class="name maxw-250px overflow-dot-1">Bông cải xanh 100g nội địa Nhật Bản hàng tươi 100%</div>
                                            </div>
                                            <div class="cart-product-price text-green-to-white-hover text-green">₫ 59.000</div>
                                        </div>
                                    </a>
                                </li>
                                <div class="total-section bg-white d-flex p-3 justify-content-between">
                                    <div class="text-muted">X thêm vào giỏ hàng</div>
                                    <button class="btn bg-green-btn text-white">Xem giỏ hàng</button>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="user-section px-2">
                    <div class="dropdown">
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none text-white"><i class="far fa-user-circle h3 pt-2 pe-2"></i></a>
                            <div>
                                <div><a href="/views/login/login.html" class="text-decoration-none text-white lh-1 text-nowrap">Đăng nhập</a></div>   
                                <div><a href="/views/login/signup.html" class="text-decoration-none text-white lh-1 text-nowrap">Đăng ký</a></div>
                            </div>
                        </div>
                        <ul class="dropdown-menu p-0 bg-transparent">
                            <li class="w-100"><div class="arrow-up-shape ms-2"></div></li>
                            <li><a class="dropdown-item text-green bg-white w-100" href="/views/login/login.html">Đăng nhập</a></li>
                            <li><a class="dropdown-item text-green bg-white w-100" href="/views/login/signup.html">Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="mobile-header container-fluid bg-green pt-3 text-white d-flex flex-column align-items-center d-none">
        <div class="header-upper d-flex justify-content-between align-items-center mt-5">
            <div class="dropdown">
                <a href="#" class="btn border-0 user-icon text-decoration-none text-white py-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="far fa-user-circle h3"></i>
                </a>
                <ul class="dropdown-menu p-0 bg-transparent">
                    <li class="w-100"><div class="arrow-up-shape ms-3"></div></li>
                    <li><a class="dropdown-item text-green bg-white w-100" href="/views/login/login.html">Đăng nhập</a></li>
                    <li><a class="dropdown-item text-green bg-white w-100" href="/views/login/signup.html">Đăng ký</a></li>
                </ul>
            </div>
            <a href="#" class="text-white text-decoraion-none brand">
                <div class="h3 mb-0 text-upperCase text-center lh-1">Ommanilife</div>
                <small class="text-center text-nowrap lh-1">Năng lượng cuộc sống</small>
            </a>
            <div class="position-relative">
                <div class="dropdown z-2">
                    <a href="123" class="noti-sign">
                        <img src="/resources/img/icons/cart.svg" class="size-47px py-2"></img>
                    </a>
                    <ul class="dropdown-menu rounded-0 top-100 end-0 bg-transparent">
                        <li class="arrow-up-shape-right"></li>
                        <div class="text-muted small bg-white p-2">Sản phẩm mới thêm</div>
                        <li class="bg-white py-1">
                            <a href="#" class="dropdown-item">
                                <div class="cart-product d-flex">
                                    <div class="cart-product-info d-flex gap-4 text-green-to-white-hover">
                                        <div class="img overflow-hidden">
                                            <img src="/resources/img/products/products-images/236699cc738a5aec082af43498cd728a.png" class="size-47px" alt="">
                                        </div>
                                        <div class="name maxw-250px overflow-dot-1">Bông cải xanh 100g nội địa Nhật Bản hàng tươi 100%</div>
                                    </div>
                                    <div class="cart-product-price text-green-to-white-hover text-green">₫ 59.000</div>
                                </div>
                            </a>
                        </li>
                        <li class="bg-white py-1">
                            <a href="#" class="dropdown-item">
                                <div class="cart-product d-flex">
                                    <div class="cart-product-info d-flex gap-4 text-green-to-white-hover">
                                        <div class="img overflow-hidden">
                                            <img src="/resources/img/products/products-images/b37a8ebbd8545a0bfd53afc0c0ee7ef4.png" class="size-47px" alt="">
                                        </div>
                                        <div class="name maxw-250px overflow-dot-1">Bông cải xanh 100g nội địa Nhật Bản hàng tươi 100%</div>
                                    </div>
                                    <div class="cart-product-price text-green-to-white-hover text-green">₫ 59.000</div>
                                </div>
                            </a>
                        </li>
                        <li class="bg-white py-1">
                            <a href="#" class="dropdown-item">
                                <div class="cart-product d-flex">
                                    <div class="cart-product-info d-flex gap-4 text-green-to-white-hover">
                                        <div class="img overflow-hidden">
                                            <img src="/resources/img/products/products-images/dc59629c69a4812772932558a725b25f.png" class="size-47px" alt="">
                                        </div>
                                        <div class="name maxw-250px overflow-dot-1">Bông cải xanh 100g nội địa Nhật Bản hàng tươi 100%</div>
                                    </div>
                                    <div class="cart-product-price text-green-to-white-hover text-green">₫ 59.000</div>
                                </div>
                            </a>
                        </li>
                        <div class="total-section bg-white d-flex p-3 justify-content-between">
                            <div class="text-muted">X thêm vào giỏ hàng</div>
                            <button class="btn bg-green-btn text-white">Xem giỏ hàng</button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower w-100 py-2">
            <div class="btn-group rounded-0 bg-white p-1 w-100">
                <button class="btn btn-light bg-white border-0 size-47px fit-ct"><i class="fas fa-search text-grey"></i></button>
                <input type="text" class="no-focus-ring border-0 form-control text-grey" placeholder="Nhập sản phẩm cần tìm kiếm" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <ul class="dropdown-menu rounded-0 w-100 bg-transparent z-1">
                    <a href="#" class="py-2 ms-1 dropdown-item bg-white-to-green-hover bg-white">Shop</a>
                    <a href="#" class="py-2 ms-1 dropdown-item bg-white-to-green-hover bg-white">Cửa hàng</a>
                    <a href="#" class="py-2 ms-1 dropdown-item bg-white-to-green-hover bg-white">Store</a>
                </ul>
            </div>
        </div>
    </header>
    <div class="body w-100 bg-outer-grey pb-2">
        <div class="body-top bg-white w-100">
            <div class="inside d-flex p-0 gap-4 container">
                <a href="#" class="d-flex align-items-center  fw-bold text-decoration-none">
                    <img class="size-47px py-2" src="/resources/img/icons/grid.svg" alt="" srcset="">
                    <span class="text-dark-green">Tất cả</span>
                </a>
                <a href="#" class="d-flex align-items-center fw-bold text-decoration-none">
                    <i class="far fa-map text-dark-green h5 pt-2 pe-2"></i>
                    <span class="text-dark-green">Tìm theo vị trí</span>
                </a>
            </div>
        </div>
        <div class="body-body container">
            <div class="shop-top overflow-hidden position-relative">
                <img class="w-100" src="https://s3-alpha-sig.figma.com/img/f510/feed/32fbf5fd016b7beec482d71381b9900f?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mS1qAN~TZm9qBK9wiwqF1NpMCwwUOGzO9jVR6zOCBrxxc6zfLuyHqpR2yEuTg9ttI5KCDH48a6hjOrw2wlucgg786ca0uXPBZFql1a~-bJsLDxlA5vgC9ELEFovKi3HgNZEhWcGTAxGLZ1GlLY7tH7dQjj21idGguASVmcOW-6ZZG4XBFIp71yHriyIklbm7jwGzNZLMxGtReskO9066xFeAatYsDKkgwh~GLoI8J0H7OXq7RRY2qdzLGGn37RWW4g9xI3XO7xz~ymqrFj9b3puM~2B5adoUo~CImIp5o~wDSYMuTXsYrwa4W3SRQrP3Lf7b~OdmPDUFzicuUsjOOQ__" alt="">
                <div class="shop-top-info rounded bg-white bottom-0 start-0 z-3 ms-3 mb-3 shop-top-info position-absolute">
                    <div class="p-3">
                        <div class="d-flex gap-3">
                            <div class="shop-top-info-img">
                                <img class="size-90px" src="https://s3-alpha-sig.figma.com/img/2d9c/f95c/c967bcf947cb2410b5b36f973863fccd?Expires=1721001600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=g9JLmPe6hjsPfYvls~~EF1fE2o2mXKrrlFiuLKmcermhI--PngikBlk8PwbsJOtJ5aY3mTzGRhxQxzNqqsGeyTMAQ1oXpyZwAvvP5A~-fKpcMU~2YqadsTdx4TTKlEC7j1QsrCVZ0OPzlZocTBDm05bXY2YxACiMie67lxbeDrjFGWVhU2tWUgoeORH3e1I0nsbROzgWC~8lTQpxgzRMngxL6ZnTbD6glNA70xL0AFqC8HTBWxSSOGiybDplcSj8xW8eRXbtkR-hKMQfDq5blwkBbqMFfNO5EUGJZ9wQKTNBBidFzsfD4NlwmgGxvgY2amsf8ri6CHIthCi382Lp2Q__" alt="">
                            </div>
                            <div class="shop-top-info-text">
                                <div class="shop-name fw-bold">Ommani Mall Thạch Bàn Long Biên</div>
                                <div class="features d-flex gap-2">
                                    <div class="rating"><i class="fas fa-star text-yellow"></i><span class="text-grey"><span>4.8 </span><span> (11k+)</span></span></div>
                                    <div class="shipment text-uppercase text-green">Giao nhanh</div>
                                </div>
                                <div class="follower d-flex gap-2">
                                    <div class="follow-btn pt-2">
                                        <button class="rounded-1 p-0 px-2 btn text-green bg-light-success"><i class="fas fa-add me-2"></i>Theo dõi</button>
                                    </div>
                                    <div class="shop-info-followers d-flex fw-bold align-items-center justify-content-center gap-3">
                                        <div class="follower-img d-flex">
                                            <div class="size-16px">
                                                <img class="rounded-circle border border-2 border-white size-24px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvtZSXoa7lU0IBaV41q5B1awCYijsFF5Sh-Q&s" alt="">
                                            </div>
                                            <div class="size-16px">
                                                <img class="rounded-circle border border-2 border-white size-24px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvtZSXoa7lU0IBaV41q5B1awCYijsFF5Sh-Q&s" alt="">
                                            </div>
                                            <div class="size-16px">
                                                <img class="rounded-circle border border-2 border-white size-24px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvtZSXoa7lU0IBaV41q5B1awCYijsFF5Sh-Q&s" alt="">
                                            </div>
                                            <div class="size-16px">
                                                <img class="rounded-circle border border-2 border-white size-24px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvtZSXoa7lU0IBaV41q5B1awCYijsFF5Sh-Q&s" alt="">
                                            </div>
                                            <div class="size-16px">
                                                <img class="rounded-circle border border-2 border-white size-24px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvtZSXoa7lU0IBaV41q5B1awCYijsFF5Sh-Q&s" alt="">
                                            </div>
                                        </div>
                                        <div class="follower-amount d-flex pt-2 gap-1">
                                            <span class="text-green">1.2k</span>
                                            <span>Theo dõi gian hàng</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-cert d-flex gap-2 justify-content-end">
                            <div>
                                <img class="h-40px" src="/resources/img/products/products-shop-cert/37ddf198b80b169213abef43a5731550.png" alt="">
                            </div>
                            <div>
                                <img class="h-40px" src="/resources/img/products/products-shop-cert/5610a3200c3462306c91164d3fd02da2.png" alt="">
                            </div>
                            <div>
                                <img class="h-40px" src="/resources/img/products/products-shop-cert/451a35345460879b6cb354fe1ace60a9.png" alt="">
                            </div>
                            <div>
                                <img class="h-40px" src="/resources/img/products/products-shop-cert/89d7ff52853185d12d486deb861203ee.png" alt="">
                            </div>
                            <div>
                                <img class="h-40px" src="/resources/img/products/products-shop-cert/99fe845a8e040148509c523809855d68.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap-3 shop-top-interaction bg-transparent d-flex me-3 mb-3 position-absolute bottom-0 end-0">
                    <button class="btn btn-outline-success bg-grey fs-17px">Chat ngay <i class="far fa-comment text-green fs-17px ms-2"></i></button>
                    <button class="btn btn-outline-success bg-grey fs-17px"><i class="fas fa-link text-green fs-17px"></i></button>
                </div>
            </div>
            <div class="shop-tab">
                <nav class="container-fluid bg-white m-0 p-0">
                    <div class="nav nav-tabs w-100 justify-content-between border-0" id="nav-tab" role="tablist">
                      <div class="nav-link col border-0 position-relative active text-center text-green rounded-0" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><div class="nav-text w-100">Trang chủ</div></div>
                      <div class="nav-link col border-0 position-relative rounded-0 text-green text-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-products" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><div class="nav-text w-100">Sản phẩm</div></div>
                      <div class="nav-link col border-0 position-relative rounded-0 text-green text-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-shop-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><div class="nav-text w-100">Hồ sơ doanh nghiệp</div></div>
                      <div class="nav-link col border-0 position-relative rounded-0 text-green text-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-brand" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><div class="nav-text w-100">Thương hiệu</div></div>
                      <div class="nav-link col border-0 position-relative rounded-0 text-green text-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><div class="nav-text w-100">Liên hệ</div></div>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <div class="body-body-content mt-4">
                            <div class="top-list-product bg-white p-3">
                                <div class="top-list-product-title fst-italic text-orange h2 fw-bold">Sản phẩm nổi bật</div>
                                <div class="top-list-product-list w-100 overflow-scroll hideScrollBar">
                                    <div class="d-flex flex-no-wrap fit-ct gap-2">
                                        <div class="list-item w-120px">
                                            <img class="size-120px object-fit-cover object-center rounded-3 border-success border" src="/resources/img/products/products-images/236699cc738a5aec082af43498cd728a.png" alt="">
                                            <div class="list-item-name overflow-dot text-wrap">Bông cải xanh 100g Từ Zũ Hán Trung Quốc héo queo héo quắt nhưng vẫn ăn được</div>
                                            <div class="list-item-price text-end fw-bold text-orange">123.000 đ</div>
                                            <div class="list-item-sale-progress progress h-20px position-relative bg-light-orange">
                                                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="5" aria-valuemin="10" aria-valuemax="100" style="width: 5%"></div>
                                                <div class="position-absolute top-50 start-50 translate-middle text-white text-nowrap fs-small">Vừa mở bán</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-products" role="tabpanel" aria-labelledby="nav-product-tab" tabindex="0">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvtZSXoa7lU0IBaV41q5B1awCYijsFF5Sh-Q&s" alt="">
                    </div>
                    <div class="tab-pane fade" id="nav-shop-profile" role="tabpanel" aria-labelledby="nav-shop-profile-tab" tabindex="0">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMjJmenOLprn60CCEdYmuwwvxy9oOPuIygVQ&s" alt="">
                    </div>
                    <div class="tab-pane fade" id="nav-brand" aria-labelledby="nav-brand-tab" role="tabpanel" tabindex="0">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmSBHJ9Ggd5ouubGHH93nore3cl0bq8oUnBg&s" alt="">
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMjJmenOLprn60CCEdYmuwwvxy9oOPuIygVQ&s" alt="">
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <footer class="wide-screen-footer w-100 py-4">
        <div class="container">
            <div class="bg-white row gap-3 py-2">
                <div class="customer-service col text-nowrap">
                    <h5>Hỗ trợ khách hàng</h5>
                    <div class="options d-flex flex-column gap-2 mt-3">
                        <div class="text">Hotline: <strong><a href="tel:+1900-6789" class="text-decoration-none text-black">19006789</a></strong><div>(1.000 đ/phút, 8-21h kể cả T7, CN)</div></div>
                        <div class="text"><a href="#" class="text-black">Các câu hỏi thường gặp</a></div>
                        <div class="text"><a href="#" class="text-black">Gửi yêu cầu hỗ trợ</a></div>
                        <div class="text"><a href="#" class="text-black">Hướng dẫn đặt hàng</a></div>
                        <div class="text"><a href="#" class="text-black">Phương thức vận chuyển</a></div>
                        <div class="text"><a href="#" class="text-black">Chính sách đổi trả</a></div>
                        <div class="text"><a href="#" class="text-black">Chính sách hàng nhập khẩu</a></div>
                        <div class="text">Hỗ trợ khách hàng: <a class="text-black" href="mailto:hotro@ommani.vn">hotro@ommani.vn</a></div>
                        <div class="text">Báo lỗi bảo mật: <a class="text-black" href="mailto:security@ommani.vn">security@ommani.vn</a></div>
                    </div>
                </div>
                <div class="about col text-nowrap">
                    <h5>Về Ommanilife</h5>
                    <div class="options d-flex flex-column gap-2 mt-3">
                        <div class="text"><a href="#" class="text-black">Giới thiệu về Ommani</a></div>
                        <div class="text"><a href="#" class="text-black">Tuyển dụng</a></div>
                        <div class="text"><a href="#" class="text-black">Chính sách bảo mật, thanh toán</a></div>
                        <div class="text"><a href="#" class="text-black">Bảo mật thông tin cá nhân</a></div>
                        <div class="text"><a href="#" class="text-black">Chính sách giải quyết khiếu nại</a></div>
                        <div class="text"><a href="#" class="text-black">Điều khoản sử dụng</a></div>
                        <div class="text"><a href="#" class="text-black">Tiếp thị liên kết cùng Ommani</a></div>
                        <div class="text"><a href="#" class="text-black">Bán hàng cho doanh nghiệp</a></div>
                        <div class="text"><a href="#" class="text-black">Điều kiện vận chuyển</a></div>
                    </div>
                </div>
                <div class="partner col text-nowrap">
                    <h5>Hợp tác và liên kết</h5>
                    <div class="options d-flex flex-column gap-2 mt-3">
                        <div class="text"><a href="#" class="text-black">Quy chế hoạt động sàn GDTMĐT</a></div>
                        <div class="text"><a href="#" class="text-black">Bán hàng cùng Ommani</a></div>
                    </div>
                    <h5>Chứng nhận bởi</h5>
                    <div class="options d-flex gap-2 mt-3">
                        <a href="#"><img class="h-40px" src="/resources/img/footer/cert/khong-hang-gia.png"></img></a>
                        <a href="#"><img class="h-40px" src="/resources/img/footer/cert/bo-cong-thuong.png"></img></a>
                        <a href="#"><img class="h-40px" src="/resources/img/footer/cert/tin-nhiem-mang.png"></img></a>
                    </div>
                </div>
                <div class="payment col">
                    <h5>Phương thức thanh toán</h5>
                    <div class="d-flex gap-1 mt-3 flex-wrap">
                        <img src="/resources/img/footer/payment/bxl_visa.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/logos_jcb.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/momo.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/noto_atm-sign.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/uim_master-card.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/viettelPay.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/vnpay-seeklogo.com 1.png" alt="" class="h-40px">
                        <img src="/resources/img/footer/payment/zaloPay.png" alt="" class="h-40px">
                    </div>
                    <h5>Dịch vụ giao hàng</h5>
                    <div class="d-flex gap-1 mt-3">
                        <img src="/resources/img/footer/5cc832252e5c2d1c19d7a68036c4d1f9.png" alt="" class="h-40px">
                    </div>
                </div>
                <div class="contact col d-flex flex-column justify-content-between">
                    <div>
                        <h5>Kết nối với chúng tôi</h5>
                        <div class="d-flex gap-2 mt-3">
                            <a href="#"><img class="h-40px" src="/resources/img/footer/social-media/1a144b96100ee9bfd8b81f325fbc69e4.png" alt=""></a>
                            <a href="#"><img class="h-40px" src="/resources/img/footer/social-media/9dbe51fb44371b5cce8f45cbbf4ee352.png" alt=""></a>
                            <a href="#"><img class="h-40px" src="/resources/img/footer/social-media/f6e9771ca4a0525e5ee5439867a21a83.png" alt=""></a>
                        </div>
                        <h5>Tải ứng dụng trên điện thoại</h5>
                        <div class="d-flex gap-3 mt-3 align-items-center">
                            <img class="" src="/resources/img/footer/download/Vector.png" alt="">
                            <div class="d-flex flex-column gap-1">
                                <a href="#"><img class="h-40px" src="/resources/img/footer/download/google-play.png" alt=""></a>
                                <a href="#"><img class="h-40px" src="/resources/img/footer/download/app-store.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="text-pink signature h3 text-end">Made with love!</div>
                </div>
            </div>
            <hr class="bg-white row border-1 opacity-100 border-dark"/>
            <div class="bg-white company-info mt-3">
                <div class="company-address">Trụ sở chính: 43 Trần Nguyên Đán, Định Công, Q. Hoàng Mai, TP. Hà Nội</div>
                <div class="company-cert">Giấy chứng nhận Đăng kí kinh doanh số: 0998999999 do sở kế hoạch và Đầu tư Thành Phố Hà Nội cấp lần đầu ngày 09/09/2022</div>
                <div class="company-right">©2022 - Bản quyền của Công ty TNHH Ommani</div>
            </div>
        </div>
    </footer>
    <footer class="mobile-footer w-100 mt-2 py-4 d-none">
        <div class="container">
            <div class="bg-white">
                <div class="customer-service col text-nowrap">
                        <a data-bs-toggle="collapse" href="#footer-customer-service" role="button" aria-expanded="false" aria-controls="ooter-customer-service" class="text-black">
                           <h5> Hỗ trợ khách hàng</h5>
                        </a>
                    <div class="collapse" id="footer-customer-service">
                        <div class="options collaps d-flex flex-column gap-2 mb-3">
                            <div class="text">Hotline: <strong><a href="tel:+1900-6789" class="text-decoration-none text-black">19006789</a></strong><div>(1.000 đ/phút, 8-21h kể cả T7, CN)</div></div>
                            <div class="text"><a href="#" class="text-black">Các câu hỏi thường gặp</a></div>
                            <div class="text"><a href="#" class="text-black">Gửi yêu cầu hỗ trợ</a></div>
                            <div class="text"><a href="#" class="text-black">Hướng dẫn đặt hàng</a></div>
                            <div class="text"><a href="#" class="text-black">Phương thức vận chuyển</a></div>
                            <div class="text"><a href="#" class="text-black">Chính sách đổi trả</a></div>
                            <div class="text"><a href="#" class="text-black">Chính sách hàng nhập khẩu</a></div>
                            <div class="text">Hỗ trợ khách hàng: <a class="text-black" href="mailto:hotro@ommani.vn">hotro@ommani.vn</a></div>
                            <div class="text">Báo lỗi bảo mật: <a class="text-black" href="mailto:security@ommani.vn">security@ommani.vn</a></div>
                        </div>
                    </div>
                </div>
                <div class="about col text-nowrap">
                    <a class="text-black" data-bs-toggle="collapse" href="#footer-about" role="button" aria-expanded="false" aria-controls="footer-about">
                        <h5>Về Ommanilife</h5>
                    </a>
                    
                    <div class="collapse" id="footer-about">
                        <div class="options d-flex flex-column gap-2 mb-3">
                            <div class="text"><a href="#" class="text-black">Giới thiệu về Ommani</a></div>
                            <div class="text"><a href="#" class="text-black">Tuyển dụng</a></div>
                            <div class="text"><a href="#" class="text-black">Chính sách bảo mật, thanh toán</a></div>
                            <div class="text"><a href="#" class="text-black">Bảo mật thông tin cá nhân</a></div>
                            <div class="text"><a href="#" class="text-black">Chính sách giải quyết khiếu nại</a></div>
                            <div class="text"><a href="#" class="text-black">Điều khoản sử dụng</a></div>
                            <div class="text"><a href="#" class="text-black">Tiếp thị liên kết cùng Ommani</a></div>
                            <div class="text"><a href="#" class="text-black">Bán hàng cho doanh nghiệp</a></div>
                            <div class="text"><a href="#" class="text-black">Điều kiện vận chuyển</a></div>
                        </div>
                    </div>
                </div>
                <div class="partner col text-nowrap rounded-0">
                    <a class="text-black  border-top-0 border-bottom-0" data-bs-toggle="collapse" href="#footer-coop" role="button" aria-expanded="false" aria-controls="footer-coop">
                        <h5>Hợp tác và liên kết</h5>
                    </a>
                    <div class="collapse  border-top-0 pt-0 mt-0" id="footer-coop">
                        <div class=" mb-3">
                            <div class="text"><a href="#" class="text-black">Quy chế hoạt động sàn GDTMĐT</a></div>
                            <div class="text"><a href="#" class="text-black">Bán hàng cùng Ommani</a></div>
                        </div>
                    </div>
                    <a class="text-black  border-top-2 border-bottom-0" data-bs-toggle="collapse" href="#footer-cert" role="button" aria-expanded="false" aria-controls="footer-cert">
                        <h5>Chứng nhận bởi</h5>
                    </a>
                    <div class="collapse  border-top-0" id="footer-cert">
                        <div class=" d-flex gap-2 mb-3">
                            <a href="#"><img class="h-40px" src="/resources/img/footer/cert/khong-hang-gia.png"></img></a>
                            <a href="#"><img class="h-40px" src="/resources/img/footer/cert/bo-cong-thuong.png"></img></a>
                            <a href="#"><img class="h-40px" src="/resources/img/footer/cert/tin-nhiem-mang.png"></img></a>
                        </div>
                    </div>
                </div>
                <div class="payment">
                    <a class="text-black  border-bottom-0" data-bs-toggle="collapse" href="#footer-payment" role="button" aria-expanded="false" aria-controls="footer-payment">
                        <h5>Phương thức thanh toán</h5>
                    </a>
                    <div class="collapse  border-top-0" id="footer-payment">
                        <div class="d-flex flex-wrap gap-2 mb-3">
                            <div><img src="/resources/img/footer/payment/bxl_visa.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/logos_jcb.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/momo.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/noto_atm-sign.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/uim_master-card.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/viettelPay.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/vnpay-seeklogo.com 1.png" alt="" class="h-40px"></div>
                            <div><img src="/resources/img/footer/payment/zaloPay.png" alt="" class="h-40px"></div>
                        </div>
                    </div>
                    <a class="text-black  border-bottom-0" data-bs-toggle="collapse" href="#footer-shipment" role="button" aria-expanded="false" aria-controls="footer-shipment">
                        <h5>Dịch vụ giao hàng</h5>
                    </a>
                    <div class="collapse  border-top-0" id="footer-shipment">
                            <img src="/resources/img/footer/5cc832252e5c2d1c19d7a68036c4d1f9.png" alt="" class="h-40px">  
                    </div>
                </div>
                <div class="contact col d-flex flex-column justify-content-between ">
                    <div>
                        <a class="text-black  border-bottom-0" data-bs-toggle="collapse" href="#footer-social-media" role="button" aria-expanded="false" aria-controls="footer-social-media">
                            <h5>Kết nối với chúng tôi</h5>
                        </a>
                        <div class="collapse" id="footer-social-media">
                            <div class="d-flex gap-2 mb-3">
                                <a href="#"><img class="h-40px" src="/resources/img/footer/social-media/1a144b96100ee9bfd8b81f325fbc69e4.png" alt=""></a>
                                <a href="#"><img class="h-40px" src="/resources/img/footer/social-media/9dbe51fb44371b5cce8f45cbbf4ee352.png" alt=""></a>
                                <a href="#"><img class="h-40px" src="/resources/img/footer/social-media/f6e9771ca4a0525e5ee5439867a21a83.png" alt=""></a>
                            </div>
                        </div>
                        <a class="text-black  border-bottom-0" data-bs-toggle="collapse" href="#footer-app-downloader" role="button" aria-expanded="false" aria-controls="footer-app-downloader">
                            <h5>Tải ứng dụng trên điện thoại</h5>
                        </a>
                        <div class="collapse" id="footer-app-downloader">
                            <div class="d-flex gap-3 mb-3 align-items-center" >
                                <img class="" src="/resources/img/footer/download/Vector.png" alt="">
                                <div class="d-flex flex-column gap-1">
                                    <a href="#"><img class="h-40px" src="/resources/img/footer/download/google-play.png" alt=""></a>
                                    <a href="#"><img class="h-40px" src="/resources/img/footer/download/app-store.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-pink signature h3 text-end">Made with love!</div>
                </div>
            </div>
            <hr class="bg-white row border-1 opacity-100 border-dark"/>
            <div class="bg-white company-info mt-3">
                <div class="company-address">Trụ sở chính: 43 Trần Nguyên Đán, Định Công, Q. Hoàng Mai, TP. Hà Nội</div>
                <div class="company-cert">Giấy chứng nhận Đăng kí kinh doanh số: 0998999999 do sở kế hoạch và Đầu tư Thành Phố Hà Nội cấp lần đầu ngày 09/09/2022</div>
                <div class="company-right">©2022 - Bản quyền của Công ty TNHH Ommani</div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <script src="/js/product-detail/product-detail.js"></script>
</body>
</html>