.custom-tooltip {
  --bs-tooltip-bg: #1ab357;
  --bs-tooltip-color: #fff;
  --bs-tooltip-opacity: 1;
}

/* Header */
.header_wrapper {
  height: 110px;
  background-color: #1ab357;
}
.header_wrapper .header_top-bar {
  padding-top: 7px;
  margin-bottom: 20px;
}
.header_wrapper .header_top-bar .header-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #fff;
}
.header_wrapper .header_top-bar .header_right-link {
  gap: 12px;
}
.header_wrapper .header_top-bar .header_right-link .header-link:not(:last-child)::after {
  content: "";
  border-left: 1px solid white;
  margin-left: 12px;
}
.header_wrapper .header_top-bar .header_left-link {
  gap: 17px;
}
.header_wrapper .header_main .header_logo {
  cursor: pointer;
}
.header_wrapper .header_main .header_location {
  cursor: pointer;
}
.header_wrapper .header_main .header_location .header_location-icon,
.header_wrapper .header_main .header_location .arrow_icon {
  color: #fff;
}
.header_wrapper .header_main .header_location .header_location-icon {
  font-size: 18px;
}
.header_wrapper .header_main .header_location .arrow_icon {
  font-size: 7px;
}
.header_wrapper .header_main .header_location .header_location-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #fff;
  margin: 0px 3px 0px 5px;
}
.header_wrapper .header_main .header_search {
  width: calc(100% - 425px);
}
.header_wrapper .header_main .header_search .header_search-block {
  padding: 0px 0px 0px 12px;
  border-radius: 8px;
  background-color: #fff;
}
.header_wrapper .header_main .header_search .header_search-block.select-active {
  border-bottom-left-radius: 0px;
}
.header_wrapper .header_main .header_search .header_search-block.history-active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu {
  width: 100px;
  position: relative;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .select-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  color: #1ab357;
  line-height: 16.41px;
  cursor: pointer;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .select-btn .sBtn-text {
  font-size: 14px;
  font-weight: 600;
  width: 65px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .select-btn i {
  font-size: 13px;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .select-btn i::before {
  font-weight: 600 !important;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .options {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 28px;
  left: -12px;
  width: 150px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.0784313725);
  z-index: 10;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .options .option {
  padding: 7px 10px;
  cursor: pointer;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .options .option:hover {
  background-color: #f0f0f0;
  transition: all 0.5s;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .options .option:hover .option-text {
  color: #1ab357;
  font-weight: 600;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu .options .option .option-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #000;
}
.header_wrapper .header_main .header_search .header_search-block .select-menu.active .options {
  display: block;
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input {
  width: calc(100% - 100px);
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input .space-border {
  height: 14px;
  width: 1px;
  background-color: #969696;
  margin-right: 12px;
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input input::-moz-placeholder {
  color: #969696;
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input input::placeholder {
  color: #969696;
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input input:focus {
  outline: none;
}
.header_wrapper .header_main .header_search .header_search-block .header_search-input .header_button-search {
  width: 52px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 0px 8px 8px 0px;
  background-color: #62cd71;
}
.header_wrapper .header_main .header_search .header_search-history {
  display: none;
  top: 40px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.0784313725);
  z-index: 10;
}
.header_wrapper .header_main .header_search .header_search-history.show {
  display: block;
}
.header_wrapper .header_main .header_search .header_search-history .header_search-history-list .header_search-history-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  cursor: pointer;
}
.header_wrapper .header_main .header_search .header_search-history .header_search-history-list .header_search-history-item:hover {
  background-color: #1ab357;
}
.header_wrapper .header_main .header_search .header_search-history .header_search-history-list .header_search-history-item:hover i {
  color: #fff;
}
.header_wrapper .header_main .header_search .header_search-history .header_search-history-list .header_search-history-item:hover a {
  color: #fff;
}
.header_wrapper .header_main .header_search .header_search-history .header_search-history-list .header_search-history-item i {
  font-size: 13.34px;
  color: #000;
}
.header_wrapper .header_main .header_search .header_search-history .header_search-history-list .header_search-history-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  color: #000;
}
.header_wrapper .header_main .header_search .header_key-search {
  margin-top: 7px;
}
.header_wrapper .header_main .header_search .header_key-search ul {
  gap: 10px;
}
.header_wrapper .header_main .header_search .header_key-search ul li {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #fff;
}
.header_wrapper .header_main .header_search .header_key-search ul li:hover {
  text-decoration: underline;
}
.header_wrapper .header_main .header_icons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 21.05px;
}
.header_wrapper .header_main .header_icons .header_icon i {
  font-size: 22px;
  color: #fff;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart {
  position: relative;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-notify {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 13px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  background-color: #f69320;
  color: #fff;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu {
  width: 401px;
  inset: unset !important;
  top: 0 !important;
  right: 0 !important;
  border-radius: 0px;
  padding: 12px 0px 24px;
  box-shadow: 0px 0px 15px 0px rgba(12, 47, 76, 0.1490196078);
  z-index: 10;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu::after {
  content: "";
  position: absolute;
  display: block;
  border-width: 25px 25px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  top: -43px;
  right: 6px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-title {
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #969696;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product {
  margin-bottom: 20px;
  gap: 12px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product {
  padding: 0px 10px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product:hover {
  background-color: #f0f0f0;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product a {
  gap: 11px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product a .header_product-img {
  height: 42px;
  gap: 11px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product a .header_product-info {
  gap: 36px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product a .header_product-info .header_product-name {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-list-product .header_cart-product a .header_product-info .header_product-price {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: right;
  color: #1ab357;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-footer {
  gap: 86px;
  padding: 0px 10px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-footer .header_cart-qty {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #969696;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-footer .header_cart-btn {
  width: 159px;
  height: 32px;
  border-radius: 2px;
  background-color: #1ab357;
  color: #fff;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--cart .header_cart-menu .header_cart-footer .header_cart-btn:hover {
  background-color: #259c4f;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth {
  cursor: pointer;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-img {
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth {
  gap: 4px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth .header__auth-login,
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth .header__auth-register {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #fff;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth .header__auth-login:hover,
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth .header__auth-register:hover {
  text-decoration: underline;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth .header_customer-title {
  font-size: 10px;
  font-weight: 400;
  line-height: 11.72px;
  text-align: left;
  color: #fff;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_auth .header_customer-name {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: left;
  color: #fff;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-menu {
  width: 150px;
  border-radius: 0;
  box-shadow: 0px 0px 15px 0px rgba(12, 47, 76, 0.1490196078);
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-menu::after {
  content: "";
  position: absolute;
  display: block;
  border-width: 20px 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: -38px;
  right: 32px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-menu li {
  padding: 3px 13px;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-menu li .header_customer-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1ab357;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-menu li:hover {
  background-color: #f0f0f0;
}
.header_wrapper .header_main .header_icons .header_icon.header_icon--auth .header_customer-menu li:hover .header_customer-item {
  font-weight: 500;
}
.header_wrapper .header_main .header_search-mobile {
  display: none;
  height: 42px;
  padding: 12px;
  gap: 12px;
  background-color: #fff;
}
.header_wrapper .header_main .header_search-mobile input {
  border: 0;
  width: 100%;
}
.header_wrapper .header_main .header_search-mobile input:focus {
  outline: none;
}
.header_wrapper .header_main .header_search-mobile input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #969696;
}
.header_wrapper .header_main .header_search-mobile input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #969696;
}

/* Content */
.content_wrapper {
  background-color: #f5f5f7;
  padding-bottom: 32px;
}
.content_wrapper .content_section-heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
  text-align: left;
  color: #000;
  margin-bottom: 20px;
}
.content_wrapper .subbar-top {
  height: 38px;
  background-color: #fff;
  padding: 7px 0px;
}
.content_wrapper .subbar-top .subbar-block {
  gap: 24px;
}
.content_wrapper .subbar-top .subbar-block .subbar-item {
  padding: 0;
  gap: 6px;
}
.content_wrapper .subbar-top .subbar-block .subbar-item:hover p {
  text-decoration: underline;
}
.content_wrapper .subbar-top .subbar-block .subbar-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  text-align: left;
  color: #1ab357;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu {
  padding: 11px 25px 15px 7px;
  border-radius: 0;
  top: 4px !important;
  box-shadow: 0px 0px 15px 0px rgba(12, 47, 76, 0.1490196078);
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--title {
  display: flex;
  gap: 5px;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  padding: 8px 0px;
  cursor: pointer;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--title:hover p {
  font-weight: 700;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--title .subbar_icon--main {
  width: 28px;
  height: 28px;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--title p {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #007b2b;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--title .subbar_icon--down {
  width: 18px;
  height: 18px;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--content {
  display: flex;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--content .subbar_content-item {
  padding: 10px;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--content .subbar_content-item p {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  line-height: 23.2px;
  color: #007b2b;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--content .subbar_content-item ul li a {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.2px;
  color: #007b2b;
}
.content_wrapper .subbar-top .subbar-block .subbar_all-menu .subbar_menu-item .subbar_menu--content .subbar_content-item ul li a:hover {
  text-decoration: underline;
}
.content_wrapper .content_sliders.swiper {
  width: 100%;
  height: 100%;
}
.content_wrapper .content_sliders .swiper-pagination .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  border: 1px solid #fff;
  background-color: transparent;
  margin: 0px 4.5px;
}
.content_wrapper .content_sliders .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
.content_wrapper .content_category-icons {
  display: flex;
  justify-content: center;
}
.content_wrapper .content_category-icons .content_category-list {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  gap: 68px;
  padding: 16px 53px 28px 32px;
}
.content_wrapper .content_category-icons .content_category-list .content_category-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content_wrapper .content_category-icons .content_category-list .content_category-item p {
  margin-bottom: 0;
  margin-top: 12.6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_wrapper .content_banners {
  margin-top: 23px;
  gap: 12px;
}
.content_wrapper .content_banners .conntent_banner-item {
  position: relative;
}
.content_wrapper .content_banners .conntent_banner-item::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 101px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 5.76%, #007b2b 69.18%, rgba(255, 255, 255, 0) 183.72%);
}
.content_wrapper .content_banners .conntent_banner-item .conntent_banner-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: 17px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.content_wrapper .content_banners .conntent_banner-item img {
  height: auto;
  width: 100%;
}
.content_wrapper .content_reputation-store {
  background-color: #fff;
  margin-top: 24px;
  padding: 12px 14px 29px 14px;
  border-radius: 3px;
}
.content_wrapper .content_reputation-store .content_store-card {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: auto;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body {
  gap: 12px;
  padding: 4px 10px 15px;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body .cart-heading {
  gap: 4px;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body .cart-heading .cart-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  color: #000;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body .cart-heading .cart-subtitle {
  gap: 3px;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body .cart-heading .cart-subtitle i {
  font-size: 12px;
  color: #fec300;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body .cart-heading .cart-subtitle p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: left;
  color: #969696;
}
.content_wrapper .content_reputation-store .content_store-card .content_store-item .card-body .badge-store {
  width: 105px;
  height: 21px;
  gap: 10px;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: left;
  color: #2e9dff;
  background-color: #f0f8ff;
}
.content_wrapper .content_product-category {
  border-radius: 3px;
  background-color: white;
  margin-top: 24px;
  padding: 12px 16px 40px;
}
.content_wrapper .content_product-category .content_product-category-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  row-gap: 32px;
  -moz-column-gap: 41px;
       column-gap: 41px;
  padding-left: 36px;
  padding-right: 47px;
}
.content_wrapper .content_product-category .content_product-category-list .content_product-category-item {
  gap: 15px;
}
.content_wrapper .content_product-category .content_product-category-list .content_product-category-item:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.content_wrapper .content_product-category .content_product-category-list .content_product-category-item .content_product-category-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  margin-bottom: 0;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_wrapper .content_explore {
  margin-top: 24px;
}
.content_wrapper .content_explore .content_explore-heading {
  height: 41px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.content_wrapper .content_explore .content_explore-heading p {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
  text-align: left;
  color: #000;
  margin-bottom: 0;
  margin-left: 10px;
}
.content_wrapper .content_explore .content_explore-list {
  margin-top: 10px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  gap: 12px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header {
  gap: 12px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-img {
  height: 73px;
  width: 73px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading {
  gap: 6px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading .content_store-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: left;
  color: #000;
  margin-bottom: 0;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading .content_store-rating {
  gap: 3px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading .content_store-rating i {
  font-size: 12px;
  color: #fec300;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading .content_store-rating p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #969696;
  margin-bottom: 0;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading .content_store-rating p span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #1ab357;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-header .content_store-heading .content_store-brand {
  gap: 4px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product .content_product-img {
  border-radius: 3px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product .content_product-info {
  gap: 6px;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product .content_product-info .content_product-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product .content_product-info .content_product-sold {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #969696;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product .content_product-info .content_product-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #000;
}
.content_wrapper .content_explore .content_explore-list .content_store-item .content_store-body .content_store-product:first-child .content_product-price {
  color: #fb4f5b;
  font-weight: 700;
}
.content_wrapper .content_explore .content_explore-show {
  text-align: center;
}
.content_wrapper .content_explore .content_explore-show .content_btn-show {
  margin-top: 24px;
  width: 241px;
  height: 41px;
  padding: 12px 45px 10px 45px;
  border-radius: 6px;
  border: 1px solid #2e9dff;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #2e9dff;
}
.content_wrapper .content_explore .content_explore-show .content_btn-show:hover {
  background-color: #2e9dff;
  color: #fff;
  transition: all 0.5s;
}

/* Footer */
.footer_wrapper {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 35px;
}
.footer_wrapper .footer_top {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.footer_wrapper .footer_top .footer_column .footer_column-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #000;
  margin-bottom: 15px;
}
.footer_wrapper .footer_top .footer_column .footer_column-content .footer_list-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #000;
}
.footer_wrapper .footer_top .footer_column .footer_column-content .footer_list-link .footer_link {
  margin-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.footer_wrapper .footer_top .footer_column .footer_column-content .footer_list-link .footer_link span {
  font-weight: 700;
}
.footer_wrapper .footer_top .footer_column .footer_child-column .footer_column-content .footer_list-link {
  gap: 18px;
  flex-wrap: wrap;
}
.footer_wrapper .footer_top .footer_column .footer_child-column .footer_column-content .footer_list-link.footer_list-img {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 12px;
}
.footer_wrapper .footer_top .footer_column .footer_child-column .footer_column-content .footer_list-link.footer_list-img.gap-21 {
  gap: 21px;
}
.footer_wrapper .footer_top .footer_column .footer_child-column .footer_column-content .footer_list-link.footer_list-img .footer_link {
  margin: 0;
}
.footer_wrapper .footer_top .footer_column .footer_child-column:not(:first-child) {
  margin-top: 23px;
}
.footer_wrapper .footer_bottom {
  margin-top: 26px;
}
.footer_wrapper .footer_bottom .footer_address,
.footer_wrapper .footer_bottom .footer_info,
.footer_wrapper .footer_bottom .footer_license {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #000;
}

.footer_mobile {
  height: 43px;
  background-color: #1ab357;
  align-items: center;
  justify-content: center;
}
.footer_mobile p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #fff;
}/*# sourceMappingURL=home.css.map */