@media only screen and (max-width: 1400px) {
    .toolbar .location{
        display: none;
    }
    div.user-section{
        display: none !important;
    }
    .tools .tool-comment, .tools .tool-noti{
        display: none !important;
    }
}
@media only screen and ((max-width: 1250px) and (min-width: 1200px)) {
    .searchbar > .input-group > ul.dropdown-menu.translate-middle-bottom{
        left: 175px !important;
    }
}
@media only screen and (max-width: 1060px) {
    /* For mobile phones: */
    .searchbar > .input-group > ul.dropdown-menu.translate-middle-bottom{
        left: 175px !important;
    }
    .wide-screen-header{
        display: none !important;
    }
    .wide-screen-footer{
        display: none !important;
    }
    .body-top{
        display: none;
    }
    .container-carousel{
        background-color: #19B357;
    }
    .mobile-header{
        display: block !important;
    }
    .mobile-footer{
        display: block !important;
    }
    .typer .typer-items{
        background-color: transparent !important;
    }
    .store-category{
        display: none;
    }
}