//* Color
$color-text-primary: #ffffff;
$color-text-second: #1a1a1a;
$color-text-muted: #7b7b7b;
$color-text-accent: #007b2b;
$color-text-price: #fb4f5b;
$color-text-link: #2e9dff;
$color-bg-btn-primary: #1ab357;
$color-bg-main: #f5f5f7;
$color-text-dropdown: #29ab56;

//* Font-Size
$font-size-header: 28px;
$font-size-body: 16px;
$font-size-small-text: 14px;
$font-size-caption: 12px;

//*Font-Weight
$font-weight-light: 300;
$font-weight-regular: 400; //normal
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
