$background-wrapper-Color: #f5f5f7;
$color-29ab56: #29ab56;
$color-1a1a1a: #1a1a1a;
$color-139640: #139640;
$color-9a9a9a: #9a9a9a;
$color-cacdd8: #cacdd8;
$color-a2a6b0: #a2a6b0;
$color-white: #fff;
$color-black: #000;

.background-wrapper {
  background-color: $background-wrapper-Color;
}

.cart-product__wrapper {
  .subbar-top {
    height: 38px;
    background-color: white;
    padding: 7px 0px;
    .container {
      padding: 0;
      .subbar-block {
        gap: 24px;
        .subbar-item {
          padding: 0;
          gap: 6px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.41px;
            text-align: left;
            color: #007b2b;
          }
        }
      }
    }
  }

  .cart-product__body {
    .cart__heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 37.5px;
      text-align: left;
      color: $color-black;
    }

    .cart-table {
      width: 100%;
      .cart-table__header {
        th {
          font-size: 16px;
          font-weight: 600;
          line-height: 18.75px;
          text-align: left;
          color: $color-black;
          .all-count-product {
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: $color-black;
          }
        }
      }
    }
  }
}
