    <div class="header-menu__container container">
        <div class="row">
            <div class="col">
                <ul class="d-flex align-items-center">
                    <li class="d-block align-items-center">
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 3C2 2.44772 2.44772 2 3 2H10C10.5523 2 11 2.44772 11 3V10C11 10.5523 10.5523 11 10 11H3C2.44772 11 2 10.5523 2 10V3ZM4 4V9H9V4H4Z" fill="#007B2B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13 3C13 2.44772 13.4477 2 14 2H21C21.5523 2 22 2.44772 22 3V10C22 10.5523 21.5523 11 21 11H14C13.4477 11 13 10.5523 13 10V3ZM15 4V9H20V4H15Z" fill="#007B2B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13 14C13 13.4477 13.4477 13 14 13H21C21.5523 13 22 13.4477 22 14V21C22 21.5523 21.5523 22 21 22H14C13.4477 22 13 21.5523 13 21V14ZM15 15V20H20V15H15Z" fill="#007B2B"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 14C2 13.4477 2.44772 13 3 13H10C10.5523 13 11 13.4477 11 14V21C11 21.5523 10.5523 22 10 22H3C2.44772 22 2 21.5523 2 21V14ZM4 15V20H9V15H4Z" fill="#007B2B"/>
                            </svg>
                        </span>
                        <span>Tất cả</span>
                    </li>
                    <li class="d-flex align-items-center">
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 6L9 3L15 6L21 3V18L15 21L9 18L3 21V6Z" stroke="#007B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9 3V18" stroke="#007B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15 6V21" stroke="#007B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                        <span>Tìm theo vị trí</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="card-wrapper">
        <img src="../images/legit_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ommani Mall Nguyễn Văn Linh Long Biên</h5>
          <div>
            <span>
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="12" height="11" transform="translate(0.98877 0.105469)" fill="white"/>
                    <path d="M6.98877 1.02222L8.53377 3.89138L11.9888 4.3543L9.48877 6.58638L10.0788 9.73972L6.98877 8.25013L3.89877 9.73972L4.48877 6.58638L1.98877 4.3543L5.44377 3.89138L6.98877 1.02222Z" fill="#FEC300"/>
                </svg>
            </span>
            <span>
                4.8 (11k+)
            </span>
          </div>
          <button>Đã Chứng Nhận</button>
        </div>
    </div>

