.background-wrapper {
  background-color: #f5f5f7;
}

.store-wrapper .subbar-top {
  height: 38px;
  background-color: white;
  padding: 7px 0px;
}
.store-wrapper .subbar-top .container {
  padding: 0;
}
.store-wrapper .subbar-top .container .subbar-block {
  gap: 24px;
}
.store-wrapper .subbar-top .container .subbar-block .subbar-item {
  padding: 0;
  gap: 6px;
}
.store-wrapper .subbar-top .container .subbar-block .subbar-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  text-align: left;
  color: #007b2b;
}
.store-wrapper .store-body .store-details__cover-image-container .cover-img {
  height: 350px;
}
.store-wrapper .store-body .store-details__cover-image-container .cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info {
  bottom: 12px;
  left: 11px;
  background-color: #fff;
  width: 432px;
  height: 164px;
  border-radius: 6px;
  padding: 10px;
  gap: 17px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store-avatar {
  width: 90px;
  height: 100%;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store-avatar img {
  width: 100%;
  object-fit: cover;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info {
  gap: 10px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #1a1a1a;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store-rates {
  gap: 8px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store-rates .store_rating-star {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #969696;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store-rates .store_rating-star span {
  font-size: 15px;
  color: #fec300;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store-rates .store__status-delivery {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #2ead5b;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block {
  gap: 6px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .button-follow {
  border: 0;
  background-color: #e9f6df;
  border-radius: 3px;
  padding: 3px 10.5px;
  color: #00923f;
  line-height: 18px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .button-follow i {
  font-size: 18px;
  line-height: 18px;
  color: #00923f;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .button-follow i::before {
  font-weight: 600 !important;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .img-follower__block .follower-img {
  height: 24px;
  width: 24px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .img-follower__block .follower-img:not(:first-child) {
  margin-left: -10px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .img-follower__block .follower-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .store-follower__qty {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #343434;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__brand-product {
  gap: 7px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__brand-product .brand-img {
  height: 45px;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__brand-product .brand-img img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store-details__menu-mobile {
  display: none;
  top: 5px;
  right: 5px;
}
.store-wrapper .store-body .store-details__cover-image-container .chat-with-store {
  gap: 10px;
  position: absolute;
  padding: 0;
  bottom: 12px;
  right: 68px;
  height: 46px;
  width: 165px;
  border-radius: 6px;
  border: 1px solid #29ab56;
  background-color: #fff;
}
.store-wrapper .store-body .store-details__cover-image-container .chat-with-store p {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #29ab56;
}
.store-wrapper .store-body .store-details__cover-image-container .chat-with-store i {
  color: #29ab56;
  font-size: 23px;
}
.store-wrapper .store-body .store-details__cover-image-container .link-store {
  position: absolute;
  padding: 0;
  bottom: 12px;
  right: 12px;
  height: 46px;
  width: 46px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #29ab56;
}
.store-wrapper .store-body .store-details__cover-image-container .link-store i {
  color: #29ab56;
  font-size: 23px;
  line-height: 23px;
}
.store-wrapper .store-body .navbar-category-store {
  position: relative;
}
.store-wrapper .store-body .navbar-category-store .button-category {
  background-color: white;
  height: 36px;
  cursor: pointer;
}
.store-wrapper .store-body .navbar-category-store .button-category p {
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #29ab56;
  text-align: center;
}
.store-wrapper .store-body .navbar-category-store .button-category.active {
  background-color: #29ab56;
}
.store-wrapper .store-body .navbar-category-store .button-category.active p {
  font-weight: 700;
  color: #fff;
}
.store-wrapper .store-body .navbar-category-store .tooltip-line {
  position: absolute;
  background-color: #29ab56;
  clip-path: polygon(100% 0%, 50% 100%, 0 0%);
  width: 30px;
  height: 15px;
  left: 9%;
  transform: translateX(-10%);
}
.store-wrapper .store-body .store-body__content-category {
  margin-top: 24px;
}
.store-wrapper .store-body .store-body__content-category .content-block {
  display: none;
  animation: moving 0.5s ease;
}
.store-wrapper .store-body .store-body__content-category .content-block.show {
  display: flex;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px 12px 27px;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding-heading {
  font-size: 26px;
  font-style: italic;
  font-weight: 900;
  line-height: 30.47px;
  text-align: left;
  color: #fc6c1a;
  margin-bottom: 14px;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product {
  display: flex;
  align-items: center;
  column-gap: 24px;
  overflow: auto;
  scrollbar-width: none;
  cursor: grab;
  user-select: none;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product {
  width: 130px;
  flex: 0 0 auto;
  position: relative;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__discount {
  position: absolute;
  background-color: #fc6c1a;
  color: #fff;
  width: 39.27px;
  height: 21.67px;
  top: 11px;
  left: 1px;
  line-height: 21.67px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__image {
  height: 130px;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #57902b;
  border-radius: 6px;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__info {
  gap: 3px;
  margin-top: 3px;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__info .outstanding-product__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__info .outstanding-product__price {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  text-align: right;
  color: #fc6c1a;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__info .outstanding-product__expiry-sale {
  background-color: #fcaaaf;
  position: relative;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__info .outstanding-product__expiry-sale .outstanding-product__sale-status {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}
.store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container .outstanding__list-product .outstanding-product .outstanding-product__info .outstanding-product__expiry-sale .progress-bar {
  background-color: #fc6c1a;
  border-radius: 0.375rem;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container {
  margin-top: 24px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__banner {
  position: relative;
  height: 100%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__banner .web-logo__sub {
  position: absolute;
  background-color: #1c7f00;
  width: 174.56px;
  height: 70.58px;
  border-radius: 0px 0px 9px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__banner .products__banner-img {
  height: 100%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__banner .products__banner-img img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item {
  box-shadow: 0px 0px 10px 0px rgba(132, 132, 132, 0.0784313725);
  border-radius: 3px;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__badge-brand {
  width: fit-content;
  padding: 4px;
  height: 27px;
  background-color: #fff;
  gap: 2.23px;
  border-radius: 2.3px;
  top: 1px;
  left: 1px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__badge-brand span {
  text-align: center;
  width: 49.96px;
  height: 20px;
  border-radius: 3.35px;
  background-color: #29ab56;
  font-size: 13.82px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__discount {
  top: 1px;
  right: 1px;
  width: 30px;
  height: 22px;
  text-align: center;
  background-color: #f69320;
  border-radius: 0px 2px 0px 0px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__discount::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 10px;
  background-color: #f69320;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 20%, 0% 100%);
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__discount span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #fff;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__tags {
  bottom: 0;
  height: 23px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__tags span {
  width: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  background-color: #00bc3c;
  color: #fff;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__images-wrapper .product-item__tags p {
  width: 102px;
  font-size: 9px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  background-color: #008129;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details {
  padding: 10px 10px 12px 10px;
  gap: 10px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__info {
  gap: 5px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__info .product-item__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: #00bc3c;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__info .product-item__stars {
  color: #fdb600;
  font-size: 13px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__info .line-space {
  height: 11px;
  width: 1px;
  background-color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__info .product-item__sold {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product .store__product-item .product-item__details .product-item__location {
  font-size: 12px;
  font-weight: 400;
  line-height: 26.18px;
  text-align: left;
  color: #a3a3a3;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__sliders-wrapper {
  margin-top: 24px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__sliders-wrapper .slider-item {
  flex: 1 1 auto;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__sliders-wrapper .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter {
  margin-top: 10px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section {
  padding: 20px 0px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #333333;
  margin-bottom: 12px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item {
  position: relative;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn .select-category__icon {
  background-color: #fff;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn .select-category__icon img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn .select-category__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn .select-category__dropdown-icon {
  background-color: #fff;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn .select-category__dropdown-icon i {
  font-size: 18px;
  color: #1a1a1a;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .search-filter__select-btn .select-category__dropdown-icon i::before {
  font-weight: 600 !important;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 30px;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(12, 47, 76, 0.1490196078);
  border-radius: 3px;
  z-index: 10;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu .select-category__option {
  padding: 5px 10px;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu .select-category__option:hover {
  background-color: #f0f0f0;
  transition: all 0.5s;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu .select-category__option:hover:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu .select-category__option:hover:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu .select-category__option:hover .option-text {
  color: #000;
  font-weight: 600;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item .select-category__options-menu .select-category__option .select-category__option-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: black;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__select-container .search-filter__select-item.active .select-category__options-menu {
  display: block;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .price-input {
  width: 100%;
  display: flex;
  margin: 12px 0px 16px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .price-input .field .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #29ab56;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .range-input {
  position: relative;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  appearance: none;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .range-input input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__input-range .range-input input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__checkbox-group {
  gap: 16px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__checkbox-group .search-filter__option {
  display: flex;
  gap: 12px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__checkbox-group .search-filter__option .search-filter__checkbox {
  transform: scale(1.154);
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-filter .search-filter__section .search-filter__checkbox-group .search-filter__option .search-filter__label {
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #333333;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results {
  padding-left: 0;
  padding-right: 0;
  margin-top: 14px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header {
  margin-bottom: 17px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort {
  height: 40px;
  background-color: #e3e3e3;
  padding: 0px 12px 0px 28px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left {
  gap: 32px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .search-results__sort-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #333333;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container {
  gap: 14px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container .search-results__sort-button {
  border: 0;
  width: 84px;
  height: 26px;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #333333;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container .search-results__sort-button.search-results__sort-button--active {
  background-color: #29ab56;
  color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container .search-results__sort-select {
  width: 139px;
  background: white;
  position: relative;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container .search-results__sort-select select {
  display: inline-block;
  width: 100%;
  height: 26px;
  padding: 0px 8px;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #333333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container .search-results__sort-select select:focus {
  outline: none;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__sort-left .sort-button__container .search-results__sort-select .bi {
  position: absolute;
  color: #d9d9d9;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 15px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination {
  gap: 9px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination .search-results__page-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #333333;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination .search-results__page-info span {
  font-weight: 700;
  color: #00bc3c;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination .search-results__page-button--block {
  gap: 1px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination .search-results__page-button--block .search-results__page-button {
  width: 16px;
  height: 16px;
  background-color: white;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination .search-results__page-button--block .search-results__page-button i {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__header .search-results__sort .search-results__pagination .search-results__page-button--block .search-results__page-button i::before {
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item {
  box-shadow: 0px 0px 10px 0px rgba(132, 132, 132, 0.0784313725);
  border-radius: 3px;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__badge-brand {
  width: fit-content;
  padding: 4px;
  height: 27px;
  background-color: white;
  gap: 2.23px;
  border-radius: 2.3px;
  top: 1px;
  left: 1px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__badge-brand span {
  text-align: center;
  width: 49.96px;
  height: 20px;
  border-radius: 3.35px;
  background-color: #29ab56;
  font-size: 13.82px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__discount {
  top: 1px;
  right: 1px;
  width: 30px;
  height: 22px;
  text-align: center;
  background-color: #f69320;
  border-radius: 0px 2px 0px 0px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__discount::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 10px;
  background-color: #f69320;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 20%, 0% 100%);
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__discount span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__tags {
  bottom: 0;
  height: 23px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__tags span {
  width: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  background-color: #00bc3c;
  color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__images-wrapper .product-item__tags p {
  width: 102px;
  font-size: 9px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  background-color: #008129;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details {
  padding: 10px 10px 12px 10px;
  gap: 10px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__info {
  gap: 5px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__info .product-item__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: #00bc3c;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__info .product-item__stars {
  color: #fdb600;
  font-size: 13px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__info .line-space {
  height: 11px;
  width: 1px;
  background-color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__info .product-item__sold {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .search-results__product-item .product-item__details .product-item__location {
  font-size: 12px;
  font-weight: 400;
  line-height: 26.18px;
  text-align: left;
  color: #a3a3a3;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .pagination__list-product {
  gap: 5px;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .pagination__list-product .pagination__item .pagination__link {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  color: #333333;
}
.store-wrapper .store-body .store-body__content-category .content-block .search-results .pagination__list-product .pagination__item .pagination__link.pagination__link--active {
  color: white;
  background-color: #29ab56;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  margin-bottom: 16px;
  color: #00923f;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper {
  background-color: #fff;
  padding: 22px 12px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-description {
  background-color: #f5f5f7;
  height: 190px;
  overflow: auto;
  scrollbar-width: none;
  padding: 10px;
  border-radius: 8px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-description .text-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-ratings--table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-ratings--table .store__tbl-row th {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000;
  width: 40%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-ratings--table .store__tbl-row td {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #29ab56;
  width: 60%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization {
  width: 100%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row:nth-child(even) {
  background-color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row:nth-child(odd) {
  background-color: #f5f5f7;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row:nth-child(odd) th {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row:nth-child(odd) td {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row th {
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000;
  width: 30%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row td {
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000;
  width: 70%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row.product-info__table th {
  width: 15%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row.product-info__table td {
  width: 85%;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .certificate-wrapper {
  display: -webkit-box;
  overflow: auto;
  scrollbar-width: none;
  gap: 24px;
  cursor: grab;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .certificate-wrapper .certificate-img {
  width: 254px;
  height: 259px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .certificate-wrapper .certificate-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  border: 1px solid #57902b;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card .fact-img {
  height: 210px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card .fact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card .factory-text {
  background-color: white;
  padding: 20px;
}
.store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card .factory-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28.52px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand {
  background-color: #fff;
  padding: 24px 25px 38px;
  row-gap: 31px;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card {
  position: relative;
  width: 470px;
  height: 223px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(12, 47, 76, 0.1490196078);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card .vision-mission__title {
  text-transform: uppercase;
  width: 80%;
  font-size: 32px;
  font-weight: 400;
  line-height: 27px;
  color: #29ab56;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card .vision-mission__text {
  width: 80%;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 4px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #29ab56;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card.active {
  background-color: #29ab56;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card.active .vision-mission__title {
  color: #fff;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card.active .vision-mission__text {
  color: #fff;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card.active::before {
  background-color: #fff;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #29ab56;
  margin-bottom: 6px;
}
.store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact {
  margin-top: 23px;
  margin-bottom: 37px;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info {
  width: 600px;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row:nth-child(even) {
  background-color: white;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row:nth-child(odd) {
  background-color: #f5f5f7;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row:nth-child(odd) th {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row:nth-child(odd) td {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row th {
  width: 30%;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #1a1a1a;
  padding: 7px 16px;
}
.store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row td {
  width: 70%;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  padding: 7px 16px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container {
  margin-bottom: 44px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form {
  width: 600px;
  box-shadow: 0px 0px 10px 0px rgba(132, 132, 132, 0.0784313725);
  padding: 24px 32px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .send-to-address {
  padding-bottom: 13px;
  border-bottom: 1px solid #dbdee5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .send-to-address p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #858585;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .send-to-address p span {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  color: #000;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .send-to-address i {
  font-size: 25px;
  cursor: pointer;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess {
  margin-top: 13px;
  margin-bottom: 13px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess textarea {
  padding: 14px 16px 24px;
  width: 100%;
  height: 144px !important;
  resize: none;
  border: 0.5px solid #dbdee5;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #858585;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess textarea:focus {
  outline: none;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess .limit-letters {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: right;
  color: #858585;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess .fast-mess {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 5px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess .fast-mess .badge {
  flex: 1 1 auto;
  background-color: #f6fcf8;
  color: #29ab56;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .btn-send-mess {
  width: 100%;
  height: 44px;
  border: 0;
  background-color: #29ab56;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
}
.store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .btn-send-mess:hover {
  background-color: #008129;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=store-details.css.map */
