@media only screen and (max-width: 576px) {
  .store-wrapper .subbar-top {
    display: none;
  }
  .store-wrapper .store-body .store-details__cover-image-container .cover-img {
    height: unset;
  }
  .store-wrapper .store-body .store-details__cover-image-container .store-details__card-info {
    width: fit-content;
    height: fit-content;
    left: -5px;
    bottom: 5px;
    transform: translateX(10px);
  }
  .store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store-avatar {
    width: 45px;
  }
  .store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__follow-block .button-follow {
    padding: 0;
  }
  .store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store__text-info .store__brand-product {
    display: none !important;
  }
  .store-wrapper .store-body .store-details__cover-image-container .store-details__card-info .store-details__menu-mobile {
    display: block;
  }
  .store-wrapper .store-body .store-details__cover-image-container .chat-with-store {
    display: none !important;
  }
  .store-wrapper .store-body .store-details__cover-image-container .link-store {
    display: none !important;
  }
  .store-wrapper .store-body .navbar-category-store {
    overflow: auto;
    scrollbar-width: none;
    margin-top: 5px;
  }
  .store-wrapper .store-body .navbar-category-store .tooltip-line {
    display: none;
    left: 0 !important;
  }
  .store-wrapper .store-body .navbar-category-store .row-category-store__mobile {
    flex-wrap: nowrap;
  }
  .store-wrapper .store-body .navbar-category-store .row-category-store__mobile div:last-child .button-category {
    border-right: 0;
  }
  .store-wrapper .store-body .navbar-category-store .row-category-store__mobile .button-category {
    border-right: 1px solid #29ab56;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store-profile__heading {
    font-size: 20px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .outstanding-products__container {
    margin-top: 5px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store-products__container {
    margin-top: 5px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store-products__container .products__list-product {
    margin: 24px 15px 0px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .search-results {
    margin-top: 0px !important;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products {
    margin: 0px 15px 0px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row th {
    width: 40%;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row td {
    width: 60%;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card:not(:first-child) {
    margin-top: 15px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card .factory-text {
    padding: 5px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store__factory-imgs .factory-img__card .factory-text p {
    font-size: 15px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card {
    height: 150px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info {
    width: 343px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row th {
    width: 40%;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .table-info-contact .tbl-info .tbl-row td {
    width: 60%;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form {
    width: 343px;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .form-contact__container .contact-form .text-area__mess .fast-mess {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .store-wrapper .store-body .navbar-category-store {
    margin-top: 5px;
    overflow: auto;
    scrollbar-width: none;
  }
  .store-wrapper .store-body .navbar-category-store .tooltip-line {
    display: none;
    left: 0 !important;
  }
  .store-wrapper .store-body .navbar-category-store .row-category-store__mobile {
    flex-wrap: nowrap;
  }
  .store-wrapper .store-body .navbar-category-store .row-category-store__mobile div:last-child .button-category {
    border-right: 0;
  }
  .store-wrapper .store-body .navbar-category-store .row-category-store__mobile .button-category {
    border-right: 1px solid #29ab56;
  }
}
@media only screen and (min-width: 768px) {
  .store-wrapper .store-body .navbar-category-store .col-l-o-2 {
    flex: 0 0 auto;
    width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row.product-info__table th {
    width: 25%;
  }
  .store-wrapper .store-body .store-body__content-category .content-block .store-profile__wrapper .store__info-organization .organization__tbl-row.product-info__table td {
    width: 75%;
  }
  .store-wrapper .store-body .store-body__content-category .content-block.store-brand .store-brand__vision-mission--card {
    width: fit-content;
  }
}
@media only screen and (min-width: 1200px) {
  .store-wrapper .store-body .store-body__content-category .content-block .search-results .search-results__list-products .col-l-o-2 {
    flex: 0 0 auto;
    width: 20%;
  }
}

/*# sourceMappingURL=store-details-responsive.css.map */
