$background-wrapper-Color: #f5f5f7;
$color-white: #fff;
$color-black: #000;
$color-1a1a1a: #1a1a1a;
$color-star: #fec300;
$color-2ead5b: #2ead5b;
$color-e9f6df: #e9f6df;
$color-00923f: #00923f;
$color-343434: #343434;
$color-969696: #969696;
$color-29ab56: #29ab56;
$color-fc6c1a: #fc6c1a;
$color-fcaaaf: #fcaaaf;
$color-57902b: #57902b;
$color-1c7f00: #1c7f00;
$color-f69320: #f69320;
$color-00bc3c: #00bc3c;
$color-a3a3a3: #a3a3a3;
$color-008129: #008129;
$color-fdb600: #fdb600;
$color-e3e3e3: #e3e3e3;
$color-333333: #333333;
$color-cccccc: #cccccc;
$color-f5f5f7: #f5f5f7;
$color-f6fcf8: #f6fcf8;

.background-wrapper {
  background-color: $background-wrapper-Color;
}

.store-wrapper {
  .subbar-top {
    height: 38px;
    background-color: white;
    padding: 7px 0px;
    .container {
      padding: 0;
      .subbar-block {
        gap: 24px;
        .subbar-item {
          padding: 0;
          gap: 6px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.41px;
            text-align: left;
            color: #007b2b;
          }
        }
      }
    }
  }

  .store-body {
    .store-details__cover-image-container {
      .cover-img {
        height: 350px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .store-details__card-info {
        bottom: 12px;
        left: 11px;
        background-color: $color-white;
        width: 432px;
        height: 164px;
        border-radius: 6px;
        padding: 10px;
        gap: 17px;

        .store-avatar {
          width: 90px;
          height: 100%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .store__text-info {
          gap: 10px;
          .store-name {
            font-size: 14px;
            font-weight: 500;
            line-height: 16.41px;
            color: $color-1a1a1a;
          }
          .store-rates {
            gap: 8px;
            .store_rating-star {
              font-size: 12px;
              font-weight: 500;
              line-height: 14.06px;
              color: $color-969696;
              span {
                font-size: 15px;
                color: $color-star;
              }
            }
            .store__status-delivery {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 500;
              line-height: 14.06px;
              color: $color-2ead5b;
            }
          }

          .store__follow-block {
            gap: 6px;
            .button-follow {
              border: 0;
              background-color: $color-e9f6df;
              border-radius: 3px;
              padding: 3px 10.5px;
              color: $color-00923f;
              line-height: 18px;
              i {
                font-size: 18px;
                line-height: 18px;
                color: $color-00923f;
                &::before {
                  font-weight: 600 !important;
                }
              }
            }
            .img-follower__block {
              .follower-img {
                height: 24px;
                width: 24px;
                &:not(:first-child) {
                  margin-left: -10px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50%;
                  border: 2px solid $color-white;
                }
              }
            }
            .store-follower__qty {
              font-size: 14px;
              font-weight: 600;
              line-height: 18px;
              color: $color-343434;
            }
          }
          .store__brand-product {
            gap: 7px;
            .brand-img {
              height: 45px;
              img {
                max-width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }

        .store-details__menu-mobile {
          display: none;
          top: 5px;
          right: 5px;
        }
      }

      .chat-with-store {
        gap: 10px;
        position: absolute;
        padding: 0;
        bottom: 12px;
        right: 68px;
        height: 46px;
        width: 165px;
        border-radius: 6px;
        border: 1px solid $color-29ab56;
        background-color: $color-white;
        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 18.75px;
          color: $color-29ab56;
        }
        i {
          color: #29ab56;
          font-size: 23px;
        }
      }
      .link-store {
        position: absolute;
        padding: 0;
        bottom: 12px;
        right: 12px;
        height: 46px;
        width: 46px;
        background-color: $color-white;
        border-radius: 6px;
        border: 1px solid $color-29ab56;
        i {
          color: #29ab56;
          font-size: 23px;
          line-height: 23px;
        }
      }
    }
    .navbar-category-store {
      position: relative;

      .button-category {
        background-color: white;
        height: 36px;
        cursor: pointer;
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 36px;
          color: $color-29ab56;
          text-align: center;
        }

        &.active {
          background-color: $color-29ab56;
          p {
            font-weight: 700;
            color: $color-white;
          }
        }
      }
      .tooltip-line {
        position: absolute;
        background-color: $color-29ab56;
        clip-path: polygon(100% 0%, 50% 100%, 0 0%);
        width: 30px;
        height: 15px;
        left: 9%;
        transform: translateX(-10%);
      }
    }

    .store-body__content-category {
      margin-top: 24px;
      .content-block {
        display: none;
        animation: moving 0.5s ease;
        &.show {
          display: flex;
        }
        .outstanding-products__container {
          background-color: $color-white;
          border-radius: 3px;
          padding: 20px 12px 27px;

          .outstanding-heading {
            font-size: 26px;
            font-style: italic;
            font-weight: 900;
            line-height: 30.47px;
            text-align: left;
            color: $color-fc6c1a;
            margin-bottom: 14px;
          }

          .outstanding__list-product {
            display: flex;
            align-items: center;
            column-gap: 24px;
            overflow: auto;
            scrollbar-width: none;
            cursor: grab;
            user-select: none;

            .outstanding-product {
              width: 130px;
              flex: 0 0 auto;
              position: relative;
              cursor: pointer;
              .outstanding-product__discount {
                position: absolute;
                background-color: $color-fc6c1a;
                color: $color-white;
                width: 39.27px;
                height: 21.67px;
                top: 11px;
                left: 1px;
                line-height: 21.67px;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
              }
              .outstanding-product__image {
                height: 130px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border: 1px solid $color-57902b;
                  border-radius: 6px;
                }
              }

              .outstanding-product__info {
                gap: 3px;
                margin-top: 3px;
                .outstanding-product__name {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;
                  text-align: left;
                  color: $color-black;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  -webkit-box-orient: vertical;
                }
                .outstanding-product__price {
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 18.75px;
                  text-align: right;
                  color: $color-fc6c1a;
                }
                .outstanding-product__expiry-sale {
                  background-color: $color-fcaaaf;
                  position: relative;
                  .outstanding-product__sale-status {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 16px;
                    color: $color-white;
                  }
                  .progress-bar {
                    background-color: $color-fc6c1a;
                    border-radius: 0.375rem;
                  }
                }
              }
            }
          }
        }

        .store-products__container {
          margin-top: 24px;
          .products__banner {
            position: relative;
            height: 100%;
            .web-logo__sub {
              position: absolute;
              background-color: $color-1c7f00;
              width: 174.56px;
              height: 70.58px;
              border-radius: 0px 0px 9px 9px;
              display: flex;
              align-items: center;
              justify-content: center;
              left: 50%;
              transform: translateX(-50%);
            }
            .products__banner-img {
              height: 100%;
              img {
                height: auto;
                width: 100%;
                object-fit: cover;
              }
            }
          }

          .products__list-product {
            .store__product-item {
              box-shadow: 0px 0px 10px 0px #84848414;
              border-radius: 3px;
              cursor: pointer;
              .product-item__images-wrapper {
                .product-item__badge-brand {
                  width: fit-content;
                  padding: 4px;
                  height: 27px;
                  background-color: $color-white;
                  gap: 2.23px;
                  border-radius: 2.3px;
                  top: 1px;
                  left: 1px;
                  span {
                    text-align: center;
                    width: 49.96px;
                    height: 20px;
                    border-radius: 3.35px;
                    background-color: $color-29ab56;
                    font-size: 13.82px;
                    font-weight: 600;
                    line-height: 20px;
                    color: white;
                  }
                }

                .product-item__discount {
                  top: 1px;
                  right: 1px;
                  width: 30px;
                  height: 22px;
                  text-align: center;
                  background-color: $color-f69320;
                  border-radius: 0px 2px 0px 0px;

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -9px;
                    width: 100%;
                    height: 10px;
                    background-color: $color-f69320;
                    clip-path: polygon(
                      0% 0%,
                      100% 0%,
                      100% 100%,
                      50% 20%,
                      0% 100%
                    );
                  }

                  span {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    color: $color-white;
                  }
                }

                .product-item__tags {
                  bottom: 0;
                  height: 23px;
                  span {
                    width: 38px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 23px;
                    text-align: center;
                    background-color: $color-00bc3c;
                    color: $color-white;
                  }

                  p {
                    width: 102px;
                    font-size: 9px;
                    font-weight: 700;
                    line-height: 23px;
                    text-align: center;
                    background-color: $color-008129;
                    color: $color-white;
                    clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
                  }
                }
              }

              .product-item__details {
                padding: 10px 10px 12px 10px;
                gap: 10px;
                .product-item__title {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 21px;
                  text-align: left;
                  color: $color-black;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .product-item__info {
                  gap: 5px;
                  .product-item__price {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18.75px;
                    color: $color-00bc3c;
                  }

                  .product-item__stars {
                    color: $color-fdb600;
                    font-size: 13px;
                  }

                  .line-space {
                    height: 11px;
                    width: 1px;
                    background-color: $color-black;
                  }

                  .product-item__sold {
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-black;
                  }
                }

                .product-item__location {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 26.18px;
                  text-align: left;
                  color: $color-a3a3a3;
                }
              }
            }
          }
        }

        .store__sliders-wrapper {
          margin-top: 24px;
          display: flex;
          align-items: center;
          column-gap: 20px;
          .slider-item {
            flex: 1 1 auto;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .search-filter {
          margin-top: 10px;
          .search-filter__section {
            &:not(:last-child) {
              border-bottom: 1px solid $color-cccccc;
            }
            padding: 20px 0px;

            .search-filter__title {
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
              text-align: left;
              color: $color-333333;
              margin-bottom: 12px;
            }

            .search-filter__select-container {
              display: flex;
              flex-direction: column;
              gap: 12px;
              .search-filter__select-item {
                position: relative;
                .search-filter__select-btn {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .select-category__icon {
                    background-color: $color-white;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                      width: 16px;
                      height: 16px;
                      object-fit: cover;
                    }
                  }

                  .select-category__text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    color: $color-black;
                  }

                  .select-category__dropdown-icon {
                    background-color: $color-white;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                      font-size: 18px;
                      color: $color-1a1a1a;
                      &::before {
                        font-weight: 600 !important;
                      }
                    }
                  }
                }
                .select-category__options-menu {
                  display: none;
                  position: absolute;
                  background-color: white;
                  top: 30px;
                  left: 0;
                  width: 100%;
                  box-shadow: 0px 0px 15px 0px #0c2f4c26;
                  border-radius: 3px;
                  z-index: 10;

                  .select-category__option {
                    padding: 5px 10px;
                    cursor: pointer;
                    &:hover {
                      &:first-child {
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                      }
                      &:last-child {
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                      }
                      background-color: #f0f0f0;
                      transition: all 0.5s;
                      .option-text {
                        color: $color-black;
                        font-weight: 600;
                      }
                    }
                    .select-category__option-text {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 16.41px;
                      text-align: left;
                      color: black;
                    }
                  }
                }

                &.active {
                  .select-category__options-menu {
                    display: block;
                  }
                }
              }
            }

            .search-filter__input-range {
              .price-input {
                width: 100%;
                display: flex;
                margin: 12px 0px 16px;
                align-items: center;
                gap: 10px;
                justify-content: center;

                .field {
                  .separator {
                    width: 130px;
                    display: flex;
                    font-size: 19px;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }

              .slider {
                height: 5px;
                position: relative;
                background: #ddd;
                border-radius: 5px;
                .progress {
                  height: 100%;
                  left: 0%;
                  right: 0%;
                  position: absolute;
                  border-radius: 5px;
                  background: $color-29ab56;
                }
              }
              .range-input {
                position: relative;
                input {
                  position: absolute;
                  width: 100%;
                  height: 5px;
                  top: -5px;
                  background: none;
                  pointer-events: none;
                  appearance: none;
                  cursor: pointer;
                  &[type="range"]::-webkit-slider-thumb {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    background: $color-white;
                    border: 1px solid $color-black;
                    pointer-events: auto;
                    -webkit-appearance: none;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
                  }
                  &[type="range"]::-moz-range-thumb {
                    height: 17px;
                    width: 17px;
                    border: none;
                    border-radius: 50%;
                    background: #17a2b8;
                    pointer-events: auto;
                    -moz-appearance: none;
                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                  }
                }
              }
            }

            .search-filter__checkbox-group {
              gap: 16px;
              .search-filter__option {
                display: flex;
                gap: 12px;
                .search-filter__checkbox {
                  transform: scale(1.154);
                  cursor: pointer;
                }
                .search-filter__label {
                  cursor: pointer;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: left;
                  color: $color-333333;
                }
              }
            }
          }
        }

        .search-results {
          padding-left: 0;
          padding-right: 0;
          margin-top: 14px;
          .search-results__header {
            margin-bottom: 17px;
            .search-results__sort {
              height: 40px;
              background-color: $color-e3e3e3;
              padding: 0px 12px 0px 28px;

              .search-results__sort-left {
                gap: 32px;
                .search-results__sort-label {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;
                  text-align: left;
                  color: #333333;
                }
                .sort-button__container {
                  gap: 14px;
                  .search-results__sort-button {
                    border: 0;
                    width: 84px;
                    height: 26px;
                    background-color: white;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.41px;
                    color: #333333;
                    &.search-results__sort-button--active {
                      background-color: $color-29ab56;
                      color: white;
                    }
                  }

                  .search-results__sort-select {
                    width: 139px;
                    background: white;
                    position: relative;
                    select {
                      display: inline-block;
                      width: 100%;
                      height: 26px;
                      padding: 0px 8px;
                      border: 0;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 16.41px;
                      text-align: left;
                      color: #333333;
                      appearance: none;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      cursor: pointer;

                      &:focus {
                        outline: none;
                      }
                    }
                    .bi {
                      position: absolute;
                      color: #d9d9d9;
                      top: 55%;
                      right: 10px;
                      transform: translateY(-50%);
                      pointer-events: none;
                      font-size: 15px;
                    }
                  }
                }
              }

              .search-results__pagination {
                gap: 9px;
                .search-results__page-info {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 19px;
                  letter-spacing: 0.20000000298023224px;
                  text-align: left;
                  color: #333333;
                  span {
                    font-weight: 700;
                    color: #00bc3c;
                  }
                }
                .search-results__page-button--block {
                  gap: 1px;
                  .search-results__page-button {
                    width: 16px;
                    height: 16px;
                    background-color: white;
                    cursor: pointer;

                    i {
                      display: block;
                      height: 16px;
                      width: 16px;
                      position: relative;
                      &::before {
                        font-size: 12px;
                        position: absolute;
                        top: 2px;
                        right: 2px;
                      }
                    }
                  }
                }
              }
            }
          }

          .search-results__list-products {
            .search-results__product-item {
              box-shadow: 0px 0px 10px 0px #84848414;
              border-radius: 3px;
              cursor: pointer;
              .product-item__images-wrapper {
                .product-item__badge-brand {
                  width: fit-content;
                  padding: 4px;
                  height: 27px;
                  background-color: white;
                  gap: 2.23px;
                  border-radius: 2.3px;
                  top: 1px;
                  left: 1px;
                  span {
                    text-align: center;
                    width: 49.96px;
                    height: 20px;
                    border-radius: 3.35px;
                    background-color: $color-29ab56;
                    font-size: 13.82px;
                    font-weight: 600;
                    line-height: 20px;
                    color: white;
                  }
                }

                .product-item__discount {
                  top: 1px;
                  right: 1px;
                  width: 30px;
                  height: 22px;
                  text-align: center;
                  background-color: $color-f69320;
                  border-radius: 0px 2px 0px 0px;

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -9px;
                    width: 100%;
                    height: 10px;
                    background-color: $color-f69320;
                    clip-path: polygon(
                      0% 0%,
                      100% 0%,
                      100% 100%,
                      50% 20%,
                      0% 100%
                    );
                  }

                  span {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    color: white;
                  }
                }

                .product-item__tags {
                  bottom: 0;
                  height: 23px;
                  span {
                    width: 38px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 23px;
                    text-align: center;
                    background-color: #00bc3c;
                    color: white;
                  }

                  p {
                    width: 102px;
                    font-size: 9px;
                    font-weight: 700;
                    line-height: 23px;
                    text-align: center;
                    background-color: #008129;
                    color: white;
                    clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
                  }
                }
              }

              .product-item__details {
                padding: 10px 10px 12px 10px;
                gap: 10px;
                .product-item__title {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 21px;
                  text-align: left;
                  color: $color-black;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .product-item__info {
                  gap: 5px;
                  .product-item__price {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18.75px;
                    color: $color-00bc3c;
                  }

                  .product-item__stars {
                    color: $color-fdb600;
                    font-size: 13px;
                  }

                  .line-space {
                    height: 11px;
                    width: 1px;
                    background-color: $color-black;
                  }

                  .product-item__sold {
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-black;
                  }
                }

                .product-item__location {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 26.18px;
                  text-align: left;
                  color: $color-a3a3a3;
                }
              }
            }
          }

          .pagination__list-product {
            gap: 5px;
            .pagination__item {
              .pagination__link {
                display: inline-block;
                width: 24px;
                height: 20px;
                background-color: white;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.20000000298023224px;
                color: $color-333333;

                &.pagination__link--active {
                  color: white;
                  background-color: $color-29ab56;
                }
              }
            }
          }
        }

        .store-profile__heading {
          font-size: 24px;
          font-weight: 600;
          line-height: 28.13px;
          margin-bottom: 16px;
          color: $color-00923f;
        }

        .store-profile__wrapper {
          background-color: $color-white;
          padding: 22px 12px;

          .store__info-description {
            background-color: $color-f5f5f7;
            height: 190px;
            overflow: auto;
            scrollbar-width: none;
            padding: 10px;
            border-radius: 8px;
            .text-desc {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              color: $color-black;
            }
          }

          .store__info-ratings--table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;
            .store__tbl-row {
              th {
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
                color: $color-black;
                width: 40%;
              }
              td {
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-align: left;
                color: $color-29ab56;
                width: 60%;
              }
            }
          }

          .store__info-organization {
            width: 100%;
            .organization__tbl-row {
              &:nth-child(even) {
                background-color: white;
              }
              &:nth-child(odd) {
                background-color: #f5f5f7;
                th {
                  border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
                }
                td {
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                }
              }
              th {
                padding: 7px 16px;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
                color: $color-black;
                width: 30%;
              }
              td {
                padding: 7px 16px;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-align: left;
                color: $color-black;
                width: 70%;
              }

              &.product-info__table {
                th {
                  width: 15%;
                }
                td {
                  width: 85%;
                }
              }
            }
          }

          .certificate-wrapper {
            display: -webkit-box;
            overflow: auto;
            scrollbar-width: none;
            gap: 24px;
            cursor: grab;
            .certificate-img {
              width: 254px;
              height: 259px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
                border: 1px solid #57902b;
              }
            }
          }
        }

        .store__factory-imgs {
          .factory-img__card {
            .fact-img {
              height: 210px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .factory-text {
              background-color: white;
              padding: 20px;

              p {
                font-size: 20px;
                font-weight: 400;
                line-height: 28.52px;
                color: $color-black;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        &.store-brand {
          background-color: $color-white;
          padding: 24px 25px 38px;
          row-gap: 31px;
          .store-brand__vision-mission--card {
            position: relative;
            width: 470px;
            height: 223px;
            border-radius: 5px;
            background: $color-white;
            box-shadow: 0px 0px 15px 0px #0c2f4c26;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 22px;

            .vision-mission__title {
              text-transform: uppercase;
              width: 80%;
              font-size: 32px;
              font-weight: 400;
              line-height: 27px;
              color: $color-29ab56;
            }
            .vision-mission__text {
              width: 80%;
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              color: $color-black;
            }

            &::before {
              content: "";
              position: absolute;
              height: 70px;
              width: 4px;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              background-color: $color-29ab56;
            }

            &.active {
              background-color: $color-29ab56;
              .vision-mission__title {
                color: $color-white;
              }
              .vision-mission__text {
                color: $color-white;
              }

              &::before {
                background-color: $color-white;
              }
            }
          }

          .store-brand__title {
            font-size: 24px;
            font-weight: 500;
            line-height: 28.13px;
            color: $color-29ab56;
            margin-bottom: 6px;
          }

          .store-brand__desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: $color-black;
          }
        }

        .table-info-contact {
          margin-top: 23px;
          margin-bottom: 37px;
          .tbl-info {
            width: 600px;
            border-collapse: separate;
            border-spacing: 0 5px;
            .tbl-row {
              &:nth-child(even) {
                background-color: white;
              }
              &:nth-child(odd) {
                background-color: #f5f5f7;
                th {
                  border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
                }
                td {
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                }
              }
              th {
                width: 30%;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                color: $color-1a1a1a;
                padding: 7px 16px;
              }
              td {
                width: 70%;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                color: $color-black;
                padding: 7px 16px;
              }
            }
          }
        }

        .form-contact__container {
          margin-bottom: 44px;
          .contact-form {
            width: 600px;
            box-shadow: 0px 0px 10px 0px #84848414;
            padding: 24px 32px;
            .send-to-address {
              padding-bottom: 13px;
              border-bottom: 1px solid #dbdee5;
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 21.6px;
                color: #858585;
                span {
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 21.6px;
                  color: $color-black;
                }
              }
              i {
                font-size: 25px;
                cursor: pointer;
              }
            }

            .text-area__mess {
              margin-top: 13px;
              margin-bottom: 13px;

              textarea {
                padding: 14px 16px 24px;
                width: 100%;
                height: 144px !important;
                resize: none;
                border: 0.5px solid #dbdee5;
                &::placeholder {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 21.6px;
                  color: #858585;
                }
                &:focus {
                  outline: none;
                }
              }

              .limit-letters {
                font-size: 14px;
                font-weight: 400;
                line-height: 18.2px;
                text-align: right;
                color: #858585;
              }

              .fast-mess {
                display: flex;
                flex-wrap: wrap;
                column-gap: 4px;
                row-gap: 5px;
                .badge {
                  flex: 1 1 auto;
                  background-color: $color-f6fcf8;
                  color: $color-29ab56;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;
                }
              }
            }

            .btn-send-mess {
              width: 100%;
              height: 44px;
              border: 0;
              background-color: $color-29ab56;
              color: $color-white;
              font-family: Roboto;
              font-size: 14px;
              font-weight: 700;
              line-height: 44px;

              &:hover {
                background-color: $color-008129;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
