$background-wrapper-Color: #f5f5f7;
$text-color: #333333;
$color-515154: #515154;
$color-black: #000000;
$color-f4f4f4: #f4f4f4;
$color-29ab56: #29ab56;
$color-fec300: #fec300;
$color-fb424f: #fb424f;
$color-fbfbfb: #fbfbfb;
$color-116abd: #116abd;
$color-cccccc: #cccccc;
$color-666666: #666666;
$color-969696: #969696;
$color-ffebeb: #ffebeb;
$color-f0f8ff: #f0f8ff;
$color-ff000f: #ff000f;
$color-2e9Dff: #2e9dff;
$color-d2d2d7: #d2d2d7;
$color-f69320: #f69320;
$color-00bc3c: #00bc3c;
$color-fdb600: #fdb600;
$color-a3a3a3: #a3a3a3;

.background-wrapper {
  background-color: $background-wrapper-Color;
}

.product-details__wrapper {
  .subbar-top {
    height: 38px;
    background-color: white;
    padding: 7px 0px;
    .container {
      padding: 0;
      .subbar-block {
        gap: 24px;
        .subbar-item {
          padding: 0;
          gap: 6px;
          p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.41px;
            text-align: left;
            color: #007b2b;
          }
        }
      }
    }
  }
  .breadcrumb-container {
    margin-top: 18px;
    margin-bottom: 18px;
    .breadcrumb-item {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      //   color: $text-color;
    }
  }
  .product-details__container {
    .product-preview-info {
      padding: 17px 20px 36px;
      background-color: white;
      border-radius: 6px;
      .product-gallery {
        gap: 18px;
        position: relative;
        .button-back__mobile {
          position: absolute;
          display: none;
          width: 24px;
          height: 24px;
          background-color: #d9d9d9;
          border-radius: 50%;
          z-index: 100;
          left: 16px;
          top: 20px;
          i {
            font-size: 19px;
            color: white;
          }
        }

        .button-cart__mobile {
          position: absolute;
          display: none;
          width: 24px;
          height: 24px;
          background-color: #d9d9d9;
          border-radius: 50%;
          z-index: 100;
          right: 16px;
          top: 20px;
          i {
            font-size: 16px;
            color: white;
          }
        }
        .product-gallery__main-image {
          position: relative;
          border-radius: 3px;
          width: fit-content;

          .product-item__tags {
            bottom: 0;
            height: 43px;
            display: none;
            span {
              width: 71.82px;
              font-size: 23px;
              font-weight: 900;
              line-height: 40px;
              text-align: center;
              background-color: #00bc3c;
              color: white;
            }

            p {
              width: 193.69px;
              font-size: 18px;
              font-weight: 700;
              line-height: 40px;
              text-align: center;
              background-color: #008129;
              color: white;
              clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
            }
          }

          .img-trans-mobile {
            display: none;
            position: absolute;
            bottom: 10px;
            right: 22px;
          }

          .product-gallery__play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
          }
        }

        .product-gallery__thumbnails {
          gap: 12px;
          width: 100%;

          .product-gallery__thumbnail {
            width: 85px;
            height: 85px;
            object-fit: fill;
            cursor: pointer;
          }

          .btn-thumb {
            position: absolute;
            border: 0;
            width: 28px;
            height: 28px;
            background-color: $color-515154;
            opacity: 0.3;
            border-radius: 50%;

            &.pre-btn {
              left: 0;
              margin-left: 10px;
            }

            &.next-btn {
              right: 0;
              margin-right: 10px;
            }

            i {
              color: white;
              &::before {
                font-weight: 600;
              }
            }
          }
        }

        .product-gallery__share {
          gap: 14px;
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: $color-black;
          }

          .share-block {
            gap: 9px;
            .product-gallery__share-icon {
              span {
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: $color-f4f4f4;
              }
            }
          }
        }
      }

      .product-info {
        margin-left: 15px;
        .product-info__header {
          gap: 12px;
          .product-info__badge {
            padding: 2px 10px 2px 10px;
            border-radius: 3px;
            background-color: $color-29ab56;
            color: white;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.41px;
          }

          .product-info__container {
            .product-info__name-rate {
              .product-info__name {
                width: 90%;
                font-size: 24px;
                font-weight: 600;
                line-height: 28.13px;
                color: $color-black;
              }

              .product-item__discount {
                display: none;
                top: 20px;
                right: 20px;
                width: 30px;
                height: 22px;
                text-align: center;
                background-color: $color-f69320;
                border-radius: 0px 2px 0px 0px;

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -9px;
                  width: 100%;
                  height: 10px;
                  background-color: $color-f69320;
                  clip-path: polygon(
                    0% 0%,
                    100% 0%,
                    100% 100%,
                    50% 20%,
                    0% 100%
                  );
                }

                span {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 14px;
                  color: white;
                }
              }

              .product-price__mobile {
                display: none;
                font-size: 18px;
                font-weight: 700;
                line-height: 21.09px;
                text-align: left;
                color: $color-29ab56;
              }

              .product-evaluate__block {
                gap: 21px;
                .product-info__star {
                  gap: 4px;
                  p {
                    width: fit-content;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16.41px;
                    color: $text-color;
                  }
                  span {
                    color: $color-fec300;
                    font-size: 14px;
                  }
                }

                .product-info__rating,
                .product-info__sold {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;

                  span {
                    font-weight: 700;
                  }
                }
              }
            }

            .product-info__price-qr {
              .product-info__price {
                font-size: 24px;
                font-weight: 600;
                line-height: 28.13px;
                color: $color-fb424f;
              }
            }
          }
        }
        .product-info__body {
          background-color: $color-fbfbfb;
          padding-bottom: 10px;
          gap: 20px;
          border-radius: 6px;
          margin-top: 13px;
          .table-preview {
            border-collapse: separate;
            border-spacing: 15px;

            .table-preview__row {
              .table-preview__heading {
                vertical-align: top;
                .product-info__body-text {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 16.41px;
                  color: $color-black;
                }
              }
              .product-info__quantity {
                .product-info__table {
                  border: 1px solid $color-black;
                  .table__row {
                    .table__header,
                    .table__data {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 16.41px;
                      text-align: center;
                      color: $color-black;
                      border: 1px solid $color-black;
                      padding: 5px 35px;

                      .table__link {
                        font-weight: 700;
                        color: $color-116abd;
                      }
                    }
                  }
                }
              }

              .product-info__origin {
                .product-info__origin-link {
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 16.41px;
                  color: $color-116abd;
                  text-decoration: underline;
                }
              }

              .product-info__delivery {
                .product__delivery-info {
                  gap: 8px;
                  .product-info__address {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16.41px;
                    text-align: left;
                    color: $text-color;
                  }

                  .product-info__delivery-option {
                    width: 510px;
                    height: 72px;
                    padding-left: 20px;
                    border-radius: 3px;
                    border: 1px solid $color-cccccc;
                    background-color: white;
                    gap: 12px;

                    .product-info__delivery-standard {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 20px;
                      color: $color-666666;
                      .product-info__delivery-type {
                        font-weight: 700;
                        color: $text-color;
                      }

                      .product-info__delivery-date {
                        font-weight: 700;
                        color: #0066cc;
                      }
                    }

                    .product-info__delivery-cost {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 20px;
                      color: $color-666666;
                      span {
                        font-weight: 700;
                        color: $text-color;
                      }
                    }
                  }
                }
              }

              .product-info__quantity-selector {
                .product__quantity-button {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 24px;
                  height: 24px;
                  line-height: 24px;
                  border: 1px solid #e4e4e4;
                  background-color: white;

                  .btn-minus,
                  .btn-plus {
                    font-size: 20px;
                    &::before {
                      font-weight: 600 !important;
                    }
                    &.btn-handle {
                      color: $color-29ab56;
                    }
                  }
                }

                .product__quantity-input {
                  width: 52px;
                  height: 24px;
                  line-height: 24px;
                  border: 1px solid #e4e4e4;
                  text-align: center;
                  &:focus {
                    outline: none;
                  }
                }

                .product__stock {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                  color: $color-black;
                }
              }

              .product-info__actions {
                gap: 20px;
                .product__action-button {
                  width: 245px;
                  height: 60px;
                  border: 0;
                  flex-shrink: 0;

                  &.product__action-button--cart {
                    background-color: white;
                    border-radius: 2.47px;
                    border: 1.85px solid $color-29ab56;
                    color: $color-29ab56;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    &:hover {
                      background-color: $color-29ab56;
                      color: white;
                    }

                    i::before {
                      font-weight: 600 !important;
                    }
                  }

                  &.product__action-button--buy {
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 2.47px;
                    line-height: 28px;
                    color: white;
                    background-color: $color-29ab56;
                    &:hover {
                      background-color: #1a9043;
                    }
                  }
                }
              }
            }
          }

          .slogan {
            margin-left: 115px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #29ab56;
            text-align: center;
          }
        }
      }
    }

    .store-wrapper {
      padding: 20px 34px;
      margin-top: 24px;
      background-color: white;
      border-radius: 6px;
      .store-info {
        position: relative;
        gap: 17px;
        .store-info__badge {
          position: absolute;
          top: -9px;
          left: -5px;
          padding: 2px 10px 2px 10px;
          border-radius: 3px;
          background-color: #29ab56;
          color: white;
          font-size: 14px;
          font-weight: 600;
          line-height: 16.41px;
        }

        .store-info__img {
          height: 90px;
          width: 90px;
          object-fit: fill;
        }

        .store-info__block {
          gap: 6px;
          .store-info__name {
            font-size: 14px;
            font-weight: 500;
            line-height: 16.41px;
            color: $color-black;
          }

          .store-info__rating {
            font-size: 12px;
            font-weight: 500;
            line-height: 15.06px;
            color: $color-969696;

            span {
              color: $color-fec300;
              font-size: 13px;
            }
          }

          .store-info__type {
            font-size: 12px;
            font-weight: 500;
            line-height: 15.06px;
            color: $color-29ab56;
          }

          .store-info__button-action {
            gap: 6px;

            .store-info_button {
              border-radius: 3px;
              padding: 3px;
              font-size: 12px;
              font-weight: 500;
              line-height: 14.06px;
              border: 0;

              i {
                font-size: 15px;
              }
            }

            .store-info__chat-button {
              color: $color-ff000f;
              background-color: $color-ffebeb;
            }
            .store-info__view-button {
              color: $color-2e9Dff;
              background-color: $color-f0f8ff;
            }
          }
        }
      }

      .store-ratings {
        gap: 17px;
        .store-rating__info {
          column-gap: 18px;
          .rated-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 5px;
            span {
              font-size: 16px;
              font-weight: 700;
              line-height: 18.75px;
              letter-spacing: 0.2px;
              color: $color-29ab56;
            }
            p {
              font-size: 14px;
              font-weight: 700;
              line-height: 16.41px;
              letter-spacing: 0.2px;
            }
          }
        }
        .store-follower {
          gap: 22px;
          .avatar-block {
            .circle {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: -15px;
              border: 2px solid white;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .store-follower__text {
            gap: 4px;
            span {
              font-size: 16px;
              font-weight: 700;
              line-height: 18.75px;
              letter-spacing: 0.2px;
              color: $color-29ab56;
            }
            p {
              font-size: 14px;
              font-weight: 700;
              line-height: 16.41px;
              letter-spacing: 0.2px;
            }
          }
        }
      }
    }

    .description-wrapper {
      padding: 20px 39px 32px;
      margin-top: 19px;
      background-color: white;
      border-radius: 6px;
      .description-tab__box {
        border-bottom: 1px solid $color-d2d2d7;
        margin-bottom: 24px;
        margin-left: -14px;
        column-gap: 39px;

        .under-line {
          top: 30px;
          left: 0;
          height: 2px;
          width: 120px;
          background-color: $color-29ab56;
          transition: all 0.3s ease-in-out;
        }

        .tab_btn {
          font-size: 17px;
          font-weight: 400;
          line-height: 30px;
          padding: 0;
          text-align: center;
          color: $color-969696;
          border: 0;
          background-color: transparent;

          &.active {
            font-weight: 700;
            color: $color-black;
          }
        }
      }

      .description-content__box {
        .content {
          display: none;
          animation: moving 0.5s ease;

          &.show {
            display: block;
          }
          .desc-heading {
            font-size: 17px;
            font-weight: 500;
            line-height: 25px;
            color: $color-black;
          }
          .table-info {
            margin-bottom: 31px;
            table {
              margin-top: 12px;
              width: 590px;
              tr {
                &:nth-child(even) {
                  background-color: white;
                }
                &:nth-child(odd) {
                  background-color: #f5f5f7;
                  th {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                  }
                  td {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                  }
                }
              }
              th {
                padding: 9px 16px;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
                color: #515154;
              }
              td {
                padding: 9px 16px;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                color: #86868b;
              }
            }
          }

          .desc-text {
            p {
              margin-top: 12px;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              color: $color-black;
            }
          }
        }
      }
    }

    .related-products__container {
      padding: 15px 25px;
      margin-top: 18px;
      background-color: white;
      border-radius: 6px;
      .related-products__heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.13px;
        text-align: left;
        color: $color-00bc3c;
        margin-bottom: 14px;
      }

      .get-related-products {
        .search-results__product-item {
          margin-bottom: 10px;
          box-shadow: 0px 0px 15px 0px #0c2f4c26;
          border-radius: 3px;
          cursor: pointer;
          .product-item__images-wrapper {
            .product-item__badge-brand {
              width: fit-content;
              padding: 4px;
              height: 27px;
              background-color: white;
              gap: 2.23px;
              border-radius: 2.3px;
              top: 1px;
              left: 1px;
              span {
                text-align: center;
                width: 49.96px;
                height: 20px;
                border-radius: 3.35px;
                background-color: $color-29ab56;
                font-size: 13.82px;
                font-weight: 600;
                line-height: 20px;
                color: white;
              }
            }

            .product-item__discount {
              top: 1px;
              right: 1px;
              width: 30px;
              height: 22px;
              text-align: center;
              background-color: $color-f69320;
              border-radius: 0px 2px 0px 0px;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -9px;
                width: 100%;
                height: 10px;
                background-color: $color-f69320;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 20%, 0% 100%);
              }

              span {
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
                color: white;
              }
            }

            .product-item__tags {
              bottom: 0;
              height: 23px;
              span {
                width: 38px;
                font-size: 14px;
                font-weight: 700;
                line-height: 23px;
                text-align: center;
                background-color: #00bc3c;
                color: white;
              }

              p {
                width: 102px;
                font-size: 9px;
                font-weight: 700;
                line-height: 23px;
                text-align: center;
                background-color: #008129;
                color: white;
                clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
              }
            }
          }

          .product-item__details {
            padding: 10px 10px 12px 10px;
            gap: 10px;
            .product-item__title {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              color: $color-black;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .product-item__info {
              gap: 5px;
              .product-item__price {
                font-size: 16px;
                font-weight: 700;
                line-height: 18.75px;
                color: $color-00bc3c;
              }

              .product-item__stars {
                color: $color-fdb600;
                font-size: 13px;
              }

              .line-space {
                height: 11px;
                width: 1px;
                background-color: $color-black;
              }

              .product-item__sold {
                font-size: 12px;
                font-weight: 400;
                color: $color-black;
              }
            }

            .product-item__location {
              font-size: 12px;
              font-weight: 400;
              line-height: 26.18px;
              text-align: left;
              color: $color-a3a3a3;
            }
          }
        }
      }
    }

    .rating-product__customer-mobile {
      background-color: white;
      padding: 12px 16px;
      margin-top: 8px;

      .product-rating__average {
        gap: 24px;
        border-bottom: 2px solid #ededed;
        padding-bottom: 12px;
        .product-rating__info--mobile {
          flex: 1;
          .average {
            font-size: 25px;
            font-weight: 800;
            line-height: 18.2px;
            text-align: left;
            color: $color-black;
            .total {
              font-size: 14px;
              font-weight: 400;
              line-height: 18.2px;
              text-align: left;
            }
          }
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;
            text-align: left;
            color: $color-black;
            margin-top: 8px;
          }
        }

        .line-space {
          height: 106px;
          width: 1.5px;
          background-color: #ededed;
        }

        .product-rating__stars--mobile {
          flex: 3;
          .star-container {
            display: flex;
            gap: 14px;
            align-items: center;
            width: 100%;
            span {
              font-size: 17px;
              letter-spacing: 1.5px;
              color: $color-fdb600;
            }
            .progress {
              width: 100px;
              height: 4px;
              .progress-bar {
                background-color: $color-fec300;
                border-radius: 0.375rem;
              }
            }
            p {
              font-size: 12px;
              font-weight: 400;
              line-height: 16.8px;
              letter-spacing: -0.20000000298023224px;
              color: $color-black;
            }
          }
        }
      }
      .filter-comment__options {
        margin-top: 32px;
        gap: 12px;
        .filter-comment__block {
          gap: 22px;
          button {
            border: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 18.2px;
            padding: 12px 16px 12px 16px;
            border-radius: 2px;
            background-color: #f8f8f8;
            color: $color-black;

            &.btn--active {
              background-color: $color-29ab56;
              color: white;
            }
          }
        }
        .filter-comment__stars {
          gap: 10px;
          .btn__filter--star {
            border: 0;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border-radius: 2px;
            padding: 12px;
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 18.2px;
              color: #4d4d4d;
            }
            span {
              color: $color-fdb600;
              font-size: 20px;
            }
          }
        }
      }
      .customer-comment__container {
        margin-top: 32px;
        .comment-block {
          gap: 16px;
          padding: 24px 0px;
          border-bottom: 1px solid $color-d2d2d7;
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
          }
          .customer-info {
            .customer-info__left {
              gap: 8px;
              .customer-avt {
                height: 40px;
                width: 40px;
                img {
                  border-radius: 50%;
                }
              }
              .block-name-star {
                gap: 2px;
                .customer-name {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 18.2px;
                  color: $color-black;
                }
                span {
                  font-size: 18px;
                  color: $color-fdb600;
                }
              }
            }
            .customer-info__right-date {
              font-size: 12px;
              font-weight: 400;
              line-height: 16.8px;
              letter-spacing: -0.20000000298023224px;
              color: #888888;
            }
          }
          .customer-comment__text {
            font-size: 12px;
            font-weight: 400;
            line-height: 16.8px;
            letter-spacing: -0.20000000298023224px;
            text-align: left;
            color: $color-black;
          }
          .customer__upload-product-img-video {
            gap: 16px;
            width: 100%;
            overflow-x: scroll;
            scrollbar-width: none;
            display: -webkit-box;
            .img_customer-upload {
              width: 82px;
              height: 82px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
              }
            }
          }
          .feedback-seller {
            background-color: #f8f8f8;
            padding: 10px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            row-gap: 6px;
            .feedback-heading {
              font-size: 12px;
              font-weight: 500;
              line-height: 16.2px;
              text-align: left;
            }
            .rep-comment {
              font-size: 12px;
              font-weight: 400;
              line-height: 16.8px;
              letter-spacing: -0.20000000298023224px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
