.background-wrapper {
  background-color: #f5f5f7;
}

.product-details__wrapper .subbar-top {
  height: 38px;
  background-color: white;
  padding: 7px 0px;
}
.product-details__wrapper .subbar-top .container {
  padding: 0;
}
.product-details__wrapper .subbar-top .container .subbar-block {
  gap: 24px;
}
.product-details__wrapper .subbar-top .container .subbar-block .subbar-item {
  padding: 0;
  gap: 6px;
}
.product-details__wrapper .subbar-top .container .subbar-block .subbar-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  text-align: left;
  color: #007b2b;
}
.product-details__wrapper .breadcrumb-container {
  margin-top: 18px;
  margin-bottom: 18px;
}
.product-details__wrapper .breadcrumb-container .breadcrumb-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.product-details__wrapper .product-details__container .product-preview-info {
  padding: 17px 20px 36px;
  background-color: white;
  border-radius: 6px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery {
  gap: 18px;
  position: relative;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .button-back__mobile {
  position: absolute;
  display: none;
  width: 24px;
  height: 24px;
  background-color: #d9d9d9;
  border-radius: 50%;
  z-index: 100;
  left: 16px;
  top: 20px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .button-back__mobile i {
  font-size: 19px;
  color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .button-cart__mobile {
  position: absolute;
  display: none;
  width: 24px;
  height: 24px;
  background-color: #d9d9d9;
  border-radius: 50%;
  z-index: 100;
  right: 16px;
  top: 20px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .button-cart__mobile i {
  font-size: 16px;
  color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__main-image {
  position: relative;
  border-radius: 3px;
  width: fit-content;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__main-image .product-item__tags {
  bottom: 0;
  height: 43px;
  display: none;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__main-image .product-item__tags span {
  width: 71.82px;
  font-size: 23px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  background-color: #00bc3c;
  color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__main-image .product-item__tags p {
  width: 193.69px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  background-color: #008129;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__main-image .img-trans-mobile {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 22px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__main-image .product-gallery__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails {
  gap: 12px;
  width: 100%;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails .product-gallery__thumbnail {
  width: 85px;
  height: 85px;
  object-fit: fill;
  cursor: pointer;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails .btn-thumb {
  position: absolute;
  border: 0;
  width: 28px;
  height: 28px;
  background-color: #515154;
  opacity: 0.3;
  border-radius: 50%;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails .btn-thumb.pre-btn {
  left: 0;
  margin-left: 10px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails .btn-thumb.next-btn {
  right: 0;
  margin-right: 10px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails .btn-thumb i {
  color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__thumbnails .btn-thumb i::before {
  font-weight: 600;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__share {
  gap: 14px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__share p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__share .share-block {
  gap: 9px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-gallery .product-gallery__share .share-block .product-gallery__share-icon span {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #f4f4f4;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info {
  margin-left: 15px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header {
  gap: 12px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__badge {
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  background-color: #29ab56;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-info__name {
  width: 90%;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  color: #000000;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-item__discount {
  display: none;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 22px;
  text-align: center;
  background-color: #f69320;
  border-radius: 0px 2px 0px 0px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-item__discount::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 10px;
  background-color: #f69320;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 20%, 0% 100%);
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-item__discount span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-price__mobile {
  display: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  color: #29ab56;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block {
  gap: 21px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__star {
  gap: 4px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__star p {
  width: fit-content;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: #333333;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__star span {
  color: #fec300;
  font-size: 14px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__rating,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__sold {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__rating span,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__name-rate .product-evaluate__block .product-info__sold span {
  font-weight: 700;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__header .product-info__container .product-info__price-qr .product-info__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  color: #fb424f;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body {
  background-color: #fbfbfb;
  padding-bottom: 10px;
  gap: 20px;
  border-radius: 6px;
  margin-top: 13px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview {
  border-collapse: separate;
  border-spacing: 15px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .table-preview__heading {
  vertical-align: top;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .table-preview__heading .product-info__body-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #000000;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity .product-info__table {
  border: 1px solid #000000;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity .product-info__table .table__row .table__header,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity .product-info__table .table__row .table__data {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  color: #000000;
  border: 1px solid #000000;
  padding: 5px 35px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity .product-info__table .table__row .table__header .table__link,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity .product-info__table .table__row .table__data .table__link {
  font-weight: 700;
  color: #116abd;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__origin .product-info__origin-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: #116abd;
  text-decoration: underline;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info {
  gap: 8px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__address {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: left;
  color: #333333;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__delivery-option {
  width: 510px;
  height: 72px;
  padding-left: 20px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: white;
  gap: 12px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__delivery-option .product-info__delivery-standard {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__delivery-option .product-info__delivery-standard .product-info__delivery-type {
  font-weight: 700;
  color: #333333;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__delivery-option .product-info__delivery-standard .product-info__delivery-date {
  font-weight: 700;
  color: #0066cc;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__delivery-option .product-info__delivery-cost {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__delivery .product__delivery-info .product-info__delivery-option .product-info__delivery-cost span {
  font-weight: 700;
  color: #333333;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e4e4e4;
  background-color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button .btn-minus,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button .btn-plus {
  font-size: 20px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button .btn-minus::before,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button .btn-plus::before {
  font-weight: 600 !important;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button .btn-minus.btn-handle,
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-button .btn-plus.btn-handle {
  color: #29ab56;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-input {
  width: 52px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e4e4e4;
  text-align: center;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__quantity-input:focus {
  outline: none;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__quantity-selector .product__stock {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions {
  gap: 20px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions .product__action-button {
  width: 245px;
  height: 60px;
  border: 0;
  flex-shrink: 0;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions .product__action-button.product__action-button--cart {
  background-color: white;
  border-radius: 2.47px;
  border: 1.85px solid #29ab56;
  color: #29ab56;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions .product__action-button.product__action-button--cart:hover {
  background-color: #29ab56;
  color: white;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions .product__action-button.product__action-button--cart i::before {
  font-weight: 600 !important;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions .product__action-button.product__action-button--buy {
  font-size: 20px;
  font-weight: 700;
  border-radius: 2.47px;
  line-height: 28px;
  color: white;
  background-color: #29ab56;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .table-preview .table-preview__row .product-info__actions .product__action-button.product__action-button--buy:hover {
  background-color: #1a9043;
}
.product-details__wrapper .product-details__container .product-preview-info .product-info .product-info__body .slogan {
  margin-left: 115px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #29ab56;
  text-align: center;
}
.product-details__wrapper .product-details__container .store-wrapper {
  padding: 20px 34px;
  margin-top: 24px;
  background-color: white;
  border-radius: 6px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info {
  position: relative;
  gap: 17px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__badge {
  position: absolute;
  top: -9px;
  left: -5px;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  background-color: #29ab56;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__img {
  height: 90px;
  width: 90px;
  object-fit: fill;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block {
  gap: 6px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #000000;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__rating {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.06px;
  color: #969696;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__rating span {
  color: #fec300;
  font-size: 13px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__type {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.06px;
  color: #29ab56;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__button-action {
  gap: 6px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__button-action .store-info_button {
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  border: 0;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__button-action .store-info_button i {
  font-size: 15px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__button-action .store-info__chat-button {
  color: #ff000f;
  background-color: #ffebeb;
}
.product-details__wrapper .product-details__container .store-wrapper .store-info .store-info__block .store-info__button-action .store-info__view-button {
  color: #2e9dff;
  background-color: #f0f8ff;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings {
  gap: 17px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-rating__info {
  column-gap: 18px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-rating__info .rated-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-rating__info .rated-info span {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.2px;
  color: #29ab56;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-rating__info .rated-info p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.2px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-follower {
  gap: 22px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-follower .avatar-block .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -15px;
  border: 2px solid white;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-follower .avatar-block .circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-follower .store-follower__text {
  gap: 4px;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-follower .store-follower__text span {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.2px;
  color: #29ab56;
}
.product-details__wrapper .product-details__container .store-wrapper .store-ratings .store-follower .store-follower__text p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.2px;
}
.product-details__wrapper .product-details__container .description-wrapper {
  padding: 20px 39px 32px;
  margin-top: 19px;
  background-color: white;
  border-radius: 6px;
}
.product-details__wrapper .product-details__container .description-wrapper .description-tab__box {
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 24px;
  margin-left: -14px;
  column-gap: 39px;
}
.product-details__wrapper .product-details__container .description-wrapper .description-tab__box .under-line {
  top: 30px;
  left: 0;
  height: 2px;
  width: 120px;
  background-color: #29ab56;
  transition: all 0.3s ease-in-out;
}
.product-details__wrapper .product-details__container .description-wrapper .description-tab__box .tab_btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  text-align: center;
  color: #969696;
  border: 0;
  background-color: transparent;
}
.product-details__wrapper .product-details__container .description-wrapper .description-tab__box .tab_btn.active {
  font-weight: 700;
  color: #000000;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content {
  display: none;
  animation: moving 0.5s ease;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content.show {
  display: block;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .desc-heading {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #000000;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info {
  margin-bottom: 31px;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table {
  margin-top: 12px;
  width: 590px;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table tr:nth-child(even) {
  background-color: white;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table tr:nth-child(odd) {
  background-color: #f5f5f7;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table tr:nth-child(odd) th {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table tr:nth-child(odd) td {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table th {
  padding: 9px 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #515154;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .table-info table td {
  padding: 9px 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #86868b;
}
.product-details__wrapper .product-details__container .description-wrapper .description-content__box .content .desc-text p {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
}
.product-details__wrapper .product-details__container .related-products__container {
  padding: 15px 25px;
  margin-top: 18px;
  background-color: white;
  border-radius: 6px;
}
.product-details__wrapper .product-details__container .related-products__container .related-products__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
  text-align: left;
  color: #00bc3c;
  margin-bottom: 14px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item {
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px 0px rgba(12, 47, 76, 0.1490196078);
  border-radius: 3px;
  cursor: pointer;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__badge-brand {
  width: fit-content;
  padding: 4px;
  height: 27px;
  background-color: white;
  gap: 2.23px;
  border-radius: 2.3px;
  top: 1px;
  left: 1px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__badge-brand span {
  text-align: center;
  width: 49.96px;
  height: 20px;
  border-radius: 3.35px;
  background-color: #29ab56;
  font-size: 13.82px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__discount {
  top: 1px;
  right: 1px;
  width: 30px;
  height: 22px;
  text-align: center;
  background-color: #f69320;
  border-radius: 0px 2px 0px 0px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__discount::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 10px;
  background-color: #f69320;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 20%, 0% 100%);
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__discount span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: white;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__tags {
  bottom: 0;
  height: 23px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__tags span {
  width: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  background-color: #00bc3c;
  color: white;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__images-wrapper .product-item__tags p {
  width: 102px;
  font-size: 9px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  background-color: #008129;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 95% 100%, 0 100%);
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details {
  padding: 10px 10px 12px 10px;
  gap: 10px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__info {
  gap: 5px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__info .product-item__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: #00bc3c;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__info .product-item__stars {
  color: #fdb600;
  font-size: 13px;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__info .line-space {
  height: 11px;
  width: 1px;
  background-color: #000000;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__info .product-item__sold {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
.product-details__wrapper .product-details__container .related-products__container .get-related-products .search-results__product-item .product-item__details .product-item__location {
  font-size: 12px;
  font-weight: 400;
  line-height: 26.18px;
  text-align: left;
  color: #a3a3a3;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile {
  background-color: white;
  padding: 12px 16px;
  margin-top: 8px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average {
  gap: 24px;
  border-bottom: 2px solid #ededed;
  padding-bottom: 12px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__info--mobile {
  flex: 1;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__info--mobile .average {
  font-size: 25px;
  font-weight: 800;
  line-height: 18.2px;
  text-align: left;
  color: #000000;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__info--mobile .average .total {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__info--mobile p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #000000;
  margin-top: 8px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .line-space {
  height: 106px;
  width: 1.5px;
  background-color: #ededed;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__stars--mobile {
  flex: 3;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__stars--mobile .star-container {
  display: flex;
  gap: 14px;
  align-items: center;
  width: 100%;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__stars--mobile .star-container span {
  font-size: 17px;
  letter-spacing: 1.5px;
  color: #fdb600;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__stars--mobile .star-container .progress {
  width: 100px;
  height: 4px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__stars--mobile .star-container .progress .progress-bar {
  background-color: #fec300;
  border-radius: 0.375rem;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .product-rating__average .product-rating__stars--mobile .star-container p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.200000003px;
  color: #000000;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options {
  margin-top: 32px;
  gap: 12px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__block {
  gap: 22px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__block button {
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  padding: 12px 16px 12px 16px;
  border-radius: 2px;
  background-color: #f8f8f8;
  color: #000000;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__block button.btn--active {
  background-color: #29ab56;
  color: white;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__stars {
  gap: 10px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__stars .btn__filter--star {
  border: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 2px;
  padding: 12px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__stars .btn__filter--star p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: #4d4d4d;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .filter-comment__options .filter-comment__stars .btn__filter--star span {
  color: #fdb600;
  font-size: 20px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container {
  margin-top: 32px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block {
  gap: 16px;
  padding: 24px 0px;
  border-bottom: 1px solid #d2d2d7;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block:first-child {
  padding-top: 0;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__left {
  gap: 8px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__left .customer-avt {
  height: 40px;
  width: 40px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__left .customer-avt img {
  border-radius: 50%;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__left .block-name-star {
  gap: 2px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__left .block-name-star .customer-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  color: #000000;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__left .block-name-star span {
  font-size: 18px;
  color: #fdb600;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-info .customer-info__right-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.200000003px;
  color: #888888;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer-comment__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.200000003px;
  text-align: left;
  color: #000000;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer__upload-product-img-video {
  gap: 16px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  display: -webkit-box;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer__upload-product-img-video .img_customer-upload {
  width: 82px;
  height: 82px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .customer__upload-product-img-video .img_customer-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .feedback-seller {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .feedback-seller .feedback-heading {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  text-align: left;
}
.product-details__wrapper .product-details__container .rating-product__customer-mobile .customer-comment__container .comment-block .feedback-seller .rep-comment {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -0.200000003px;
  text-align: left;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=product-details.css.map */
