.payment-method__header {
  background-color: #f5f5fa;
  height: 148px;
}
.payment-method__header .header__logo {
  flex: 1;
}
.payment-method__header .payment__handle-process {
  flex: 2;
  display: flex;
  gap: 14px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.payment-method__header .payment__handle-process .step-block {
  display: flex;
  align-items: center;
  gap: 160px;
  position: relative;
  cursor: pointer;
  width: fit-content;
  z-index: 1;
}
.payment-method__header .payment__handle-process .step-block .step-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 410px;
  height: 2px;
  background-color: #828282;
  z-index: -1;
}
.payment-method__header .payment__handle-process .step-block .step-block__button {
  width: 36px;
  height: 36px;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.payment-method__header .payment__handle-process .step-block .step-block__button .btn-rouned-check {
  width: 20px;
  height: 20px;
  background-color: #828282;
  border-radius: 50%;
}
.payment-method__header .payment__handle-process .step-block .step-block__button .btn-rouned-check.checked {
  background-color: #139640;
}
.payment-method__header .payment__handle-process .step-block__text {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 110px;
}
.payment-method__header .payment__handle-process .step-block__text .step-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #4f4f4f;
}
.payment-method__header .payment__handle-process .step-block__text .step-text.active {
  color: #000;
}
.payment-method__header .telephone {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.payment-method__header .telephone img {
  height: 48%;
  width: 48px;
}
.payment-method__header .telephone p {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  color: black;
}

.payment-method__body {
  background-color: #f9f9f9;
  padding: 30px 0px 76px 0px;
}
.payment-method__body .back-page {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.payment-method__body .back-page i {
  font-size: 18px;
  color: #000;
}
.payment-method__body .back-page i::before {
  font-weight: 600 !important;
}
.payment-method__body .back-page span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #595959;
}
.payment-method__body .payment-method__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.payment-method__body .payment-method__info {
  padding: 40px;
  background-color: #fff;
  border-radius: 3px;
}
.payment-method__body .payment-method__info .choose__payment-method {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item {
  display: flex;
  align-items: center;
  gap: 33px;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .container-label {
  position: relative;
  font-size: 17px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  user-select: none;
  border: 1px solid #b6b6b6;
  display: block;
  margin: 0;
  cursor: pointer;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .container-label:has(input:checked) {
  border: 1px solid #6ab4ff;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .container-label input:checked ~ .checkmark::after {
  transform: scale(1);
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .container-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .container-label .checkmark:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #29ab56;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(0);
  transition: 100ms ease;
}
.payment-method__body .payment-method__info .choose__payment-method .method-item .checkbox-name {
  user-select: none;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.27px;
  letter-spacing: 0.04em;
  color: #595959;
  cursor: pointer;
}
.payment-method__body .cart__payment-info {
  margin-top: 57.5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment-method__body .cart__payment-info .cart-payment__heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  color: #000;
  margin-bottom: 18px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper {
  background-color: #fff;
  border-radius: 3px;
  padding: 13px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-method__heading-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-method__heading-block .cart-payment__heading {
  margin-bottom: 0px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-method__heading-block .button__change-address {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #139640;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-info {
  margin-bottom: 9px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-info .customer-info {
  display: flex;
  align-items: center;
  gap: 35px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-info .customer-info .customer-name,
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .payment-info .customer-info .customer-phone {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #595959;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .customer-address .btn__add-address {
  border: 0;
  background-color: transparent;
  color: #139640;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 3px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .customer-address .btn__add-address i {
  font-size: 22px;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .customer-address .address .name-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #595959;
}
.payment-method__body .cart__payment-info .cart-payment__address-wrapper .customer-address .address .btn__change-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #139640;
  border: 0;
  float: right;
  background-color: transparent;
}
.payment-method__body .cart__payment-info .cart-payment__coupon {
  background-color: #fff;
  padding: 13px;
}
.payment-method__body .cart__payment-info .cart-payment__coupon .enter-coupon {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.payment-method__body .cart__payment-info .cart-payment__coupon .enter-coupon .choose-coupon {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #139640;
}
.payment-method__body .cart__payment-info .cart-payment__total {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 13px;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart-total__heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #595959;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__order {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__order .view-details {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  color: #29ab56;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__order .view-details i {
  font-size: 15px;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__calc-money {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__calc-money .cart__temporary-money {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__calc-money .cart__temporary-money .temporary-money {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.04em;
  color: #595959;
}
.payment-method__body .cart__payment-info .cart-payment__total .line {
  height: 1px;
  width: 100%;
  background-color: #000;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__total-money {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__total-money .total-money {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.04em;
  color: #139640;
}
.payment-method__body .cart__payment-info .cart-payment__total .cart__sub-text {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #139640;
}
.payment-method__body .cart__payment-info .btn__handle-submit--payment {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding: 18px;
  border: 0;
  background-color: #29ab56;
}
.payment-method__body .cart__payment-info .btn__handle-submit--payment:hover {
  background-color: #139640;
}

/*# sourceMappingURL=payment-method.css.map */
