@import url('./style.css');
/* SIZING ELEMENT */
.size-40px{
    width: 40px;
    height: 40px;
}
.size-25px{
    width: 25px;
    height: 25px;
}
.size-420px{
    max-width: 420px;
    max-height: 420px;
}
.size-85px{
    width: 85px;
    height: 85px;
}
.size-420px.size-85px{
    width: 400px;
    height: 90px;
}
.size-50px{
    width: 50px;
    height: 50px;
}
.size-90px{
    width: 90px;
    height: 90px;
}
.size-250px{
    width: 250px !important;
    height: 250px !important;
}
#preview-img-list{
    transition: 0.5s ease;
}
.nav-link{
    color: #D2D2D7;
}
.w-250px{
    width: 250px;
}
.h-250px{
    height: 250px;
}
.size-190px{
    width: 190px;
    height: 190px;
}
.w-192px{
    width: 192px !important;
}
.product-img{
    width: 192px;
    height: 192px;
}
.product-detailed-info > ul > li .nav-link.active{
    border-bottom: 2px var(--green) solid !important;
    color: black !important;
    font-weight: bold;
}
.tab-pane{
    color: black !important;
}
.shop-tab .nav-link.active{
    background-color: var(--green) !important;
    color: white !important;
}
.shop-tab .nav-link.active .nav-text::after{
    content: '';
    position: absolute;
    bottom: -40%;
    left: calc(50% - 15px);
    margin: auto;
    border-top: 15px solid var(--green);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
/* ELEMENT */
.shop-top{
    height: 400px;
}
.product-section-banner-left{
    height: 670px;
}
.product-section-products-right{
    height: 670px;
}
.product-section-products-right .product{
    height: 330px;
}

/* HOVER */

.nav-link:hover{
    color: black;
}



/* SLIDER */
.noUi-target {
    height: 5px !important;
    border-radius: 4px;
    background: #e0e0e0;
}
.noUi-connect {
    background: var(--green) !important;
    height: 3px !important;
    border-radius: 4px;
}
.noUi-horizontal .noUi-handle {
    height: 20px !important;
    width: 20px !important;
    border-radius: 60%;
    background: #fff;
    border:  2px solid var(--green);
    top: -8px !important;
}
.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
    display: none;
}