/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-wrapper {
    .container {
      .slider-wrapper {
        padding: 0px 16px 6px 16px;
        background-color: #1ab357;
      }

      .categories-icon-wrapper {
        .category-list {
          justify-content: start !important;
          overflow-x: scroll;
          scrollbar-width: none;
          padding: 12px 16px;
          .category-item {
            flex-shrink: 0;
            flex-basis: 60px;
          }
        }
      }
      .explore-wrapper {
        margin-top: 12px;
        .explore-heading {
          display: none !important;
        }

        .explore-item-container {
          margin-top: 0px;
          grid-template-columns: repeat(1, 1fr) !important;
          padding: 0px 16px;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 768px) {
  .home-wrapper {
    .subbar-top {
      display: none;
    }

    .container {
      .categories-icon-wrapper {
        .category-list {
          gap: 10px !important;
          background-color: transparent;
          .category-item {
            img {
              height: auto;
              width: 100%;
            }
          }
        }
      }

      .banner-wrapper {
        display: none !important;
      }

      .reputation-store-wrapper {
        margin-top: 0px;
        .store-card_container {
        }
      }

      .explore-wrapper {
        .explore-item-container {
          grid-template-columns: repeat(2, 1fr);
          .explore-item {
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 992px) {
  .home-wrapper {
    .container {
      .categories-icon-wrapper {
        .category-list {
          gap: 40px;
          padding: 16px;
          .category-item {
            p {
              font-size: 10px;
              width: 100%;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .reputation-store-wrapper {
        .store-card_container {
          gap: 14px;
          overflow: auto;
          scrollbar-width: none;
          scroll-behavior: smooth;
          .store-item {
            flex-shrink: 0;
            width: 162.5px;
          }
        }
      }

      .banner-wrapper {
        .banner-item {
          .banner-title {
            font-size: 17px;
          }
        }
      }

      .product-category-wrapper {
        .product-category-list {
          overflow: auto;
          scrollbar-width: none;
          width: 100%;
          .item-category {
            width: 86px;
            .category-title {
              font-size: 10px;
            }
          }
        }
      }

      .explore-wrapper {
        .explore-item-container {
          grid-template-columns: repeat(2, 1fr);
          .explore-item {
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-wrapper {
    .container {
      .categories-icon-wrapper {
        .category-list {
          gap: 60px;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-wrapper {
    .container {
    }
  }
}
