/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-wrapper .container .slider-wrapper {
    padding: 0px 16px 6px 16px;
    background-color: #1ab357;
  }
  .home-wrapper .container .categories-icon-wrapper .category-list {
    justify-content: start !important;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 12px 16px;
  }
  .home-wrapper .container .categories-icon-wrapper .category-list .category-item {
    flex-shrink: 0;
    flex-basis: 60px;
  }
  .home-wrapper .container .explore-wrapper {
    margin-top: 12px;
  }
  .home-wrapper .container .explore-wrapper .explore-heading {
    display: none !important;
  }
  .home-wrapper .container .explore-wrapper .explore-item-container {
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr) !important;
    padding: 0px 16px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .home-wrapper .subbar-top {
    display: none;
  }
  .home-wrapper .container .categories-icon-wrapper .category-list {
    gap: 10px !important;
    background-color: transparent;
  }
  .home-wrapper .container .categories-icon-wrapper .category-list .category-item img {
    height: auto;
    width: 100%;
  }
  .home-wrapper .container .banner-wrapper {
    display: none !important;
  }
  .home-wrapper .container .reputation-store-wrapper {
    margin-top: 0px;
  }
  .home-wrapper .container .explore-wrapper .explore-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .home-wrapper .container .categories-icon-wrapper .category-list {
    gap: 40px;
    padding: 16px;
  }
  .home-wrapper .container .categories-icon-wrapper .category-list .category-item p {
    font-size: 10px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .home-wrapper .container .reputation-store-wrapper .store-card_container {
    gap: 14px;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  .home-wrapper .container .reputation-store-wrapper .store-card_container .store-item {
    flex-shrink: 0;
    width: 162.5px;
  }
  .home-wrapper .container .banner-wrapper .banner-item .banner-title {
    font-size: 17px;
  }
  .home-wrapper .container .product-category-wrapper .product-category-list {
    overflow: auto;
    scrollbar-width: none;
    width: 100%;
  }
  .home-wrapper .container .product-category-wrapper .product-category-list .item-category {
    width: 86px;
  }
  .home-wrapper .container .product-category-wrapper .product-category-list .item-category .category-title {
    font-size: 10px;
  }
  .home-wrapper .container .explore-wrapper .explore-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-wrapper .container .categories-icon-wrapper .category-list {
    gap: 60px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=home-responsive.css.map */
