@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

:root {
  font-family: "Roboto";
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent; }

button {
  cursor: pointer;
  padding: 0px;
  margin: 0px; }

.Roboto10 {
  font-family: Roboto;
  font-size: 10px;
  line-height: 11.72px;
  text-align: left; }

.Roboto12 {
  font-size: 12px;
  line-height: normal;
  text-align: left; }

.Roboto13 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  text-align: left; }

.Roboto14 {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: left; }

.Roboto16 {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: left; }

.Roboto20 {
  font-size: 20px;
  text-align: center;
  line-height: normal; }

.Roboto22 {
  font-size: 22px;
  text-align: left;
  line-height: normal; }

.Roboto24 {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: normal; }

.Roboto32 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  text-align: left; }

.divideV {
  display: inline;
  min-width: 1px;
  height: 100%;
  background-color: white; }

.divideH {
  display: inline-block;
  min-height: 1px;
  width: 100%;
  background-color: white; }

a {
  color: #1a1a1a;
  text-decoration: none; }

.Template-popover {
  border-radius: 0px;
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 15px 0px #0c2f4c26;
  padding: 0px;
  z-index: 1; }
  .Template-popover .arrow {
    position: absolute;
    top: -12px;
    right: 16px;
    z-index: -1;
    background-image: url("../../assets/svg/Polygon 3.svg");
    width: 72px;
    height: 37px; }

.btnDropdown {
  padding: 0px; }

body {
  background-color: #f0f0f0;
  background-color: #f5f5fa;
  line-height: unset; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Xóa khoảng cách giữa nút và trường input */
  display: none;
  /* Ẩn nút tăng giảm */ }

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */ }

.FlexNormal {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal; }

@media (max-width: 1400px) {
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem:nth-of-type(n + 8) {
    display: none; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .listProductFirst_banner {
    width: 100%;
    object-fit: cover; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .commonProductList .commonProductItem:nth-of-type(n + 5) {
    display: none; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .secondListImg {
    width: 100%; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .commonProductList .commonProductItem:nth-of-type(n + 5) {
    display: none; } }

@media (max-width: 1200px) {
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem:nth-of-type(n + 6) {
    display: none; } }

@media (max-width: 992px) {
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct {
    overflow-x: scroll; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem {
      min-width: 108px; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem:nth-of-type(n + 8) {
      display: flex; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .commonProductList .commonProductItem:nth-of-type(n + 5) {
    display: flex; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList {
    overflow-x: scroll; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .commonProductList .commonProductItem {
      min-width: 193px; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .commonProductList .commonProductItem:nth-of-type(n + 5) {
      display: flex; } }

@media (max-width: 768px) {
  .container-xxl {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .detailStore .detailStore_banner .boxMobile {
    position: absolute;
    bottom: 10px; }
    .detailStore .detailStore_banner .boxMobile .divideV {
      height: 16px;
      background-color: white; }
    .detailStore .detailStore_banner .boxMobile .item {
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.06px;
      text-align: center;
      color: white; }
      .detailStore .detailStore_banner .boxMobile .item span:first-of-type {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.41px;
        text-align: center; }
  .Header {
    display: none; }
  .detailStore .detailStore_banner .topSearchMobile {
    position: absolute;
    top: 44px; }
    .detailStore .detailStore_banner .topSearchMobile input {
      width: calc(100% - 32px);
      height: 32px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      text-align: left;
      color: #2f294d;
      background-color: #ffffff9c; }
  .detailStore .detailStore_banner .boxBrandName {
    background-color: transparent;
    color: white;
    box-shadow: none;
    top: 90px;
    bottom: unset; }
  .detailStore .detailStore_banner .boxBrandName .info .mainInfo .follow .btnFollow {
    color: white;
    background-color: #ffffff26; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct {
    display: none; }
  .nav.nav-tabs .nav-item button {
    min-width: 130px;
    text-wrap: nowrap;
    border-right: 1px solid #29ab56;
    padding-left: 14px;
    padding-right: 14px; }
    .nav.nav-tabs .nav-item button .polygonNavbar {
      visibility: hidden; }
  .nav.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-bottom: 10px; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .commonProductList {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 16px;
    padding-right: 16px; }
  .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop {
    padding: 0;
    margin-bottom: 0; }
    .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort {
      width: 100%; }
      .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort .listButton {
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
        width: 100%;
        gap: unset !important; }
        .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort .listButton .divideV {
          height: 16px;
          background-color: #000; }
        .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort .listButton button {
          max-width: 84px;
          width: 84px;
          padding: unset !important;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px; }
  #detailStore_product .mainContent .commonProductList {
    padding-left: 16px;
    padding-right: 16px; }
    #detailStore_product .mainContent .commonProductList .commonProductItem:nth-of-type(n + 5) {
      display: none; }
  #detailStore_product .mainContent .paginationBottom {
    display: none; }
  .detailStore .detailStore_tabs #detailStore_enterprise {
    padding-top: unset;
    padding-left: unset; }
    .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile {
      max-width: 100%; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile .commonTitle {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.41px;
        text-align: left;
        color: #00953d; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type {
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 16px; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content {
          display: flex;
          flex-direction: column; }
          .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content .leftContent {
            background-color: white;
            padding-top: unset;
            padding-left: unset;
            max-width: 100%; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(2) {
        padding-left: 16px;
        padding-right: 16px; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(2) .itemProfile_content {
          display: flex;
          flex-direction: column; }
          .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(2) .itemProfile_content .tableCustom .attribute .value {
            align-content: center;
            text-wrap: nowrap; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(4) {
        padding-left: 16px; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(4) .listGiayChungNhan {
          width: 100%;
          overflow-x: scroll; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(5) {
        padding-left: 16px; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(5) .listCosoSanxuat {
          display: flex;
          max-width: 100%;
          overflow-x: scroll; }
          .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-of-type(5) .listCosoSanxuat .itemCosoSanxuat img {
            width: 400px;
            object-fit: contain; }
  .detailStore .detailStore_tabs #detailStore_branch {
    padding: unset;
    margin-bottom: 0; }
    .detailStore .detailStore_tabs #detailStore_branch .main {
      gap: 16px !important; }
      .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox {
        gap: 16px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 12px !important; }
        .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxLeft, .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxRight {
          padding-top: 33px;
          padding-right: 23px;
          padding-bottom: 33px;
          padding-left: 27px;
          gap: 6px; }
          .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxLeft span, .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxRight span {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            text-align: justified; }
          .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxLeft p, .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxRight p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: justified; }
        .detailStore .detailStore_tabs #detailStore_branch .main .main_topBox .boxRight {
          background-color: #2ead5b;
          color: white; }
      .detailStore .detailStore_tabs #detailStore_branch .main .main_bottomBox {
        padding-bottom: 40px; }
        .detailStore .detailStore_tabs #detailStore_branch .main .main_bottomBox span {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          line-height: 16.41px;
          text-align: left;
          color: #29ab56; }
        .detailStore .detailStore_tabs #detailStore_branch .main .main_bottomBox p {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: justified; }
  .detailStore .detailStore_tabs #detailStore_contact {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px; }
    .detailStore .detailStore_tabs #detailStore_contact .contentContact {
      width: 100%; }
      .detailStore .detailStore_tabs #detailStore_contact .contentContact .tableCustom {
        width: 100%; }
      .detailStore .detailStore_tabs #detailStore_contact .contentContact form {
        width: 100%; }
    .detailStore .detailStore_tabs #detailStore_contact .tableCustom .attribute {
      grid-template-columns: minmax(125px, auto) 1fr; } }

/*
X-Small None <576px
Small sm ≥576px
Medium md ≥768px
Large lg ≥992px
Extra large xl ≥1200px
Extra extra large xxl ≥1400px

*/
