@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

:root {
  font-family: "Roboto";
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent; }

button {
  cursor: pointer;
  padding: 0px;
  margin: 0px; }

.Roboto10 {
  font-family: Roboto;
  font-size: 10px;
  line-height: 11.72px;
  text-align: left; }

.Roboto12, .commonProductList .commonProductItem .info .main .bottom .sold, .commonProductList .commonProductItem .info .address, .commonCategory .commonCategory_main .commonCategory_list .commonCategory_item span, .starFollow .i2, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i2, .starFollow .i3, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i3 {
  font-size: 12px;
  line-height: normal;
  text-align: left; }

.Roboto13 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  text-align: left; }

.Roboto14, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .title, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .follow, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .address, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .name, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .sold, .commonProductList .commonProductItem .info .name, .starFollow .i1, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i1 {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: left; }

.Roboto16, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .cost, .commonGroupProducts .commonGroupProducts-seeMore button, .commonProductList .commonProductItem .info .main .top span, .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(5) .listCosoSanxuat .itemCosoSanxuat, .nav.nav-tabs {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: left; }

.Roboto20 {
  font-size: 20px;
  text-align: center;
  line-height: normal; }

.Roboto22, .commonGroupProducts .commonGroupProducts-title, .commonCategory .commonCategory_main .commonCategory_title {
  font-size: 22px;
  text-align: left;
  line-height: normal; }

.Roboto24 {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: normal; }

.Roboto32 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  text-align: left; }

.divideV {
  display: inline;
  min-width: 1px;
  height: 100%;
  background-color: white; }

.divideH {
  display: inline-block;
  min-height: 1px;
  width: 100%;
  background-color: white; }

a {
  color: #1a1a1a;
  text-decoration: none; }

.Template-popover {
  border-radius: 0px;
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 15px 0px #0c2f4c26;
  padding: 0px;
  z-index: 1; }
  .Template-popover .arrow {
    position: absolute;
    top: -12px;
    right: 16px;
    z-index: -1;
    background-image: url("../../assets/svg/Polygon 3.svg");
    width: 72px;
    height: 37px; }

.btnDropdown {
  padding: 0px; }

body {
  background-color: #f0f0f0;
  background-color: #f5f5fa;
  line-height: unset; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Xóa khoảng cách giữa nút và trường input */
  display: none;
  /* Ẩn nút tăng giảm */ }

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */ }

.FlexNormal {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

:root {
  font-family: "Roboto";
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent; }

button {
  cursor: pointer;
  padding: 0px;
  margin: 0px; }

.Roboto10 {
  font-family: Roboto;
  font-size: 10px;
  line-height: 11.72px;
  text-align: left; }

.Roboto12, .commonProductList .commonProductItem .info .main .bottom .sold, .commonProductList .commonProductItem .info .address, .commonCategory .commonCategory_main .commonCategory_list .commonCategory_item span, .starFollow .i2, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i2, .starFollow .i3, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i3 {
  font-size: 12px;
  line-height: normal;
  text-align: left; }

.Roboto13 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  text-align: left; }

.Roboto14, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .title, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .follow, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .address, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .name, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .sold, .commonProductList .commonProductItem .info .name, .starFollow .i1, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i1 {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: left; }

.Roboto16, .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .cost, .commonGroupProducts .commonGroupProducts-seeMore button, .commonProductList .commonProductItem .info .main .top span, .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(5) .listCosoSanxuat .itemCosoSanxuat, .nav.nav-tabs {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-align: left; }

.Roboto20 {
  font-size: 20px;
  text-align: center;
  line-height: normal; }

.Roboto22, .commonGroupProducts .commonGroupProducts-title, .commonCategory .commonCategory_main .commonCategory_title {
  font-size: 22px;
  text-align: left;
  line-height: normal; }

.Roboto24 {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: normal; }

.Roboto32 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  text-align: left; }

.divideV {
  display: inline;
  min-width: 1px;
  height: 100%;
  background-color: white; }

.divideH {
  display: inline-block;
  min-height: 1px;
  width: 100%;
  background-color: white; }

a {
  color: #1a1a1a;
  text-decoration: none; }

.Template-popover {
  border-radius: 0px;
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 15px 0px #0c2f4c26;
  padding: 0px;
  z-index: 1; }
  .Template-popover .arrow {
    position: absolute;
    top: -12px;
    right: 16px;
    z-index: -1;
    background-image: url("../../assets/svg/Polygon 3.svg");
    width: 72px;
    height: 37px; }

.btnDropdown {
  padding: 0px; }

body {
  background-color: #f0f0f0;
  background-color: #f5f5fa;
  line-height: unset; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Xóa khoảng cách giữa nút và trường input */
  display: none;
  /* Ẩn nút tăng giảm */ }

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */ }

.FlexNormal {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal; }

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: auto; }

.commonGroupProducts .commonGroupProducts-title {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  font-weight: 500;
  color: #1a1a1a; }

.commonGroupProducts .commonGroupProducts-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; }
  .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px; }
    .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header {
      width: 100%;
      display: flex;
      gap: 12px; }
      .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .logo {
        height: 100%;
        object-fit: contain; }
      .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; }
        .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .title {
          font-weight: 700;
          color: #1a1a1a; }
        .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .follow {
          font-weight: 400;
          color: #969696; }
        .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .address {
          font-weight: 400;
          color: #2ead5b; }
        .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .header .info .certificate {
          display: flex;
          align-items: center;
          gap: 4px; }
    .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      row-gap: 10px; }
      .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
        min-height: 30px; }
        .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product img {
          width: 100%;
          object-fit: contain; }
        .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info {
          display: flex;
          flex-direction: column;
          gap: 6px; }
          .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .name {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            max-height: 3em;
            /* Chiều cao tối đa của span */
            line-height: 1.5em;
            font-weight: 400;
            color: #1a1a1a; }
          .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .sold {
            color: #7b7b7b; }
          .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .cost {
            font-weight: 700;
            color: #fb4f5b; }
          .commonGroupProducts .commonGroupProducts-main .commonGroupProducts-item .products .product .info .cost.black {
            color: #1a1a1a;
            font-weight: 400; }

.commonGroupProducts .commonGroupProducts-seeMore {
  width: 100%;
  display: flex;
  justify-content: center; }
  .commonGroupProducts .commonGroupProducts-seeMore button {
    width: 241px;
    height: 41px;
    border: 1px solid #2e9dff;
    border-radius: 6px;
    margin-top: 24px;
    margin-bottom: 32px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    color: #2e9dff;
    text-transform: uppercase; }
    .commonGroupProducts .commonGroupProducts-seeMore button:hover {
      background-color: #2e9dff;
      color: #fff; }

.commonProductList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 12px;
  row-gap: 12px; }
  .commonProductList .commonProductItem {
    width: 100%;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    flex-direction: column; }
    .commonProductList .commonProductItem .headerlogo {
      position: relative;
      width: 100%;
      height: auto;
      line-height: 0; }
      .commonProductList .commonProductItem .headerlogo .headlogo {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 4px;
        background-color: #fff;
        border-radius: 4px;
        top: 0px;
        left: 0px; }
      .commonProductList .commonProductItem .headerlogo .freeshiplogo {
        position: absolute;
        bottom: 0px;
        left: 0px; }
      .commonProductList .commonProductItem .headerlogo .saleIcon {
        position: absolute;
        top: 0px;
        right: 0px; }
    .commonProductList .commonProductItem .info {
      padding: 10px 10px 12px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .commonProductList .commonProductItem .info .name {
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis; }
      .commonProductList .commonProductItem .info .main {
        display: flex;
        flex-direction: column;
        gap: 5px; }
        .commonProductList .commonProductItem .info .main .top {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .commonProductList .commonProductItem .info .main .top span {
            font-weight: 700;
            color: #2ead5b; }
        .commonProductList .commonProductItem .info .main .bottom {
          height: 14px;
          display: flex;
          align-items: center;
          gap: 6px; }
          .commonProductList .commonProductItem .info .main .bottom .stars {
            height: 100%; }
            .commonProductList .commonProductItem .info .main .bottom .stars img {
              height: 100%;
              object-fit: contain; }
          .commonProductList .commonProductItem .info .main .bottom .divideV {
            background-color: #2e2e2e; }
          .commonProductList .commonProductItem .info .main .bottom .sold {
            margin-top: 3px; }
      .commonProductList .commonProductItem .info .address {
        color: #cccccc; }

.commonCategory {
  margin-top: 24px;
  margin-bottom: 24px; }
  .commonCategory .commonCategory_main {
    width: 100%;
    height: auto;
    padding: 58px 47px 46px 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    border-radius: 3px; }
    .commonCategory .commonCategory_main .commonCategory_title {
      position: absolute;
      top: 12px;
      left: 16px;
      font-weight: 500;
      color: #1a1a1a; }
    .commonCategory .commonCategory_main .commonCategory_list {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-column-gap: 41px;
      grid-row-gap: 32px;
      width: 100%; }
      .commonCategory .commonCategory_main .commonCategory_list .commonCategory_item {
        width: 90px;
        height: 120px;
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-wrap: nowrap; }
        .commonCategory .commonCategory_main .commonCategory_list .commonCategory_item span {
          font-weight: 400;
          color: #000; }
        .commonCategory .commonCategory_main .commonCategory_list .commonCategory_item:hover {
          transform: scale(1.1); }

.displayHidden {
  display: none; }

.starFollow, .detailStore .detailStore_banner .boxBrandName .info .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px; }
  .starFollow .i1, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i1 {
    font-weight: 500; }
  .starFollow .i2, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i2 {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 500; }
    .starFollow .i2 :nth-child(2), .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i2 :nth-child(2) {
      color: #969696; }
    .starFollow .i2 :nth-child(3), .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i2 :nth-child(3) {
      color: #2ead5b; }
  .starFollow .i3, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i3 {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 8px; }
    .starFollow .i3 button, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i3 button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px 5px;
      border-radius: 3px; }
    .starFollow .i3 .chatngay, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i3 .chatngay {
      background-color: rgba(255, 0, 2, 0.08);
      color: #ff000f; }
    .starFollow .i3 .xemshop, .detailStore .detailStore_banner .boxBrandName .info .mainInfo .i3 .xemshop {
      background-color: aliceblue;
      color: #2e9dff; }

.avatar-group {
  display: flex;
  align-items: center;
  justify-content: center; }
  .avatar-group .avatar {
    position: relative;
    transition: 0.2s; }
    .avatar-group .avatar img {
      width: 40px;
      height: 40px;
      display: block;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid #fff; }

.avatar-group .avatar:nth-of-type(n + 2) {
  margin-left: -10px; }

nav .pagination {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 24px;
  margin-bottom: 42px; }
  nav .pagination .page-link {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px; }
  nav .pagination .page-item.active .page-link {
    background-color: #29ab56;
    border: none;
    color: #fff; }
  nav .pagination .page-link:hover {
    color: #000;
    text-decoration: none; }

.dropdown .dropdown-menu {
  border: none;
  outline: none; }

.checkBoxBlue input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid #cdcdcd; }

.checkBoxBlue input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  color: white;
  display: none; }

.checkBoxBlue input[type="checkbox"]:hover {
  background-color: #e4e4e4; }

.checkBoxBlue input[type="checkbox"]:checked {
  background-color: #1771cd; }

.checkBoxBlue input[type="checkbox"]:checked:after {
  display: block; }

.modalRemoveItemProduct {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #fff; }
  .modalRemoveItemProduct .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    position: relative; }
    .modalRemoveItemProduct .top button {
      position: absolute;
      right: 0;
      top: 0; }
    .modalRemoveItemProduct .top span:first-of-type {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      text-align: center; }
    .modalRemoveItemProduct .top span:last-of-type {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: center; }
  .modalRemoveItemProduct .bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%; }
    .modalRemoveItemProduct .bottom button {
      flex: 1;
      padding-top: 12px;
      padding-bottom: 12px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 20.3px;
      text-align: left;
      border: 1.5px solid #858585;
      display: flex;
      align-items: center;
      justify-content: center; }
    .modalRemoveItemProduct .bottom button:first-of-type {
      color: #858585; }
    .modalRemoveItemProduct .bottom button:last-of-type {
      color: white;
      background-color: #29ab56;
      border: none; }

.radioGreen [type="radio"]:checked,
.radioGreen [type="radio"]:not(:checked) {
  position: relative;
  display: none; }

.radioGreen label {
  position: relative; }

.radioGreen [type="radio"]:checked + label:before,
.radioGreen [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

.radioGreen [type="radio"]:checked + label:after,
.radioGreen [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #139640;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.radioGreen [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.radioGreen [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.tableCustom {
  display: grid;
  grid-template-columns: 1fr; }
  .tableCustom .attribute:nth-of-type(odd) {
    background-color: #f5f5f7; }
  .tableCustom .attribute {
    display: grid;
    grid-template-columns: minmax(172px, auto) 1fr;
    height: 38px;
    padding-left: 16px;
    border-radius: 8px; }
    .tableCustom .attribute .name {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      text-align: left;
      color: #515154;
      align-content: center; }
    .tableCustom .attribute .value {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: #000;
      align-content: center; }

.detailStore {
  min-height: 300px; }
  .detailStore .detailStore_banner {
    position: relative; }
    .detailStore .detailStore_banner .btnOption {
      position: absolute;
      right: 10px;
      bottom: 12px;
      display: flex;
      gap: 12px; }
      .detailStore .detailStore_banner .btnOption .btnChatNgay, .detailStore .detailStore_banner .btnOption .externalLink {
        width: 165px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid #29ab56;
        border-radius: 6px;
        background-color: #fff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        color: #29ab56; }
      .detailStore .detailStore_banner .btnOption .externalLink {
        width: 46px;
        height: 46px; }
    .detailStore .detailStore_banner .boxBrandName {
      position: absolute;
      bottom: 12px;
      left: 12px;
      background-color: #fff;
      box-shadow: 4px 3px 4px 0px #0000000d;
      border-radius: 6px;
      display: flex;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 29px;
      padding-bottom: 14px;
      gap: 5px; }
      .detailStore .detailStore_banner .boxBrandName .imgLogo {
        width: 90px;
        object-fit: contain;
        align-self: flex-start; }
      .detailStore .detailStore_banner .boxBrandName .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px; }
        .detailStore .detailStore_banner .boxBrandName .info .mainInfo {
          gap: 10px;
          padding-top: 10px; }
          .detailStore .detailStore_banner .boxBrandName .info .mainInfo .follow {
            display: flex;
            align-items: center;
            gap: 8px; }
            .detailStore .detailStore_banner .boxBrandName .info .mainInfo .follow .btnFollow {
              display: flex;
              align-items: center;
              gap: 4px;
              background-color: #6bc62926;
              font-family: Roboto;
              font-size: 11px;
              font-weight: 500;
              line-height: normal;
              color: #00923f;
              padding: 5px 10px; }
            .detailStore .detailStore_banner .boxBrandName .info .mainInfo .follow .avatar-group .avatar img {
              width: 22px;
              height: 22px; }
            .detailStore .detailStore_banner .boxBrandName .info .mainInfo .follow span:last-of-type {
              font-family: Roboto;
              font-size: 14px;
              font-weight: 600;
              line-height: 16.41px;
              text-align: center;
              color: #343434; }
  .detailStore .detailStore_navbar {
    margin-bottom: 24px; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct {
    min-height: 100px;
    padding: 56px 0px 27px 19px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 24px; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .title {
      font-family: Roboto;
      font-size: 26px;
      font-style: italic;
      font-weight: 900;
      line-height: 30.47px;
      text-align: left;
      color: #fc6c1a;
      position: absolute;
      top: 12px;
      left: 20px; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList {
      display: flex;
      gap: 24px; }
      .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative; }
        .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem img {
          width: 100%;
          object-fit: fill;
          border: 1px solid #57902b;
          border-radius: 6px;
          margin-bottom: 3px; }
        .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem .percent {
          position: absolute;
          top: 11px;
          left: 0px;
          width: fit-content;
          padding: 4px 8px;
          background-color: #fc6c1a;
          font-family: Roboto;
          font-size: 12px;
          font-weight: 600;
          line-height: 14.06px;
          color: #fff; }
        .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem .name {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.41px;
          text-align: left;
          min-height: 33px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis; }
        .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem .gia {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 600;
          line-height: 18.75px;
          text-align: right;
          color: #fc6c1a; }
        .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem .progress {
          background-color: #ffd8c1;
          display: flex;
          position: relative; }
          .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem .progress .progress-bar {
            border-radius: 8px;
            background-color: #fc6c1a; }
          .detailStore .detailStore_tabs #detailStore_homePage .homePage_standoutProduct .standoutProductList .standoutProductItem .progress span {
            align-self: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #fff; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList {
    display: flex;
    gap: 45px;
    align-items: stretch;
    margin-bottom: 45px; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .listProductFirst_banner {
      height: 100%;
      object-fit: contain; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .commonProductList {
      height: fit-content;
      grid-template-columns: repeat(4, 1fr); }
      .detailStore .detailStore_tabs #detailStore_homePage .homePage_firstList .commonProductList .commonProductItem {
        height: fit-content; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_simpleBanner {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 18px;
    width: 100%; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_simpleBanner div {
      flex: 1; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_simpleBanner img {
      width: 100%;
      object-fit: contain; }
  .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList {
    display: flex;
    gap: 45px;
    margin-bottom: 54px; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .secondListImg {
      height: 100%;
      object-fit: fill; }
    .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .commonProductList {
      height: fit-content;
      grid-template-columns: repeat(4, 1fr); }
      .detailStore .detailStore_tabs #detailStore_homePage .homePage_secondList .commonProductList .commonProductItem {
        height: fit-content; }
  .detailStore .detailStore_tabs #detailStore_product .sidebarLeft {
    padding-top: 17px;
    width: 213px;
    height: auto;
    min-height: 300px;
    background-color: transparent; }
    .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .commonTitle {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 20.8px;
      text-align: left;
      color: #1b232b; }
    .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .sidebarLeft_dropdown {
      display: flex;
      width: 100%;
      align-items: center;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;
      color: #374756;
      position: relative;
      background-color: transparent;
      border-radius: 4px; }
      .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .sidebarLeft_dropdown span:first-of-type {
        margin-left: 10px; }
      .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .sidebarLeft_dropdown span:last-of-type {
        height: 100%;
        background-color: white;
        position: absolute;
        padding: 0 6px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center; }
    .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .menuDropdown {
      width: 100%;
      height: 100px;
      background-color: white; }
    .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .divideH {
      background-color: #cbd5de;
      margin-top: 12px;
      margin-bottom: 12px; }
    .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .filterCost {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.6px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #374756; }
      .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .filterCost .rangeCustom {
        width: 100%;
        display: flex;
        align-items: center; }
        .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .filterCost .rangeCustom .circle {
          display: inline-block;
          min-width: 24px;
          height: 24px;
          border: 1px solid;
          border-radius: 50%;
          cursor: pointer; }
        .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .filterCost .rangeCustom .horizontal {
          display: inline-block;
          flex: 1;
          height: 1px;
          background-color: black; }
    .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .filterStar {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;
      color: #374756; }
      .detailStore .detailStore_tabs #detailStore_product .sidebarLeft .filterStar .item {
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: left;
        color: #374756; }
  .detailStore .detailStore_tabs #detailStore_product .mainContent {
    min-height: 300px;
    flex: 1;
    background-color: transparent; }
    .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop {
      width: 100%;
      height: 40px;
      padding-left: 28px;
      padding-right: 12px;
      background-color: #e3e3e3;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      text-align: left;
      margin-bottom: 17px; }
      .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort {
        gap: 32px; }
        .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort button {
          padding: 5px 19px;
          background-color: #fff;
          color: black;
          display: flex;
          align-items: center;
          gap: 90px; }
        .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_sort button.active {
          background-color: #29ab56;
          color: white; }
      .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_pagination {
        display: flex;
        align-items: center;
        gap: 9px; }
        .detailStore .detailStore_tabs #detailStore_product .mainContent .advanceTop .advanceTop_pagination .presentPage {
          font-family: Roboto;
          font-size: 14px;
          font-weight: 700;
          line-height: 18.9px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #29ab56; }
  .detailStore .detailStore_tabs #detailStore_enterprise {
    padding-top: 23px;
    padding-left: 12px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 4px; }
    .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile {
      display: flex;
      flex-direction: column;
      margin-bottom: 65px; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .commonTitle {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.13px;
        text-align: left;
        color: #00953d;
        margin-bottom: 10px; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type {
        align-items: stretch; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content {
          display: flex;
          height: fit-content;
          gap: 15px;
          height: 100%;
          align-items: stretch; }
          .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content .leftContent {
            max-height: 220px;
            overflow-y: scroll;
            scrollbar-width: none;
            flex: 1;
            padding-top: 10px;
            padding-left: 16px;
            background-color: #f5f5f7;
            border-radius: 8px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            color: #000000; }
            .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content .leftContent span {
              font-weight: 700; }
          .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content .rightContent {
            flex: 1;
            height: 100%;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            text-align: left; }
            .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content .rightContent table td {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 16px;
              color: #515154;
              padding-right: 40px; }
            .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:first-of-type .itemProfile_content .rightContent table tr td:last-of-type {
              font-weight: 700;
              color: #29ab56; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(2) .itemProfile_content {
        display: flex;
        gap: 15px;
        align-items: start;
        padding-right: 16px; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(2) .itemProfile_content .leftContent {
          flex: 1; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(2) .itemProfile_content .rightContent {
          flex: 1; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(3) {
        padding-right: 12px; }
      .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(5) {
        background-color: transparent; }
        .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(5) .listCosoSanxuat {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 32px;
          row-gap: 23px; }
          .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(5) .listCosoSanxuat .itemCosoSanxuat {
            display: flex;
            flex-direction: column;
            gap: 22px;
            gap: 22px; }
            .detailStore .detailStore_tabs #detailStore_enterprise .listBusinessProfile .itemProfile:nth-child(5) .listCosoSanxuat .itemCosoSanxuat img {
              width: 100%;
              object-fit: contain; }
  .detailStore .detailStore_tabs #detailStore_branch {
    padding-top: 24px;
    padding-bottom: 38px;
    padding-left: 34px;
    padding-right: 35px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 35px; }
    .detailStore .detailStore_tabs #detailStore_branch .boxLeft,
    .detailStore .detailStore_tabs #detailStore_branch .boxRight {
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding-top: 74px;
      padding-left: 50px;
      padding-right: 51px;
      padding-bottom: 50px;
      box-shadow: 0px 0px 15px 0px #0c2f4c26;
      border-radius: 6px; }
      .detailStore .detailStore_tabs #detailStore_branch .boxLeft span,
      .detailStore .detailStore_tabs #detailStore_branch .boxRight span {
        font-family: Roboto;
        font-size: 32px;
        font-weight: 400;
        line-height: 27px;
        text-align: justified;
        text-transform: uppercase; }
      .detailStore .detailStore_tabs #detailStore_branch .boxLeft p,
      .detailStore .detailStore_tabs #detailStore_branch .boxRight p {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: justified; }
    .detailStore .detailStore_tabs #detailStore_branch .boxLeft {
      background-color: #2ead5b;
      color: #fff; }
    .detailStore .detailStore_tabs #detailStore_branch .boxRight {
      background-color: #fff; }
    .detailStore .detailStore_tabs #detailStore_branch .contentBottom span {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.13px;
      text-align: left;
      color: #29ab56; }
    .detailStore .detailStore_tabs #detailStore_branch .contentBottom p {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: justified;
      color: #0c2f4c; }
  .detailStore .detailStore_tabs #detailStore_contact {
    background-color: #fff;
    padding-top: 23px;
    padding-bottom: 44px;
    margin-bottom: 37px;
    border-radius: 4px; }
    .detailStore .detailStore_tabs #detailStore_contact .tableCustom {
      width: 600px; }
      .detailStore .detailStore_tabs #detailStore_contact .tableCustom .attribute:last-of-type .value {
        color: #116abd; }
    .detailStore .detailStore_tabs #detailStore_contact form {
      width: 600px;
      padding: 32px 24px 32px 24px;
      gap: 13px;
      border-radius: 8px 0px 0px 0px;
      opacity: 0px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px #84848414;
      border-radius: 8px; }
      .detailStore .detailStore_tabs #detailStore_contact form .header {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 21.6px;
        text-align: left; }
        .detailStore .detailStore_tabs #detailStore_contact form .header span {
          font-weight: 400; }
      .detailStore .detailStore_tabs #detailStore_contact form .divideH {
        background-color: #dbdee5; }
      .detailStore .detailStore_tabs #detailStore_contact form textarea {
        resize: none;
        width: 100%;
        border: 0.5px solid #dbdee5;
        min-height: 144px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #000;
        padding: 14px 16px 24px 16px;
        border-radius: 4px; }
        .detailStore .detailStore_tabs #detailStore_contact form textarea ::placeholder {
          color: #858585; }
      .detailStore .detailStore_tabs #detailStore_contact form .numberWord {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        text-align: left;
        color: #858585;
        align-self: flex-end; }
      .detailStore .detailStore_tabs #detailStore_contact form .listOptions button {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        color: #29ab56;
        background-color: #29ab560a;
        padding: 6px 10px;
        border-radius: 99px; }
      .detailStore .detailStore_tabs #detailStore_contact form .sendTo {
        width: 100%;
        height: 44px;
        background-color: #29ab56;
        align-content: center;
        text-align: center;
        color: #fff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 20.3px; }

.nav.nav-tabs {
  display: flex;
  background-color: #fff;
  align-items: center;
  border: none; }
  .nav.nav-tabs .nav-item {
    flex: 1; }
    .nav.nav-tabs .nav-item button {
      position: relative;
      width: 100%;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      color: #29ab56;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px; }
      .nav.nav-tabs .nav-item button img {
        display: none; }
    .nav.nav-tabs .nav-item button.active {
      font-weight: 700;
      color: #fff;
      background-color: #29ab56; }
      .nav.nav-tabs .nav-item button.active img {
        display: block;
        position: absolute;
        bottom: 0px;
        transform: translateY(80%);
        z-index: 999; }
