@import '../variables/variables.scss';
@font-face {
    font-family: 'Great Vibes';
    src: url('/src/assets/fonts/GreatVibes-Regular.ttf');
}
footer{
    background-color: $white;
    color: black;
    .tablet-desktop__footer{
        @include maxw-tablet{
            display: none;
        }
        
    }
    .footer{
        &__top{
            padding: 15px;
            display: grid;
            grid-template-columns: repeat(5, 2fr);
            grid-gap: 30px;
            .item{
                &--desktop{
                    @include maxw-1200px{
                        &-w-50{
                            width: 50% !important;
                        }
                        &-w-100{
                            width: 100% !important;
                        }
                    }
                }
                h5{
                    padding: 10px 0px 5px 0px;
                }
                .options{
                    .option{
                        margin: 5px 0px;
                    }
                    &--flex{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    &--gap-20px{
                        column-gap: 20px;
                    }
                    &--gap-5px{
                        gap: 5px;
                    }
                    &--gap-10px{
                        gap: 10px;
                    }
                    &--h-40px{
                        height: 40px;
                        @include mobile{
                            height: 30px;
                        }
                    }
                    &--h-30px{
                        height: 30px;
                        @include mobile{
                            height: 25px;
                        }
                    }
                    &--h-60px{
                        height: 60px;
                        @include mobile{
                            height: 50px;
                        }
                    }
                    &--customed-w-h{
                        height: auto;
                        width: 200px;
                    }
                    &--h-70px{
                        height: 70px;
                        @include mobile{
                            height: 60px;
                        }
                    }
                }
            }
        }
        .signature{
            line-height: 0px;
        }
        &__bottom{
            padding: 15px;
            .footer-bottom__item{
                padding: 3px 0px;
            }
        }
    }
    .signature{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        font-size: 20px;
        color: pink;
        font-family: 'Great Vibes';
        text-align: end;
    }
    .mobile__footer{
        display: none;
        @include maxw-tablet{
            display: block;
            background-color: $green;
            color: white !important;
            p{
                text-align: center;
                padding: 14px;
                margin: 0;
            }
        }
    }
}