@import '../variables/variables.scss';

header{
    background-color: $green;
    padding-top: 7px;
    .tablet-desktop_header{
        .header-helper{
            padding: 0px;
            display: flex;
            justify-content: space-between;
            @include maxw-desktop{
                display: none !important;
            }
            a{
                color: $white !important;
            }
            &__divider{
                border-left: $white solid 1px;
                opacity: 100%;
                margin: 3px 12px 3px 12px;
            }
            &__block{
                &--left{
                    display: flex;
                }
                &--right{
                    display: flex;
                    padding: 0px;
                    gap: 17px;
                }
            }
        }
        .header-search{
            padding-top: 23px;
            display: flex;
            &__logo{
                width: auto;
                height: 38px;
                display: block;
            }
            &__location-btn-group{
                @include maxw-1200px{
                    display: none !important;
                }
                .location{
                    &__btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        font-size: 12px;
                        margin-left: 38px;
                        height: 50px;
                        @include dropdown-btn-status{
                            border: 1px solid transparent;
                            color: $white !important;
                        }
                    }
                    &__img{
                        margin-right: 4px;
                        width: 20px;
                        height: 20px;
                    }
                }
                &-menu{
                    padding: 0px;
                    border-radius: 0;
                    li{
                        padding: 10px 20px 10px 30px;
                        width: 200px;
                        margin: 0;
                        input{
                            background-color: white !important;
                        }
                        input:checked{
                            background-color: $green !important;
                        }
                        &:hover{
                            background-color: $list-action-color;
                            color: white;
                        }
                    }
                }
            }
            &__main-search-group{
                margin-left: 20px;
                .content{
                    width: 100%;
                    padding: 5px;
                    background-color: white;
                    border-radius: 8px;
                    position: relative;
                    &:has(.main-search__input:nth-of-type(1):focus){
                        border-radius: 8px 8px 0px 0px;
                    }
                    .main-search__devider{
                        border: 1px solid $grey;
                        opacity: 50%;
                        margin: 7px 12px 7px 12px;
                    }
                    .search-type__btn-group{
                        button{
                            font-weight: bold;
                            color: $green;
                            @include btn-status{
                                background-color: $green;
                                color: white;
                            }
                        }
                        ul{
                            padding: 0;
                            border-radius: 0;
                            li{
                                a{
                                    display: block;
                                    padding: 5px;
                                }
                            }
                        }
                    }
                    .main-search__btn-group{
                        width: 100%;
                        left: -106px !important;
                        border: none;
                        padding: 0px;
                        margin-top: 3px !important;
                        border-radius: 0;
                        li.dropdown-item{
                            a{
                                padding: 10px;
                                display: block;
                                padding-left: 120px;
                            }
                        }
                    }
                    .search-btn{
                        background-color: $light-green;
                        border-radius: 0px 8px 8px 0px !important;
                        &:hover, &:active{
                            background-color: $list-action-color;
                            border-color: $list-action-color;
                        }
                    }
                }
                .recommendation{
                    max-width: $tablet-width;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 6px 0px;
                    &__content{
                        display: flex;
                        gap: 10px;
                        a{
                            color: $white;
                        }
                        @include maxw-desktop{
                            display: none !important;
                        }
                    }
                }
            }
            &__utilities-group{
                padding: 0px 25px 0px 25px;
                gap: 25px;
                .utility-item{
                    display: block;
                    height: fit-content;
                    &__btn{
                        position: relative;
                        margin: 0;
                        padding: 3px;
                        border-color: transparent;
                        img{
                            width: fit-content;
                            height: 30px;
                        }
                    }
                    &__message, &__notification{
                        @include maxw-1400px{
                            display: none !important;
                        }
                    }
                }
            }
            &__user-section{
                align-items: flex-start;
                position: relative;
                display: flex;
                .user-section{
                    display: flex;
                    gap: 10px;
                    &--responsive{
                        display: none;
                        @include maxw-desktop{
                            display: block;
                        }
                        ul{
                            right: 0;
                            bottom: -90px !important;
                            background-color: transparent;
                            li{
                                border: none;
                                a{
                                    color: $green;
                                    display: block;
                                    width: inherit;
                                }
                                .arrow-up-shape-right{
                                    right: 8px;
                                }
                            }
                        }
                        ul.signin-signup__dropdown{
                            z-index: 999;
                            bottom: -65px !important;
                        }
                    }
                    &--main{
                        @include maxw-desktop{
                            display: none !important;
                        }
                    }
                    &__avatar{
                        margin-top: 5px;
                        width: 35px;
                        height: 35px;
                        overflow: hidden;
                        display: block;
                        border-radius: 50%;
                        border: 1px solid $white;
                        &--border-0{
                            border: 1px solid transparent;
                        }
                    }
                    &__tool-group{
                        .small{
                            font-size: 12px;
                            line-height: 0.5rem;
                        }
                        *{
                            color: $white;
                        }
                    }
                    &__caption{
                        font-size: 12px;
                    }
                    &__user-name{
                        max-width: 150px;
                        @include overflow-dot-1;
                    }
                }
            }
        }
        .header-category{
            background-color: $white;
            padding: 7px 0px;
            .container{
                display: flex;
                gap: 5px;
            }
            &__tab{
                &__img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
                .tab-content{
                    padding: 11px 25px 15px 7px;
                    .tab-item{
                        display: flex;
                        align-items: flex-start;
                        padding: 0px;
                        &__topic{
                            padding: 7px 0px;
                            color: $dark-green !important;
                            display: flex !important;
                            align-items: baseline;
                            gap: 5px;
                            display: block;
                            width: 200px;
                        }
                        &__img{
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            &--arrow{
                                width: 18px;
                                height: 18px;
                            }
                        }
                        &__content{
                            display: flex;
                            .content__block{
                                padding: 10px;
                                .block{
                                    &__title{
                                        font-weight: 700;
                                        color: $dark-green !important;
                                        display: block;
                                    }
                                    &__content{
                                        a.content-item{
                                            color: $dark-green !important;
                                            display: block;
                                            line-height: 23px;
                                            max-width: 300px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            color: $dark-green !important;
                            background-color: $white !important;
                            *{
                                color: $dark-green !important;
                                background-color: $white !important;
                            }
                        }
                    }
                }
            }
            &__btn{
                display: flex;
                gap: 5px;
                align-items: center;
                border-radius: 5px !important;
                color: $dark-green !important;
                font-weight: 500;
                @include dropdown-btn-status{
                    border-color: transparent;
                    color: $dark-green;
                }
            }
        }
        @include maxw-tablet{
            display: none !important;
        }
    }
    .mobile_header{
        display: none;
        @include maxw-tablet{
            display: block;
            &--top{
                padding: 40px 10px 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user-section{
                    &__avatar{
                        width: 30px;
                        height: 30px;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: block;
                        overflow: hidden;
                        &--border-0{
                            border: 1px solid transparent !important;
                        }
                    }
                    .user-mobile__dropdown{
                        top: 20px;
                    }
                    .arrow-up-shape-block{
                        margin-left: 5px;
                    }
                }
                .cart{
                    .dropdown-menu{
                        right: -5px !important;
                        max-width: 400px;
                        .dropdown-item{
                            &__product-price{
                                margin-left: auto;
                                width: 150px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
            &--down{
                .content{
                    position: relative;
                    width: 100%;
                    border-radius: 0;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 10px;
                    ul{
                        z-index: 3 !important;
                        width: 100%;
                        left: 9px !important;
                        top: 5px !important;
                        li.dropdown-item{
                            padding: 10px 10px;
                            a{
                                display: block;
                            }
                        }
                    }
                    button{
                        @include btn-status{
                            border: 1px $text-secondary solid;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}

.cart-section{
    .cart-btn{
        position: relative;
        margin: 0;
        padding: 3px;
        border-color: transparent;
        img{
            width: 30px;
            height: 30px;
        }
    }
    .dropdown-menu{
        z-index: 999;
        background: transparent;
        right: -20px !important;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        @include mobile{
            width: 90vw;
        }
        .arrow-up-shape-block{
            .arrow-up-shape-right{
                right: 20px !important;
            }
        }
        .dropdown-item{
            background-color: $white;
            font-weight: 500;
            a{
                display: block;
                display: flex;
            }
            &__product-img{
                width: 42px !important;
                height: 42px !important;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            &__product-name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 235px;
                margin-left: 11px;
                @include mobile{
                    width: 300px;
                }
            }
            &__product-price{
                padding-left: 10px;
                float: right !important;
                color: #00BC3C;
                margin-left: auto;
                @include mobile{
                    display: none !important;
                }
            }
            &__caption{
                color: $light-grey !important;
                background-color: $white;
                padding: 10px 0px 10px 15px;
            }
            &__total-price{
                background-color: $white;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                &__btn{
                    @include btn-green;
                    @include btn-green__hover;
                }
            }
        }
    }
}
.utility-item__badge{
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 18px;
    height: 18px;
    margin: 0 !important;
    padding: 0 !important;
    color: $white;
    right: -5px;
    top: -5px;
    background-color: $danger;
    border-radius: 50%;
    border: $white solid 1px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}