.background-wrapper {
  background-color: #f5f5f7;
}

.profile-customer__wrapper .subbar-top {
  height: 38px;
  background-color: white;
  padding: 7px 0px;
}
.profile-customer__wrapper .subbar-top .container .subbar-block {
  gap: 24px;
}
.profile-customer__wrapper .subbar-top .container .subbar-block .subbar-item {
  padding: 0;
  gap: 6px;
}
.profile-customer__wrapper .subbar-top .container .subbar-block .subbar-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
  text-align: left;
  color: #007b2b;
}
.profile-customer__wrapper .profile-customer__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #c2c2c2;
}
.profile-customer__wrapper .profile-sidebar {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  padding: 24px;
  height: 655px;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories {
  margin-top: 16px;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item.main-active {
  background-color: rgba(240, 240, 240, 0.2);
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item.main-active .sidebar-title {
  color: #29ab56;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item:not(:first-child) {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  padding: 16px;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item:not(:first-child):hover {
  background-color: rgba(240, 240, 240, 0.2);
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item:not(:first-child):hover .sidebar-title {
  color: #29ab56;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .button__collapse-subcategory {
  padding: 16px;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .subcategory-menu .button__sidebar-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #858585;
  padding: 16px 36px;
  cursor: pointer;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .subcategory-menu .button__sidebar-subtitle:hover {
  color: #29ab56;
  background-color: rgba(240, 240, 240, 0.2);
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .subcategory-menu .button__sidebar-subtitle.sub-active {
  color: #29ab56;
  background-color: rgba(240, 240, 240, 0.2);
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .sidebar-icon {
  height: 24px;
  width: 24px;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .sidebar-icon img {
  max-width: 100%;
  height: auto;
}
.profile-customer__wrapper .profile-sidebar .profile-sidebar__categories .sidebar-item .sidebar-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
}
.profile-customer__wrapper .user__sub-sidebar--content {
  display: none;
  animation: moving 0.5s ease;
}
.profile-customer__wrapper .user__sub-sidebar--content.show__sub-sidebar--content {
  display: block;
}
.profile-customer__wrapper .profile-content {
  background-color: #fff;
  padding: 24px;
  height: 655px;
  border: 1px solid #c2c2c2;
}
.profile-customer__wrapper .profile-content .profile-content__user-info {
  margin-top: 16px;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar {
  display: flex;
  align-items: center;
  gap: 16px;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-img {
  height: 76px;
  width: 76px;
  position: relative;
  cursor: pointer;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-img:hover .overlay-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-img img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-img .overlay-img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-info__handle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-info__handle .user-info__heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.3px;
  letter-spacing: 0.5px;
  color: #333333;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-info__handle .user-info__subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: #858585;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .user-info__avatar .user-info__handle .btn--delete-img {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  color: #000;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group label {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
  margin-bottom: 8px;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .form-control {
  height: 58px;
  padding: 16px;
  border-radius: 2px;
  border: 1px solid #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #000;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .form-select {
  height: 58px;
  padding: 0px 16px;
  border-radius: 2px;
  border: 1px solid #1a1a1a;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .form-select:focus {
  box-shadow: none;
  outline: none;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .btn-link {
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 16px;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid #1a1a1a;
  text-decoration: none;
  background-color: transparent;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .btn-link .icon-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20.3px;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .btn-link .icon-text.google-color {
  color: #808080;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .btn-link .icon-text.facebook-color {
  color: #1877f2;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .form-group .btn-link .icon-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  color: #29ab56;
}
.profile-customer__wrapper .profile-content .profile-content__user-info .btn-save {
  padding: 14px 16px 14px 16px;
  border-radius: 2px;
  background-color: #29ab56;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: #fff;
  border: 0;
}
.profile-customer__wrapper .delivery-address {
  padding: 24px;
  height: 655px;
  background-color: #fff;
}
.profile-customer__wrapper .delivery-address .profile-customer__heading {
  border-bottom: 0;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card {
  padding: 16px;
  border-radius: 2px;
  border: 1px solid #858585;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info .customer-info {
  gap: 16px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info .customer-info .customer-name,
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info .customer-info .customer-phone {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info .customer-info .line {
  height: 20px;
  width: 1px;
  background-color: #858585;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info .customer-address,
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-info .customer-email {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .btn-handle__block .btn-handle {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: #525252;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .badge-address {
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.3px;
  border: 0;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .badge-address.btn-origin {
  color: #fff;
  background-color: #29ab56;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .badge-address.btn-other {
  color: #29ab56;
  background-color: #fff;
  border: 1px solid #29ab56;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete {
  background-color: #fff;
  width: 600px;
  border-radius: 0.5rem;
  padding: 32px 24px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body {
  text-align: center;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body .btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body .modal-delete__content .icon-access-delete {
  margin-bottom: 24px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body .modal-delete__content .icon-access-delete img {
  max-width: 100%;
  height: auto;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body .modal-delete__content .notify-delete {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body .modal-delete__content .notify-delete .notify-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #29ab56;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-body .modal-delete__content .notify-delete .notify-subtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #333333;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-footer {
  justify-content: center;
  gap: 24px;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-footer .btn-handled {
  flex: 1;
  border: 0;
  margin: 0;
  padding: 12px 16px 12px 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.3px;
  transition: all 0.4s;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-footer .btn-handled.btn-cancel {
  background-color: #fff;
  color: #29ab56;
  border: 1px solid #29ab56;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-footer .btn-handled.btn-cancel:hover {
  background-color: #29ab56;
  color: #fff;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-footer .btn-handled.btn-access-delete {
  background-color: #29ab56;
  color: #fff;
}
.profile-customer__wrapper .delivery-address .delivery-address__content .delivery-address__list .delivery-address__card .address-handle .modal-delete-dialog .modal-access-delete .modal-delete-footer .btn-handled.btn-access-delete:hover {
  background-color: #139640;
}
.profile-customer__wrapper .delivery-address .btn-add-address {
  margin-top: 24px;
  width: 180px;
  height: 44px;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #29ab56;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #29ab56;
  background-color: transparent;
}
.profile-customer__wrapper .delivery-address .btn-add-address:hover {
  background-color: #29ab56;
  color: #fff;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-header {
  padding: 0;
  border-bottom: 0;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-header .modal-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #333333;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-header .btn-close {
  padding: 7px;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-header .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group label {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
  margin-bottom: 8px;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group .form-control {
  height: 58px;
  padding: 16px;
  border-radius: 2px;
  border: 1px solid #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #000;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group .form-control.form__textarea {
  height: 122px;
  resize: none;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group .form-select {
  height: 58px;
  padding: 16px;
  border-radius: 2px;
  border: 1px solid #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #000;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group .form-select:focus {
  outline: none;
  box-shadow: none;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-body .form-group .form__checkbox {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-footer {
  padding: 0;
  border-top: 0;
  justify-content: start;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-footer .btn__add-address {
  margin: 0;
  border: 0;
  background-color: #29ab56;
  width: 300px;
  padding: 14px 16px 14px 16px;
  border-radius: 2px;
  color: #fff;
}
.profile-customer__wrapper .delivery-address .modal .modal-dialog .modal-content .modal-footer .btn__add-address:hover {
  background-color: #139640;
}
.profile-customer__wrapper .change-password {
  padding: 24px;
  height: 655px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
}
.profile-customer__wrapper .change-password .change-password__form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile-customer__wrapper .change-password .change-password__form .form-group label {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #000;
  margin-bottom: 8px;
}
.profile-customer__wrapper .change-password .change-password__form .form-group .form-control {
  height: 58px;
  padding: 16px;
  border-radius: 2px;
  border: 1px solid #1a1a1a;
}
.profile-customer__wrapper .change-password .change-password__form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.profile-customer__wrapper .change-password .change-password__form .btn__change-password {
  width: 300px;
  padding: 14px 16px 14px 16px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: #fff;
  background-color: #29ab56;
  margin-top: 20px;
  border: 0;
}
.profile-customer__wrapper .change-password .change-password__form .btn__change-password:hover {
  background-color: #139640;
}
.profile-customer__wrapper .user__main-sidebar--content {
  display: none;
  animation: moving 0.5s ease;
}
.profile-customer__wrapper .user__main-sidebar--content.show__main-sidebar--content {
  display: block;
}
@keyframes moving {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=profile-customer.css.map */
