$green: #22AF5B;
$btn--green: #29AB56;
$list-action-color: #22AA00;
$bg-light-success: #C1FFD5;
$bright-green: #22AA00;
$dark-green: #007B2B;
$light-green: #62CD71;
$light-primary: #F0F8FF;
$primary: #2E9DFF;
$bg-light-primary: #F0F8FF;
$bg-light-danger: #FFEBEB;
$text-primary: #0066CC;
$white: white;
$grey: #2F294D;
$text-secondary: #969696;
$text-dark-secondary: #515154;
$border-grey: #DFDFDF;
$icon-secondary: #D9D9D9;
$border-secondary: #E4E4E4;
$bg-light-secondary: #FBFBFB;
$bg-inner-light-secondary: #E4E4E4;
$bg-input-secondary: #F0F0F0;
$light-grey: #C2C2C2;
$main-bg-grey: #F5F5FA;
$inner-icon-input: #A1A1A1;
$inner-text-input: #585858;
$bg-inner-input: #F6F6F6;
$danger: #FF000F;
$black: #000000;
$yellow: #FDD116;
$mobile-width: 480px;
$w-576px: 576px;
$tablet-width: 768px; 
$desktop-width: 1024px;
$w-992px: 992px;
$w-1200px: 1200px;
$w-1400px: 1400px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Responsive media query
@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}
@mixin maxw-576px{
    @media (max-width: #{$w-576px - 1px}) {
        @content;
    }
}
@mixin minw-576px{
    @media (min-width: #{$w-576px}) {
        @content;
    }
}
@mixin maxw-tablet{
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet{
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin minw-tablet{
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}
@mixin maxw-992px{
    @media (max-width: 991px) {
        @content;
    }
}
@mixin minw-992px{
    @media (min-width: 992px) {
        @content;
    }
}
@mixin maxw-desktop{
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin desktop{
    @media (min-width: $desktop-width){
        @content;
    }
}

@mixin minw-1200px{
    @media (min-width: $w-1200px){
        @content;
    }
}
@mixin maxw-1200px{
    @media (max-width: #{$w-1200px - 1px}){
        @content;
    }
}
@mixin minw-1400px{
    @media (min-width: $w-1400px){
        @content;
    }
}
@mixin maxw-1400px{
    @media (max-width: #{$w-1400px - 1px}){
        @content;
    }
}

@mixin btn-status{
    &:active, &:hover{
        @content;
    }
}
@mixin dropdown-btn-status{
    &:active, &:hover, &:focus, &:focus-within, &[aria-expanded="true"]{
        @content;
    }
}

// Customized Elements

// Overflow-hidden customization
@mixin overflow-dot-1{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin overflow-dot-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Số dòng hiển thị */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3; /* Dòng cao cho văn bản */
    max-height: 3.3em; /* 2 dòng x 1.5em dòng cao = 3em */
}
@mixin scroll-no-bar{
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;
    }
}
@mixin scale-hover{
    transform: scale(1.05);
    transition-duration: 0.3s all;
}
@mixin move-down-hover{
    transform: translateY(3px);
    transition: 0.3s all;
}
@mixin move-up-hover{
    transform: translateY(-3px);
    transition: 0.3s all;
}

@mixin btn-outline-green{
    border-color: $btn--green;
    background-color: $white;
    color: $green;
}
@mixin btn-outline-green__hover{
    @include btn-status{
        background-color: $btn--green;
        color: $white;
    }
}

@mixin btn-green{
    border-color: $btn--green ;
    background-color: $btn--green;
    color: $white;
}
@mixin btn-green__hover{
    @include btn-status{
        border-color: $btn--green;
        background-color: $white;
        color: $green;
    }
}