$green: #22AF5B;
$btn__green: #29AB56;
$list-action-color: #22AA00;
$dark-green: #007B2B;
$light-green: #62CD71;
$light-primary: #F0F8FF;
$primary: #2E9DFF;
$white: white;
$grey: #2F294D;
$text-secondary: #969696;
$border-grey: #DFDFDF;
$light-grey: #C2C2C2;
$main-bg-grey: #F5F5FA;
$danger: #FB424F;
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;
$w-992px: 992px;
$w-1200px: 1200px;
$w-1400px: 1400px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Responsive media query
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}
@mixin maxw-tablet{
    @media (max-width: calc(#{$tablet-width} - 1px)) {
        @content;
    }
}
@mixin minw-tablet{
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}
@mixin maxw-992px{
    @media (max-width: 991px) {
        @content;
    }
}
@mixin tablet{
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}
@mixin maxw-desktop{
    @media (max-width: calc(#{$desktop-width} - 1px)) {
        @content;
    }
}
@mixin desktop{
    @media (min-width: #{$desktop-width}){
        @content;
    }
}

@mixin minw-1200px{
    @media (min-width:$w-1200px){
        @content;
    }
}
@mixin maxw-1200px{
    @media (max-width: 1199px){
        @content;
    }
}
@mixin minw-1400px{
    @media (min-width:$w-1400px){
        @content;
    }
}
@mixin maxw-1400px{
    @media (max-width: 1399px){
        @content;
    }
}

@mixin btn-status{
    &:active, &:hover{
        @content;
    }
}
@mixin dropdown-btn-status{
    &:active, &:hover, &:focus, &:focus-within, &[aria-expanded="true"]{
        @content;
    }
}

// Customized Elements
@mixin green-btn-hover-outline{
    background-color: $btn__green;
    color: white;
    @include btn-status{
        border: $btn__green solid 1px;
        background-color: $white;
        color: $btn__green;
    }
}
// Overflow-hidden customization
@mixin overflow-dot-1{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin overflow-dot-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Số dòng hiển thị */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3; /* Dòng cao cho văn bản */
    max-height: 3.3em; /* 2 dòng x 1.5em dòng cao = 3em */
}
@mixin scroll-no-bar{
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;
    }
}
@mixin scale-hover{
    transform: scale(1.05);
    transition-duration: 0.3s all;
}
@mixin move-down-hover{
    transform: translateY(3px);
    transition: 0.3s all;
}
@mixin move-up-hover{
    transform: translateY(-3px);
    transition: 0.3s all;
}