@import "./base";
@import "./cartDetail";
.headerPaymentMethods {
  width: 100%;
  height: 148px;
  background-color: #f5f5fa;
  padding-left: 101px;
  padding-right: 150px;
  div:last-of-type {
    img {
      width: 48px;
      object-fit: contain;
    }
    span {
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 42.19px;
      text-align: left;
    }
  }
}
.paymentMethods {
  display: flex;
  flex-direction: column;
  .btnBackPage {
    margin-bottom: 11px;
    span {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #595959;
    }
  }
  h1 {
    margin-bottom: 13px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: center;
    height: 49px;
  }
  .paymentMethodsMain {
    padding: 40px 46px 70px 44px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    .listSelection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .radioGreen {
        label {
          font-family: Roboto;
          font-size: 19px;
          font-weight: 400;
          line-height: 22.27px;
          letter-spacing: 0.04em;
          text-align: left;
          padding-left: 40px;
          color: #595959;
        }
        [type="radio"]:checked + label {
          color: #139640;
        }
      }
      .radioGreen:first-of-type {
        label {
          color: #c0c0c0;
        }
      }
    }
  }
}
