@media only screen and (max-width: 1000px) {
    /* For mobile phones: 768px */
    .product-mini-filter{
        display: none;
    }
    .result-filter{
        display: none;
    }
    .mobile-result-filter{
        display: block !important;
    }
    .mobile-product-mini-filter{
        display: block !important;
    }
}
@media only screen and (max-width: 768x) {
    /* For mobile phones: 768px */
}