@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --green: #29AB56;
    --light-green: #22AA00;
    --orange: #FC6C1A;
}
*{
    font-family: 'Roboto';
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth !important;
}
/* UNIVERSAL CLASSES */
.fs-small{
    font-size: 12px;
}
.fs-30px{
    font-size: 30px;
}
.fs-17px{
    font-size: 17px !important;
}
.text-green{
    color: var(--green) !important;
}
.bg-green{
    background-color: #19b357 !important;
}
.bg-light-green{
    background-color: #62CD71 !important;
}
.bg-dark-green{
    background-color: #008129 !important;
}
.bg-input-dropdown{
    background-color: var(--light-green);
}
.text-light-green{
    color: #2EAD5B !important;
}
.text-dark-green{
    color: #007B2B;
}
.text-icon-green{
    color: #28BBA2;
}
.border-blue{
    border: 1px #2E9DFF solid;
}
.bg-light-primary{
    background-color: #F0F8FF !important;
}
.bg-light-danger{
    background-color: #FFEBEB !important;
}
.bg-light-success{
    background-color: #E9F6DF !important;
}
.text-zalo{
    color: #0180C7 !important;
}
.text-facebook{
    color: #1877F2 !important;
}
.text-danger{
    color: #FF000F !important;
}
.text-primary{
    color: #2E9DFF !important;
}
.bg-light-orange{
    background-color: #FCAAAF;
}
.text-pink{
    color: #F17185 !important;
}
.bg-orange{
    background-color:  var(--orange) !important;
}
.text-black{
    color: black !important;
}
.text-orange{
    color:  var(--orange) !important;
}
.text-yellow{
    color: #FEC300 !important;
}
.text-grey{
    color: #969696 !important;
}
.text-dark-grey{
    color: #515154 !important;
}
.text-icon-grey{
    color: #A1A1A1 !important;
}
.bg-grey{
    background-color: #FBFBFB !important;
}
.bg-dark-grey{
    background-color: #F0F0F0 !important;
}
.bg-outer-grey{
    background-color: #F5F5FA !important;
}
.tab-pane{
    color: black !important;
}
.bg-blur{
    background-color: rgb(0, 0, 0, 0.4);
}
.border-success{
    border-color: var(--green) !important;
}
.btn-success{
    background-color: var(--green) !important;
}
.btn-outline-success{
    color: var(--green);
    border-color: var(--green) !important;
}
.border-black{
    border-color: black;
}
.no-pointer{
    cursor: context-menu;
}
.vr{
    border: 1px white solid;
    opacity: 1;
}
.recommendation{
    height: 30px;
}

.carousel-indicators > button{
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    border: 2px solid white !important;
    background-color: transparent !important;
}
.carousel-indicators > button.active{
    border-radius: 50% !important;
    border: 1px solid white !important;
    background-color: white !important;
}
.form-check-input:checked{
    background-color: green !important;
    border: 0;
 }
 .form-check-input, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 1px green !important;
 }
 .brand{
    line-height: 0.1;
 }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}
input.no-focus-ring:focus{
    border-color: var(--green) !important;
}
.btn-white{
    background-color: white !important;
    color: black !important;
    font-weight: bold;
}
.btn-white:active{
    background-color: white !important;
    color: var(--green) !important;
    border: var(--green) solid 1px !important;
    font-weight: bold;
}
.btn-outline-success:hover{
    color: var(--green);
    transition: all 0.3s;
    background: #baf9d0 !important;
}
/* HOVER  -  EFFECT*/
#btn-category:hover{
    background-color: #2EAD5B !important;
    color: white;
}
#btn-category:hover i.text-light-green{
    color: white;
}
.hide-scroll-bar::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.result-item-rcm:hover{
    color: white;
    background-color: var(--light-green);
    transition: 0.3s;
}
.result-item-rcm{
    color: black;
    transition: 0.3s;
}
.box-shadow-hover{
    transition: 0.3s all;
}
.box-shadow-hover:hover{
    box-shadow: 0px 0px 5px grey;
    transition: 0.3s all;
}
.dropdown-menu > li >a:hover{
    background-color: var(--light-green) !important;
    color: white !important;
}
.dropdown-menu > li:active{
    background-color: var(--light-green) !important;
}
.dropdown-menu > li > a:active{
    background-color: var(--light-green) !important;
    color: white;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.typer .typer-items a:hover{
    color: #007B2B !important;
}
.scale-hover{
    transform: scale(1);
    transition: all 0.3s;
}
/* .bold-hover{} */
.bold-hover:hover{
    font-weight: bolder;
    transition: all 0.3s;
}
.scale-hover:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.text-black-green-hover:hover{
    color: var(--green) !important;
    transition: 0.3s all;
}
a.border-dark:hover, button.border-dark:hover{
    border: 1px var(--green) solid !important;
    transition: all 0.2s;
}
/* .bg-white-to-green-hover{} */
.bg-white-to-green-hover:hover{
    background-color: var(--light-green) !important;
    color: white;
}
.text-green-to-white-hover:hover{
    color: white !important;
}
.cart-product:hover .text-green{
    color: white !important;
}
/* Sizing Elements */
.w-35px{
    width: 35px;
}
.size-47px{
    width: 47px !important;
    height: 47px !important;
}
.size-16px{
    width: 16px !important;
    height: 16px !important;
}
.h-410{
    height: 410px;
}
.maxh-410px{
    max-height: 410px;
}
.fit-ct{
    width: fit-content;
}
.size-73px{
    width: 73px;
    height: 73px;
}
.w-100px{
    width: 100px;
}
.h-20px{
    height: 20px;
}
.size-120px{
    width: 120px;
    height: 120px;
}
.maxw-190px{
    min-width: 190px;
    max-width: 20px;
}
.maxw-120px{
    min-width: 120px;
    max-width: 130px;
}
.w-1240px{
    width: 1240px;
}
.w-120px{
    width: 120px;
}
.maxw-250px{
    max-width: 250px;
}
.w-240px{
    width: 240px;
}
.minw-500px{
    min-width: 500px;
}
.size-80px{
    height: 80px;
}
.size-30px{
    width: 30px;
    height: 30px;
}
.size-24px{
    width: 24px;
    height: 24px;
}
.overflow-dot-1{
    overflow: hidden;
    text-overflow: ellipsis;
}
.overflow-dot{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Số dòng hiển thị */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5; /* Dòng cao cho văn bản */
    max-height: 3.3em; /* 2 dòng x 1.5em dòng cao = 3em */
}
.no-focus-ring{
    outline: none !important;
    box-shadow: none !important;
}
.object-top.object-start{
    object-position: top left;
}
.object-top.object-end{
    object-position: top right;
}
.object-bottom.object-end{
    object-position: bottom right;
}
.object-top.object-start{
    object-position: bottom left;
}
.object-top.object-center{
    object-position: top center;
}
.object-bottom.object-center{
    object-position: bottom center;
}
.object-center.object-start{
    object-position: center left;
}
.object-center.object-end{
    object-position: center right;
}
.object-top-end{
    object-position: top right;
}
.object-start{
    object-position: left;
}
.object-end{
    object-position: right;
}
.object-center{
    object-position: center;
}
.object-top{
    object-position: top;
}
.object-bottom{
    object-position: bottom;
}
/* ELEMENTs */
.translate-middle-bottom{
    translate: -125px 100%;
}
.btn.text-light-green:focus{
    color: #00BC3C !important;
}
.searchbar > .input-group > ul.start-25 {
    left: 18px !important;
}
.searchbar > .input-group > ul.start-25 > a{
    padding-left: 120px;
}
.btn.text-light-green:hover{
    color: white !important;
}
.dropdown-menu{
    padding: 0px;
    border: 1px;
}
.noti-sign::after{
    content: '1';
    background-color: #F69320;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    border: solid white 1px;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    line-height: 17px;
    cursor: pointer;
}
.typer-items{
    width: 980px;
}
.store-category-tab{
    height: 220px;
    background-image: url('/resources/img/store-category.png');
    background-size: cover;
    transition: all 0.3s;
}
.store-category-text{
    height: 80px;
    background-image: linear-gradient(rgb(0, 129, 41, .3), rgb(0, 129, 41, 1), rgb(0, 129, 41, .3));
    transition: all 0.3s;
}

.typer .typer-items a div{
    transition: 0.3 all ease-in-out;
}
.mall-store-item{
    max-width: 188px;
}
.product-category{
    width: 100px;
    height: 120px;
}
.product-item{
    min-width: 400px;
}
a{
    text-decoration: none;
}
.h-40px{
    height: 40px;
}
.signature{
    font-family: 'Great Vibes';
}
footer > .row > .col{
    max-width: 300px;
}
.arrow-up-shape{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.arrow-up-shape-right{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    right: 10px;
}