// Variables
@import 'variables/variables';
// Universal Components
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.bg-light-primary{
    background-color: $bg-light-primary;
}
.bg-light-danger{
    background-color: $bg-light-danger;
}
.text-red{
    color: #FF000F;
}
.text-blue{
    color: $primary;
}
// Button/Input customization
input{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.mall-tag{
    height: fit-content;
    width: fit-content;
    border-radius: 3px;
    background-color: $green;
    color: $white;
    padding: 0px 10px 0px;
}
.no-focus-ring{
    outline: none !important;
    box-shadow: none !important;
}
.form-check-input:checked{
    background-color: $list-action-color !important;
    border: 0;
}
.form-check-input, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 1px $border-secondary !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  appearance: textfield;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.scroll-no-bar{
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;
    }
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 0;

    /* Small devices (landscape phones, 576px and up) */
    @include minw-576px {
        width: 540px;
    }

    /* Medium devices (tablets, 768px and up) */
    @include minw-tablet{
        width: 720px;
    }

    /* Large devices (desktops, 992px and up) */
    @include minw-992px{
        width: 960px;
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @include minw-1200px{
        width: 1140px;
    }
    @include minw-1400px{
        width: 1240px;
    }
    &--tablet{
        position: relative;
        margin: 0 auto;
        padding: 0;
    
        /* Medium devices (tablets, 768px and up) */
        @include minw-tablet{
            width: 100%;
        }

        /* Large devices (desktops, 992px and up) */
        @include minw-992px{
            width: 960px;
            position: relative;
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @include minw-1200px{
            width: 1140px;
        }
        @include minw-1400px{
            width: 1240px;
        }
    }
    &--mobile{
        margin: 0 auto;
        padding: 0;
        @include minw-576px{
            width: 100%;
        }
    
        /* Medium devices (tablets, 768px and up) */
        @include minw-tablet{
            width: 720px;
        }

        /* Large devices (desktops, 992px and up) */
        @include minw-992px{
            width: 960px;
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @include minw-1200px{
            width: 1140px;
        }
        @include minw-1400px{
            width: 1240px;
        }
    }
}
.dropdown{
    >.dropdown-menu{
        padding: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;
        >li.dropdown-item{
            background-color: $white;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:active, &:hover{
                background-color: $list-action-color !important;
                color: white;
                *{
                    background-color: $list-action-color !important;
                    color: white !important;
                }
            }
        }
    }
    &:hover{
        .dropdown-menu{
            display: block;
        }
    }
}
.btn-group{
    >.dropdown-menu{
        padding: 0;
        border-radius: 0 !important;
        >li.dropdown-item{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: fit-content;
            width: 100%;
            background-color: white;
            &:active, &:hover{
                background-color: $list-action-color !important;
                color: white;
                *{
                    background-color: $list-action-color !important;
                    color: white !important;
                }
            }
        }
    }
}
.btn-outline-primary{
    background-color: $white;
    border: 1px solid $primary;
    padding: 12px 80px 10px;
    &:hover{
        background-color: $primary;
        color: $white;
    }
}

// Elements
li.arrow-up-shape-block{
    position: relative;
    margin-top: 10px;
    .arrow-up-shape{
        width: 0;
        height: 0;
        border-left: 10px solid transparent !important;
        border-right: 10px solid transparent !important;
        border-bottom: 10px solid white !important;
    }
    .arrow-up-shape-right{
        width: 0;
        height: 0;
        border-left: 10px solid transparent !important;
        border-right: 10px solid transparent !important;
        border-bottom: 10px solid white !important;
        position: absolute;
        top: -10px;
        right: 0px;
    }
}

// Hover customization
.scale-hover:hover{
    transition: 0.3s all;
    transform: scale(1.05);
}

.text-primary{
    color: $text-primary;
}

@import 'layouts/footer';
@import 'layouts/header';
@import 'pages/home';
@import 'pages/search';
@import 'pages/product-detail';