<div class="tablet-desktop__footer container">
    <div class="tablet-desktop__footer--top">
        <div class="footer-top__item footer-top__item--desktop-w-50">
            <h5>Hỗ trợ khách hàng</h5>
            <div class="footer-top__item__option">
                <div class="text">Hotline: <strong><a href="tel:+1900-6789" class="text-decoration-none text-black">19006789</a></strong><div>(1.000 đ/phút, 8-21h kể cả T7, CN)</div></div>
                <div class="text"><a href="#" class="text-black">Các câu hỏi thường gặp</a></div>
                <div class="text"><a href="#" class="text-black">Gửi yêu cầu hỗ trợ</a></div>
                <div class="text"><a href="#" class="text-black">Hướng dẫn đặt hàng</a></div>
                <div class="text"><a href="#" class="text-black">Phương thức vận chuyển</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách đổi trả</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách hàng nhập khẩu</a></div>
                <div class="text">Hỗ trợ khách hàng: <a class="text-black" href="mailto:hotro@ommani.vn">hotro@ommani.vn</a></div>
                <div class="text">Báo lỗi bảo mật: <a class="text-black" href="mailto:security@ommani.vn">security@ommani.vn</a></div>
            </div>
        </div>
        <div class="footer-top__item footer-top__item--desktop-w-50">
            <h5>Về Ommanilife</h5>
            <div class="footer-top__item__option">
                <div class="text"><a href="#" class="text-black">Giới thiệu về Ommani</a></div>
                <div class="text"><a href="#" class="text-black">Tuyển dụng</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách bảo mật, thanh toán</a></div>
                <div class="text"><a href="#" class="text-black">Bảo mật thông tin cá nhân</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách giải quyết khiếu nại</a></div>
                <div class="text"><a href="#" class="text-black">Điều khoản sử dụng</a></div>
                <div class="text"><a href="#" class="text-black">Tiếp thị liên kết cùng Ommani</a></div>
                <div class="text"><a href="#" class="text-black">Bán hàng cho doanh nghiệp</a></div>
                <div class="text"><a href="#" class="text-black">Điều kiện vận chuyển</a></div>
            </div>
        </div>
        <div class="footer-top__item footer-top__item--desktop-w-50">
            <h5>Hợp tác và liên kết</h5>
            <div class="footer-top__item__option">
                <div class="text"><a href="#" class="text-black">Quy chế hoạt động sàn GDTMĐT</a></div>
                <div class="text"><a href="#" class="text-black">Bán hàng cùng Ommani</a></div>
            </div>
            <h5>Chứng nhận bởi</h5>
            <div class="footer-top__item__option footer-top__item__option--flex footer-top__item__option--gap-20px">
                <a href="#">
                    <div class="footer-top__item__option--h-40px">
                        <img src="/src/assets/images/photos/system/cert/55068bd31e9b7e3b3915f40733d2327a.png"></img>
                    </div>
                </a>
                <a href="#">
                    <div class="footer-top__item__option--h-40px">
                        <img src="/src/assets/images/photos/system/cert/c26f68b7aff0ca37973fad65919f949c.png"></img>
                    </div>
                </a>
                <a href="#">
                    <div class="footer-top__item__option--h-40px">
                        <img src="/src/assets/images/photos/system/cert/e80ab35ead86ef06afd82dcf0f85b774.png"></img>
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-top__item footer-top__item--desktop-w-50">
            <h5>Phương thức thanh toán</h5>
            <div class="footer-top__item__option--flex footer-top__item__option--gap-10px">
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/visa.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/uim_master-card.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/logos_jcb.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/noto_atm-sign.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/3281259ba2468c54f617c95187421476.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/6ee246e82c238ad76e3723e00880712b.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/c60d6a1bbad7d382d90a0377a7804fc8.png" alt="payment-method-img">
                </div>
                <div class="footer-top__item__option--h-30px">
                    <img src="/src/assets/images/photos/system/payment-method/vnpay.png" alt="payment-method-img">
                </div>
            </div>
            <h5>Dịch vụ giao hàng</h5>
            <div class="footer-top__item__option--customed-w-h">
                <img src="/src/assets/images/photos/system/shipment/5cc832252e5c2d1c19d7a68036c4d1f9.png" alt="giao-hang-tiet-kiem">
            </div>
        </div>
        <div class="footer-top__item footer-top__item--desktop-w-100">
            <div>
                <h5>Kết nối với chúng tôi</h5>
                <div class="footer-top__item__option--flex footer-top__item__option--gap-10px">
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img src="/src/assets/images/photos/system/social-network/1a144b96100ee9bfd8b81f325fbc69e4.png" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img class="footer-top__item__option--h-40px" src="/src/assets/images/photos/system/social-network/9dbe51fb44371b5cce8f45cbbf4ee352.png" alt="">
                        </div>
                        </a>
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img class="footer-top__item__option--h-40px" src="/src/assets/images/photos/system/social-network/f6e9771ca4a0525e5ee5439867a21a83.png" alt="">
                        </div>
                        </a>
                </div>
                <h5>Tải ứng dụng trên điện thoại</h5>
                <div class="footer-top__item__option--flex">
                    <div class="footer-top__item__option--h-70px">
                        <img src="/src/assets/images/photos/system/download/QRCode.png" alt="">
                    </div>
                    <div class="footer-top__item__option ms-4">
                        <a href="#">
                            <div class="footer-top__item__option--h-30px">
                                <img src="/src/assets/images/photos/system/download/25f3bd2c9a831b8052bd5db43d83a0ab.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="footer-top__item__option--h-30px">
                                <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/download/70948c044fc673404626a565b88c3aec.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signature">Made with love!</div>
    <div class="tablet-desktop__footer--bottom">
        <div class="footer-bottom__item">Trụ sở chính: 43 Trần Nguyên Đán, Định Công, Q. Hoàng Mai, TP. Hà Nội</div>
        <div class="footer-bottom__item">Giấy chứng nhận Đăng kí kinh doanh số: 0998999999 do sở kế hoạch và Đầu tư Thành Phố Hà Nội cấp lần đầu ngày 09/09/2022</div>
        <div class="footer-bottom__item">©2022 - Bản quyền của Công ty TNHH Ommani</div>
    </div>
</div>
<div class="mobile__footer container">
    <div class="mobile__footer--top">
        <div class="footer-top__item">
            <a data-bs-toggle="collapse" href="#footer-top__item-1" role="button" aria-expanded="false" aria-controls="footer-top__item-1">
                <h5> Hỗ trợ khách hàng</h5>
            </a>
            <div class="footer-top__item__option collapse" id="footer-top__item-1">
                <div class="text">Hotline: <strong><a href="tel:+1900-6789" class="text-decoration-none text-black">19006789</a></strong><div>(1.000 đ/phút, 8-21h kể cả T7, CN)</div></div>
                <div class="text"><a href="#" class="text-black">Các câu hỏi thường gặp</a></div>
                <div class="text"><a href="#" class="text-black">Gửi yêu cầu hỗ trợ</a></div>
                <div class="text"><a href="#" class="text-black">Hướng dẫn đặt hàng</a></div>
                <div class="text"><a href="#" class="text-black">Phương thức vận chuyển</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách đổi trả</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách hàng nhập khẩu</a></div>
                <div class="text">Hỗ trợ khách hàng: <a class="text-black" href="mailto:hotro@ommani.vn">hotro@ommani.vn</a></div>
                <div class="text">Báo lỗi bảo mật: <a class="text-black" href="mailto:security@ommani.vn">security@ommani.vn</a></div>
            </div>
        </div>
        <div class="footer-top__item">
            <a data-bs-toggle="collapse" href="#footer-top__item-2" role="button" aria-expanded="false" aria-controls="footer-top__item-2">
                <h5>Về Ommanilife</h5>
            </a>
            <div class="footer-top__item__option collapse" id="footer-top__item-2">
                <div class="text"><a href="#" class="text-black">Giới thiệu về Ommani</a></div>
                <div class="text"><a href="#" class="text-black">Tuyển dụng</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách bảo mật, thanh toán</a></div>
                <div class="text"><a href="#" class="text-black">Bảo mật thông tin cá nhân</a></div>
                <div class="text"><a href="#" class="text-black">Chính sách giải quyết khiếu nại</a></div>
                <div class="text"><a href="#" class="text-black">Điều khoản sử dụng</a></div>
                <div class="text"><a href="#" class="text-black">Tiếp thị liên kết cùng Ommani</a></div>
                <div class="text"><a href="#" class="text-black">Bán hàng cho doanh nghiệp</a></div>
                <div class="text"><a href="#" class="text-black">Điều kiện vận chuyển</a></div>
            </div>
        </div>
        <div class="footer-top__item">
            <a data-bs-toggle="collapse" href="#footer-top__item-3" role="button" aria-expanded="false" aria-controls="footer-top__item-3">
                <h5>Hợp tác và liên kết</h5>
            </a>
            <div class="footer-top__item__option collapse" id="footer-top__item-3">
                <div class="text"><a href="#" class="text-black">Quy chế hoạt động sàn GDTMĐT</a></div>
                <div class="text"><a href="#" class="text-black">Bán hàng cùng Ommani</a></div>
            </div>
        </div>
        <div class="footer-top__item">
            <a data-bs-toggle="collapse" href="#footer-top__item-4" role="button" aria-expanded="false" aria-controls="footer-top__item-4">
                <h5>Chứng nhận bởi</h5>
            </a>
            <div class="collapse footer-top__item__option" id="footer-top__item-4">
                <div class="footer-top__item__option--flex footer-top__item__option--gap-20px">
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img src="/src/assets/images/photos/system/cert/55068bd31e9b7e3b3915f40733d2327a.png">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img src="/src/assets/images/photos/system/cert/c26f68b7aff0ca37973fad65919f949c.png">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img src="/src/assets/images/photos/system/cert/e80ab35ead86ef06afd82dcf0f85b774.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-top__item">
            <a data-bs-toggle="collapse" href="#footer-top__item-5" role="button" aria-expanded="false" aria-controls="footer-top__item-5">
                <h5 class="pb-2">Phương thức thanh toán</h5>
            </a>
            <div id="footer-top__item-5" class="collapse">
                <div class="footer-top__item__option--flex footer-top__item__option--gap-10px">
                    <div class="footer-top__item__option--h-30px">
                        <img src="/src/assets/images/photos/system/payment-method/visa.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/uim_master-card.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/logos_jcb.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/noto_atm-sign.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/3281259ba2468c54f617c95187421476.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/6ee246e82c238ad76e3723e00880712b.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/c60d6a1bbad7d382d90a0377a7804fc8.png" alt="payment-method-img">
                    </div>
                    <div class="footer-top__item__option--h-30px">
                        <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/payment-method/vnpay.png" alt="payment-method-img">
                    </div>
                </div>
                <h5 class="py-2">Dịch vụ giao hàng</h5>
                <div class="footer-top__item__option--customed-w-h">
                    <img src="/src/assets/images/photos/system/shipment/5cc832252e5c2d1c19d7a68036c4d1f9.png" alt="giao-hang-tiet-kiem">
                </div>
            </div>
        </div>
        <div class="footer-top__item">
            <a data-bs-toggle="collapse" href="#footer-top__item-6" role="button" aria-expanded="false" aria-controls="footer-top__item-6">
                <h5>Kết nối với chúng tôi</h5>
            </a>
            <div class="collapse" id="footer-top__item-6">
                <div class="footer-top__item__option--flex footer-top__item__option--gap-10px">
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img src="/src/assets/images/photos/system/social-network/1a144b96100ee9bfd8b81f325fbc69e4.png" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img class="footer-top__item__option--h-40px" src="/src/assets/images/photos/system/social-network/9dbe51fb44371b5cce8f45cbbf4ee352.png" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="footer-top__item__option--h-40px">
                            <img class="footer-top__item__option--h-40px" src="/src/assets/images/photos/system/social-network/f6e9771ca4a0525e5ee5439867a21a83.png" alt="">
                        </div>
                    </a>
                </div>
                <h5>Tải ứng dụng trên điện thoại</h5>
                <div class="footer-top__item__option--flex">
                    <div class="footer-top__item__option--h-70px">
                        <img src="/src/assets/images/photos/system/download/QRCode.png" alt="">
                    </div>
                    <div class="footer-top__item__option ms-4">
                        <a href="#">
                            <div  class="footer-top__item__option--h-30px">
                                <img src="/src/assets/images/photos/system/download/25f3bd2c9a831b8052bd5db43d83a0ab.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div  class="footer-top__item__option--h-30px">
                                <img class="footer-top__item__option--h-30px" src="/src/assets/images/photos/system/download/70948c044fc673404626a565b88c3aec.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signature">Made with love!</div>
    <div class="mobile__footer--bottom">
        <div class="footer-bottom__item">Trụ sở chính: 43 Trần Nguyên Đán, Định Công, Q. Hoàng Mai, TP. Hà Nội</div>
        <div class="footer-bottom__item">Giấy chứng nhận Đăng kí kinh doanh số: 0998999999 do sở kế hoạch và Đầu tư Thành Phố Hà Nội cấp lần đầu ngày 09/09/2022</div>
        <div class="footer-bottom__item">©2022 - Bản quyền của Công ty TNHH Ommani</div>
    </div>
</div>