<div class="tablet-desktop_header">
    <div class="header-helper container">
        <div class="header-helper__block header-helper__block--left">
            <div class="header-helper__item"><a href="#">Trở thành người bán</a></div>
            <div class="header-helper__divider"></div>
            <div class="header-helper__item"><a href="">Trở thành người bán</a></div>
            <div class="header-helper__divider"></div>
            <div class="header-helper__item"><a href="">Download app</a></div>
            <div class="header-helper__divider"></div>
            <div class="header-helper__item"><a href="">Kết nối</a></div>
        </div>
        <div class="header-helper__block header-helper__block--right">
            <div class="header-helper__item"><a href="#">OCCOP</a></div>
            <div class="header-helper__item"><a href="#">Hỗ trợ thông tin</a></div>
            <div class="header-helper__item"><a href="#">Vận chuyển</a></div>
        </div>
    </div>
    <div class="header-search container">
        <div class="header-search__logo">
            <img src="/src/assets/images/photos/system/LOGO.png" alt="">
        </div>
        <div class="btn-group header-search__location-btn-group">
            <button type="button" class="btn location__btn dropdown-toggle rounded-1" data-bs-toggle="dropdown" aria-expanded="false"  data-bs-auto-close="outside">
                <div class="location__img">
                    <img src="/src/assets/images/icons/map-pin.svg" alt="">
                </div>
                Thanh Xuân
            </button>
            <ul class="header-search__location-btn-group-menu dropdown-menu">
                <li class="form-check location-dropdown-option">
                    <input class="form-check-input" type="radio" name="locationDropdown" value="default" id="default-location" checked>
                    <label class="form-check-label" for="default-location">
                        Thanh Xuân, Hà Nội
                    </label>
                </li>
                <li class="form-check location-dropdown-option">
                    <input class="form-check-input" type="radio" name="locationDropdown" value="other" id="other-location">
                    <label class="form-check-label" for="other-location">
                        Chọn địa chỉ của bạn
                    </label>
                </li>
            </ul>
        </div>
        <div class="header-search__main-search-group flex-fill">
            <div class="btn-group content">
                <div class="btn-group search-type__btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Sản phẩm
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="#">Nhà Bán hàng</a></li>
                        <li class="dropdown-item"><a href="#">Thương Hiệu</a></li>
                    </ul>
                </div>
                <div class="main-search__divider"></div>
                <input type="text" class="form-control main-search__input" placeholder="Nhập sản phẩm cần tìm kiếm" data-bs-toggle="dropdown" aria-expanded="false">
                <button class="btn search-btn"><img src="/src/assets/images/icons/li_search.svg" alt=""></button>
                <ul class="main-search__btn-group dropdown-menu">
                    <li class="dropdown-item"><div><a href="#">Bông cải xanh</a></div></li>
                    <li class="dropdown-item"><a href="#">Bông cải xanh Đà Lạt</a></li>
                    <li class="dropdown-item"><a href="#">Bông cải</a></li>
                    <li class="dropdown-item"><a href="#">Bông cải sạch</a></li>
                </ul>
            </div>
            <div class="recommendation">
                <div class="recommendation__content">
                    <a href="#">Trái cây</a>
                    <a href="#">thịt, trứng</a>
                    <a href="#">rau, củ, quả</a>
                    <a href="#">sữa, bơ, phô mai</a>
                    <a href="#">hải sản</a>
                    <a href="#">gạo, mì ăn liền</a>
                    <a href="#">bánh, kẹo</a>
                </div>
            </div>
        </div>
        <div class="header-search__utilities-group d-flex align-items-top">
            <div class="utility-item utility-item__notification">
                <a href="#" class="btn utility-item__btn">
                    <img src="/src/assets/images/icons/bell.svg" alt="">
                    <div class="utility-item__badge">13</div>
                </a>
            </div>
            <div class="utility-item utility-item__message">
                <a href="#" class="btn utility-item__btn">
                    <img src="/src/assets/images/icons/message.svg" alt="">
                    <div class="utility-item__badge">2</div>
                </a>
            </div>
            <div class="dropdown utility-item utility-item__cart cart-section">
                <a href="#" class="btn cart-btn utility-item__btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/src/assets/images/icons/li_shopping-cart.svg" alt="">
                    <div class="utility-item__badge">3</div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="arrow-up-shape-block">
                        <div class="arrow-up-shape-right"></div>
                    </li>
                    <div class="dropdown-item__caption">Sản phẩm mới thêm</div>
                    <li class="dropdown-item">
                        <a href="#">
                            <div class="dropdown-item__product-img">
                                <img src="/src/assets/images/photos/product/product-img/538ff02656bbdcdd21363fb14015360f.jpg" alt="">
                            </div>
                            <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                            <div class="dropdown-item__product-price">₫ 59.000</div>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">
                            <div class="dropdown-item__product-img">
                                <img src="/src/assets/images/photos/product/product-img/3bf2969bdee5826040d4f0dc0760eddd.jpg" alt="">
                            </div>
                            <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                            <div class="dropdown-item__product-price">₫ 59.000</div>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">
                            <div class="dropdown-item__product-img">
                                <img src="/src/assets/images/photos/product/product-img/ba49eceff2beeedc7d81eaa026134953.jpg" alt="">
                            </div>
                            <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                            <div class="dropdown-item__product-price">₫ 59.000</div>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">
                            <div class="dropdown-item__product-img">
                                <img src="/src/assets/images/photos/product/product-img/e4c1918fde6ffcb619ba3c5d5d5a5ea3.jpg" alt="">
                            </div>
                            <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                            <div class="dropdown-item__product-price">₫ 590.000.000.000.000</div>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">
                            <div class="dropdown-item__product-img">
                                <img src="/src/assets/images/photos/product/product-img/f1829abc47f6e724a824b6bc16c634fc.jpg" alt="">
                            </div>
                            <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                            <div class="dropdown-item__product-price">₫ 59.000</div>
                        </a>
                    </li>
                    <div class="dropdown-item__total-price">
                        <div>78 thêm vào giỏ hàng</div>
                        <div>
                            <button class="btn dropdown-item__total-price__btn">Xem giỏ hàng</button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="header-search__user-section d-flex">
            <div class="responsive--signin-signup-group-dropdown dropdown">
                <a href="#" class="user-section__avatar">
                    <img src="/src/assets/images/icons/carbon_user-avatar.svg" alt="">
                </a>
                <ul class="dropdown-menu">
                    <li class="arrow-up-shape-block"><div class="arrow-up-shape-right"></div></li>
                    <li class="dropdown-item"><a class=" w-100" href="/views/login/login.html">Đăng nhập</a></lic>
                    <li class="dropdown-item"><a class=" w-100" href="/views/login/signup.html">Đăng ký</a></li>
                </ul>
            </div>
            <div class="user-section__avatar">
                <img src="/src/assets/images/icons/carbon_user-avatar.svg" alt="">
            </div>
            <div class="signin-signup-group">
                <div class="option"><a href="#" class="text-nowrap">Đăng nhập</a></div>
                <div class="option"><a href="#" class="text-nowrap">Đăng ký</a></div>
            </div>
        </div>
    </div>
    <div class="header-category">
        <div class="container">
            <div class="header-category__tab btn-group">
                <button type="button" class="btn header-category__btn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <div class="tab-item__img"><img src="/src/assets/images/icons/li_layout-grid.svg" alt=""></div>
                    <span>Tất cả</span>
                </button>
                <ul class="dropdown-menu tab-content">
                    <li class="dropdown-item tab-item">
                        <a href="#" class="tab-item__topic">
                            <div class="tab-item__img">
                                <img src="/src/assets/images/icons/store.svg" alt="store-icon">
                            </div>
                            <span>Cửa hàng Nông nghiệp</span>
                            <div class="tab-item__img--arrow">
                                <img src="/src/assets/images/icons/li_chevron-right.svg" alt="">
                            </div>
                        </a>
                        <div class="tab-item__content">
                            <div class="content__block">
                                <a href="#" class="block__title">
                                    Vật tư Nông nghiệp
                                </a>
                                <div class="block__content">
                                    <a href="#" class="content-item">Rau xanh</a>
                                    <a href="#" class="content-item">Hoa</a>
                                    <a href="#" class="content-item">Hạt</a>
                                    <a href="#" class="content-item">Hạt giống</a>
                                    <a href="#" class="content-item">Chăn nuôi</a>
                                    <a href="#" class="content-item">Thuỷ sản</a>
                                    <a href="#" class="content-item">Lâm nghiệp</a>
                                    <a href="#" class="content-item">Diêm nghiệp</a>
                                    <a href="#" class="content-item">Nước</a>
                                </div>
                            </div>
                            <div class="content__block">
                                <a href="#" class="block__title">
                                    Thực phẩm Nông nghiệp
                                </a>
                                <div class="block__content">
                                    <a href="#" class="content-item">Thực phẩm khô</a>
                                    <a href="#" class="content-item">Thực phẩm tươi sống</a>
                                    <a href="#" class="content-item">Thực phẩm đông lạnh</a>
                                    <a href="#" class="content-item">Đồ uống</a>
                                    <a href="#" class="content-item">Bánh kẹo</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-item tab-item">
                        <a href="#" class="tab-item__topic">
                            <div class="tab-item__img">
                                <img src="/src/assets/images/icons/eos-icons_service-outlined.svg" alt="store-icon">
                            </div>
                            <span>Dịch vụ Nông nghiệp</span>
                            <div class="tab-item__img--arrow">
                                <img src="/src/assets/images/icons/li_chevron-right.svg" alt="">
                            </div>
                        </a>
                        <div class="tab-item__content">
                            <div class="content__block">
                                <div class="block__content">
                                    <a href="#" class="content-item">Công cụ, dụng cụ Nông nghiệp</a>
                                    <a href="#" class="content-item">Thức ăn chăn nuôi</a>
                                    <a href="#" class="content-item">Thuốc bảo vệ thực vật</a>
                                    <a href="#" class="content-item">Thú ý</a>
                                    <a href="#" class="content-item">Du lịch</a>
                                    <a href="#" class="content-item">Bất động sản nông nghiệp</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-item tab-item">
                        <a href="#" class="tab-item__topic">
                            <div class="tab-item__img">
                                <img src="/src/assets/images/icons/gyroscope.svg" alt="store-icon">
                            </div>
                            <span>Thương mại</span>
                            <div class="tab-item__img--arrow">
                                <img src="/src/assets/images/icons/li_chevron-right.svg" alt="">
                            </div>
                        </a>
                        <div class="tab-item__content">
                            <div class="content__block">
                                <div class="block__content">
                                    <a href="#" class="content-item">Tư vấn Marketing</a>
                                    <a href="#" class="content-item">Đăng ký sản phẩm thương mại hoá</a>
                                    <a href="#" class="content-item">Đăng ký nhận tín dụng</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-item tab-item">
                        <a href="#" class="tab-item__topic">
                            <div class="tab-item__img">
                                <img src="/src/assets/images/icons/scaler.svg" alt="store-icon">
                            </div>
                            <span>Pháp lý</span>
                            <div class="tab-item__img--arrow">
                                <img src="/src/assets/images/icons/li_chevron-right.svg" alt="">
                            </div>
                        </a>
                        <div class="tab-item__content">
                            <div class="content__block">
                                <div class="block__content">
                                    <a href="#" class="content-item">Chứng nhận</a>
                                    <a href="#" class="content-item">Giám định</a>
                                    <a href="#" class="content-item">Thủ tục IE</a>
                                    <a href="#" class="content-item">Liên kết vận chuyển</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-item tab-item">
                        <a href="#" class="tab-item__topic">
                            <div class="tab-item__img">
                                <img src="/src/assets/images/icons/scaler.svg" alt="store-icon">
                            </div>
                            <span>Thông tin</span>
                            <div class="tab-item__img--arrow">
                                <img src="/src/assets/images/icons/li_chevron-right.svg" alt="">
                            </div>
                        </a>
                        <div class="tab-item__content">
                            <div class="content__block">
                                <div class="block__content">
                                    <a href="#" class="content-item">Blog kiến thức</a>
                                    <a href="#" class="content-item">Hỏi đáp chuyên gia</a>
                                    <a href="#" class="content-item">Cổng thông tin xúc tiến Thương mại</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-category__tab">
                <button type="button" class="btn header-category__btn" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <div class="tab-item__img">
                        <img src="/src/assets/images/icons/map.svg" alt="">
                    </div>
                    <span>Tìm theo vị trí</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mobile_header container">
    <div class="mobile_header__user-section dropdown">
        <a href="#" class="user-section__avatar">
            <img src="/src/assets/images/icons/carbon_user-avatar.svg" alt="">
        </a>
        <ul class="dropdown-menu">
            <li class="arrow-up-shape-block"><div class="arrow-up-shape"></div></li>
            <li class="dropdown-item">
                <a href="/views/login/login.html">Đăng nhập</a>
            </lic>
            <li class="dropdown-item">
                <a class=" bg-info" href="/views/login/signup.html">Đăng ký</a>
            </li>
        </ul>
    </div>
    <div class="mobile_header__logo">
        <img src="/src/assets/images/photos/system/LOGO.png" alt="">
    </div>
    <div class="mobile_header__cart dropdown cart-section">
        <a href="#" class="btn cart-btn utility-item__btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/src/assets/images/icons/li_shopping-cart.svg" alt="">
            <div class="utility-item__badge">3</div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li class="arrow-up-shape-block">
                <div class="arrow-up-shape-right"></div>
            </li>
            <div class="dropdown-item__caption">Sản phẩm mới thêm</div>
            <li class="dropdown-item">
                <a href="#">
                    <div class="dropdown-item__product-img">
                        <img src="/src/assets/images/photos/product/product-img/538ff02656bbdcdd21363fb14015360f.jpg" alt="">
                    </div>
                    <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                    <div class="dropdown-item__product-price">₫ 59.000</div>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <div class="dropdown-item__product-img">
                        <img src="/src/assets/images/photos/product/product-img/3bf2969bdee5826040d4f0dc0760eddd.jpg" alt="">
                    </div>
                    <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                    <div class="dropdown-item__product-price">₫ 59.000</div>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <div class="dropdown-item__product-img">
                        <img src="/src/assets/images/photos/product/product-img/ba49eceff2beeedc7d81eaa026134953.jpg" alt="">
                    </div>
                    <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                    <div class="dropdown-item__product-price">₫ 59.000</div>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <div class="dropdown-item__product-img">
                        <img src="/src/assets/images/photos/product/product-img/e4c1918fde6ffcb619ba3c5d5d5a5ea3.jpg" alt="">
                    </div>
                    <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                    <div class="dropdown-item__product-price">₫ 590.000.000.000.000</div>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#">
                    <div class="dropdown-item__product-img">
                        <img src="/src/assets/images/photos/product/product-img/f1829abc47f6e724a824b6bc16c634fc.jpg" alt="">
                    </div>
                    <div class="dropdown-item__product-name">Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%, héo queo, héo quắt</div>
                    <div class="dropdown-item__product-price">₫ 59.000</div>
                </a>
            </li>
            <div class="dropdown-item__total-price">
                <div>78 thêm vào giỏ hàng</div>
                <div>
                    <button class="btn dropdown-item__total-price__btn">Xem giỏ hàng</button>
                </div>
            </div>
        </ul>
    </div>
</div>