<!-- top bar mobile -->
<!-- <div class="notification-bar">
    <span>9:41</span>
    <img src="../assets/svg/leftTopbarMobile.svg" alt="">
</div> -->
<!-- top bar mobile -->

<!-- header -->
<header class="Header">
  <div class="container-xxl h-100 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between">
      <div class="Header__option-left">
        <a href="#">Kênh người bán</a>
        <div class="divideV"></div>
        <a href="#">Trở thành người bán</a>
        <div class="divideV"></div>
        <a href="#">Download App</a>
        <div class="divideV"></div>
        <a href="#">Kết nối</a>
      </div>
      <div class="Header__option-right">
        <a href="#">OCOP</a>
        <a href="#">Hỗ trợ thông tin</a>
        <a href="#">Vận chuyển</a>
      </div>
    </div>
    <div
      class="Header__bottom align-items-xl-end align-items-center"
    >
      <!-- logo -->
      <a href="#" class="Header__logo">
        <img src="../assets/svg/logomain.svg" alt="" />
      </a>
      <!-- choose address -->
      <button class="Header__address">
        <img src="../assets/svg/position.svg" alt="" />
        <span class="Roboto12">Thanh Xuân</span>
        <img src="../assets/svg/li_chevron-down.svg" alt="" />
      </button>
      <!-- search -->
      <div class="Header__search">
        <div class="Header__searchBar">
          <button class="Header__searchBar-filter">
            <span class="Roboto14">Sản phẩm</span>
            <img src="../assets/svg/li_chevron-green.svg" alt="" />
          </button>
          <input
            class="Header__searchBar-input"
            placeholder="Nhập sản phẩm cần tìm kiếm..."
            type="text"
          />
          <button class="Header__searchBar-find">
            <img src="../assets/svg/li_search.svg" alt="" />
          </button>
          
        </div>
        <div class="Header__listCategory d-lg-flex d-none">
          <a href="#">Trái cây</a>
          <a href="#">thịt, trứng</a>
          <a href="#">rau, củ, quả</a>
          <a href="#">sữa, bơ, phô mai</a>
          <a href="#">hải sản</a>
          <a href="#">gạo, mì ăn liền</a>
          <a href="#">bánh, kẹo</a>
        </div>
        <div class="Header__searchBar-dropdown">
          <a href="#" class="seach__item">Bông cải xanh</a>
          <a href="#" class="seach__item">Bông Cải Xanh Đà Lạt</a>
          <a href="#" class="seach__item">Bông Cải</a>
        </div>

      </div>
      <!-- bell -->
      <a href="#" class="Header__notification">
        <img src="../assets/svg/bell.svg" alt="" />
      </a>
      <!-- message -->
      <a href="#" class="Header__message">
        <img src="../assets/svg/message.svg" alt="" />
      </a>
      <!-- cart -->
      <div class="Header__cart dropdown">
        <button
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-offset="-330,16"
              data-bs-auto-close="outside"
              class="btnDropdown"
            >
            <img src="../assets/svg/cart.svg" alt="">
        </button>
        <div class="Header__cart-popover dropdown-menu">
          <div class="arrow">
          </div>
          <div class="Header__cart-content">
            <span class="newAdd">
              Sản phẩm mới thêm
            </span>
            <div class="Header__cart-list">
              <div class="Header__cart-item">
                <div class="info">
                  <img src="../assets/svg/cartit1.svg" alt="">
                  <span>Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%</span>
                </div>
                <div class="cost">đ 59.000</div>
              </div>
              <div class="Header__cart-item">
                <div class="info">
                  <img src="../assets/svg/cartit2.svg" alt="">
                  <span>Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%</span>
                </div>
                <div class="cost">đ 59.000</div>
              </div>
              <div class="Header__cart-item">
                <div class="info">
                  <img src="../assets/svg/cartit3.svg" alt="">
                  <span>Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%</span>
                </div>
                <div class="cost">đ 59.000</div>
              </div>
              <div class="Header__cart-item">
                <div class="info">
                  <img src="../assets/svg/cartit4.svg" alt="">
                  <span>Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%</span>
                </div>
                <div class="cost">đ 59.000</div>
              </div>
              <div class="Header__cart-item">
                <div class="info">
                  <img src="../assets/svg/cartit5.svg" alt="">
                  <span>Bông cải xanh 100g nội địa Nhật Bản và tự nhiên 100%</span>
                </div>
                <div class="cost">đ 59.000</div>
              </div>
            </div>
            <div class="footer">
              <span>78 thêm hàng vào giỏ</span>
              <button>Xem giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
      <!-- userloginSignup -->
      <div class="Header__user">
        <img
          class="Header__user-avt"
          src="../assets/svg/carbon_user-avatar.svg"
          alt=""
        />
        <div class="Header__noLogin ">
          <a href="#">Đăng nhập</a>
          <a href="#">Đăng ký</a>
        </div>

        <div class="Header__infoUser dropdown">
          <button 
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-auto-close="outside"
              class="Header__infoUser-btn btnDropdown"
              data-bs-offset="-100,20"

          >
            <div class="option-user">
              <span class="tk">Tài khoản</span>
              <span class="username">Hoàng Anh</span>
            </div>
            <img src="../assets/svg/li_chevron-down.svg" alt="" />
          </button>


          
          <div class="Header__infoUser-popover dropdown-menu" >
            <div class="arrow"></div>
            <div class="Header__infoUser-content">
              <div class="option">Tài khoản của tôi</div>
              <div class="option">Đơn mua</div>
              <div class="option">Đăng xuất</div>
            </div>
            
          </div>
        </div>
      </div>
      </div>
            <!-- search mobile -->
            <div class="Header__searchMobile">
              <img src="../assets/svg/icSearchmobile.svg" alt="">
              <input type="text" class="Header__searchMobile-input" placeholder="Nhập sản phẩm cần tìm kiếm...">
            </div>
    </div>
  </div>
</header>

<!-- filter -->
<div class="filter-container d-lg-block d-none">
  <div class="filter-container_content container-xxl">
    <a href="#" class="filter-item">
      <img src="../assets/images/li_layout-grid.png" alt="" />
      <span>Tất cả</span>
    </a>
    <a href="#" class="filter-item">
      <img src="../assets/images/iconoir_small-shop-alt.png" alt="" />
      <span>Tìm theo vị trí</span>
    </a>
  </div>
</div>


